force-app/main/default/flows/Alteracao_Proposta_Orcamentista.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Task_Fields</name>
        <label>Set Task Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoMobiliario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoMobiliario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoEstrutural__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoEstrutural</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoEletrodomesticos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoEletrodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoLavaLoicas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoLavaLoicas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoTampos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoTampos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoTorneiras__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoTorneiras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoMobiliarioInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoMobiliarioInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoLavaLoicasInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoLavaLoicasInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoTamposInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoTamposInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoTorneirasInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoTorneirasInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoEletrodomesticosInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoEletrodomesticosInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoEstruturalInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoEstruturalInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AlteracaoPropostaOrcamentista_RecType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.MotivoAlteracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MotivoAlteracao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.AlteracaoModeloCozinha__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlteracaoModeloCozinha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Choice_AlteracaoModeloCozinha</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AlteracaoModeloCozinha__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_MotivoAlteracao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoAlteracao__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fml_Tomorrow</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <interviewLabel>Alteração da Proposta Orçamentista {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alteração da Proposta Orçamentista</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AlteracaoPropostaOrcamentista_RecType</name>
        <label>Get AlteracaoPropostaOrcamentista RecType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Task_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AlteracaoPropostaOrcamentista</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Queue</name>
        <label>Get Default Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AlteracaoPropostaOrcamentista_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orcamentistas_Lisboa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Task</name>
        <label>Screen - Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Default_Queue</targetReference>
        </connector>
        <fields>
            <name>Screen_Task_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Task_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Alteração da Proposta Orçamentista</stringValue>
                    </defaultValue>
                    <fieldText>Assunto</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MotivoAlteracao</name>
                    <choiceReferences>Choice_MotivoAlteracao</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motivo das Alterações</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Task_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DueDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fml_Tomorrow</elementReference>
                    </defaultValue>
                    <fieldText>Data de Vencimento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoModeloCozinha</name>
                    <choiceReferences>Choice_AlteracaoModeloCozinha</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Alteracao de modelo de cozinha para</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Task_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Task_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AlteracaoMobiliario</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alteração de disposição de mobiliário existente</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoMobiliarioInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes - Alteracao de Mobiliario</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoMobiliario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AlteracaoEletrodomesticos</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alterações de Eletrodomésticos</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoEletrodomesticosInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes - Eletrodomésticos</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoEletrodomesticos</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AlteracaoLavaLoicas</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alterações de Lava-loiças</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoLavaLoicasInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes - Alterações de Lava-loiças</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoLavaLoicas</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Task_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AlteracaoEstrutural</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alteração estrutural ao projeto</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoEstruturalInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes- Alteracao Estrutural</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoEstrutural</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AlteracaoTorneiras</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alterações de Torneiras</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoTorneirasInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes - Alterações de Torneiras</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoTorneiras</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AlteracaoTampos</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Alterações de Tampos</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AlteracaoTamposInfo</name>
                    <dataType>String</dataType>
                    <fieldText>Detalhes - Alterações de Tampos</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AlteracaoTampos</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comentários</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Task</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
