force-app/main/default/flows/Criar_Tarefa_de_Follow_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Fazer follow com o cliente após suporte - para fecho da Oportunidade</description>
        <name>Criar_Tarefa_Suporte</name>
        <label>Criar Tarefa Suporte</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Obter_Owner_Id_da_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DataLimite</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Fazer follow-up com o cliente após suporte </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificaOwnerSuporteEncerrado</name>
        <label>NotificaOwnerSuporteEncerrado</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Percorrer_Owners</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CorpoNotificacaodeFinaldeSuporte</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CorpoNotificacaodeFinaldeSuporte</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TituloNotificaOwnerProcessoSuporte</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>DataLimite</name>
        <dataType>Date</dataType>
        <expression>Today()+2</expression>
    </formulas>
    <interviewLabel>Criar Tarefa de Follow-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Tarefa de Follow-up</label>
    <loops>
        <name>Percorrer_Owners</name>
        <label>Percorrer Owners</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>OwnerIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NotificaOwnerSuporteEncerrado</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Owner_Id_da_Opp</name>
        <label>Obter Owner Id da Opp</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Percorrer_Owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criar_Tarefa_Suporte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fechada Ganha</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fechada Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processo_de_Suporte_Encerrado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Processo_de_Suporte_Encerrado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>Notifica o owner da Oportunidade que o processo de suporte a Entrega de Mercadorias e Instalações foi concluído</description>
        <name>CorpoNotificacaodeFinaldeSuporte</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A oportunidade {!$Record.Id} do cliente {!$Record.Account.Id} finalizou o processo de suporte . Incidências de Entregas e Instalações encerradas .&lt;/p&gt;&lt;p&gt;Pode avançar com o processo de Fecho da Oportunidade.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Novo Alerta de Conclusão das Incidências.</description>
        <name>TituloNotificaOwnerProcessoSuporte</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Novo Alerta de Conclusão das Incidências.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
