force-app/main/default/flows/Daily_Task_Check_for_Pendente_Mercadoria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Task_Common_Vars</name>
        <label>Set Task Common Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_by_Store.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Subject_D_4</name>
        <label>Set Task Subject D+4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HUB - Analise a 4 dias da entrega</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Common_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Subject_D_7</name>
        <label>Set Task Subject D+7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HUB - Analise a 7 dias da entrega</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Common_Vars</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Data_entrega_combinada_com_cliente</name>
        <label>Data entrega combinada com cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>D_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Analise_Logistica_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fml_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Subject_D_7</targetReference>
            </connector>
            <label>D+7</label>
        </rules>
        <rules>
            <name>D_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Analise_Logistica_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fml_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Subject_D_4</targetReference>
            </connector>
            <label>D+4</label>
        </rules>
    </decisions>
    <decisions>
        <description>Runs only if the due date is at least 7 days from now.</description>
        <name>Should_Run</name>
        <label>Should Run?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ShouldRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promessa__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>D_Plus_7_fml</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promessa__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fml_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Store_Queue_Metadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Checks daily for Pendente Mercadorias for their due date and creates Tasks accordingly.</description>
    <environments>Default</environments>
    <formulas>
        <name>D_Plus_7_fml</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>fml_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Daily Trigger for Pendente Mercadoria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Task Check for Pendente Mercadoria</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_by_Store</name>
        <label>Get Queue by Store</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_entrega_combinada_com_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Store_Queue_Metadata.QueueName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Queue_Metadata</name>
        <label>Get Store Queue Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_by_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StoreName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__r.Loja_de_Angariacao__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StoreQueueMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entrega_ConfirmadaSN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Entrega__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-03</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
