force-app/main/default/flows/LM_Assistencia_Tecnica_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Causa_Produto</name>
        <label>Set Causa Produto</label>
        <locationX>248</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Causa_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Produto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Screen_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instalador_da_OS</name>
        <label>Set Instalador da OS</label>
        <locationX>512</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>varOrder.InstaladorDaOS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstaladorDaOS_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Screen_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Confirmado</name>
        <label>Set Order Confirmado</label>
        <locationX>248</locationX>
        <locationY>3650</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_selectedVarStore</name>
        <label>Set selectedVarStore</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_varOrder</name>
        <label>Set Updated varOrder</label>
        <locationX>380</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>varOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Instalador2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_varStore</name>
        <label>Set User varStore</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varMetadata</name>
        <label>Set varMetadata</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varOrder</name>
        <label>Set varOrder</label>
        <locationX>380</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Product_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seccao_Produto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instalacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Talao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Data_da_Fatura_AT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Compra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Referencia_LM_do_Artigo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referencia_LM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Designacao_do_Artigo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designacao_Artigo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Tipo_de_Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Produto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Tipo_de_Avaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Avaria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStore.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Supplier_AT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fornecedor_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Numero_da_OS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_da_OS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Origem_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Origem_Pedido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_da_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Marketplace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketplace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Tipificacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipificacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Descricao_da_Avaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descricao_da_Avaria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Garantia_Inst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instalacao_dentro_da_garantia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Garantia_Prod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Produto_dentro_da_garantia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Nome_Instalador_AT__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Instalador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varOrderRecordType</name>
        <label>Set varOrderRecordType</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varOrderRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Account_Flow</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_AT_Stores</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter AT Stores</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_AT_Stores</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Stores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_AT_Stores.Available_Services__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_StoreScreen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Instaladores_AT</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Instaladores AT</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_Filter_Instaladores_AT</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Instaladores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Instaladores_AT.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Assistência Técnica</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Numero_OS_Vazio</name>
        <label>Numero OS Vazio</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Set_varOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OS_Vazia</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Instalacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalador LM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_da_OS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_da_OS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assistencia_Tecnica_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Instalador</name>
        <label>Tipo de Instalador</label>
        <locationX>380</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Set_Instalador_da_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Interno</defaultConnectorLabel>
        <rules>
            <name>Externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Installed_By__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalador Externo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Causa_Produto</targetReference>
            </connector>
            <label>Externo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Instalador2</name>
        <label>Tipo de Instalador</label>
        <locationX>380</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Interno</defaultConnectorLabel>
        <rules>
            <name>Externo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Installed_By__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalador Externo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Token</targetReference>
            </connector>
            <label>Externo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Store</name>
        <label>Which Store?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_User_varStore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SEDE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Store.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_SEDE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stores</targetReference>
            </connector>
            <label>SEDE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Garantia_Inst_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Garantia_Inst__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Garantia_Prod_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Garantia_Prod__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Installed_By_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installed_By__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Origem_Pedido_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origem_do_Pedido__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Section_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Section__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stores_Choice</name>
        <collectionReference>Filter_AT_Stores</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LM_Store__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipificacao_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipificacao__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_Avaria_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_Avaria__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_de_Produto_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_Produto__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LM Assistencia Tecnica - Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Assistencia Tecnica - Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>380</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Get_PricebookEntry</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OrderItem</name>
        <label>Create OrderItem</label>
        <locationX>380</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Get_Updated_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Produto_Assistencia_Tecnica.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_PricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Fornecedores</name>
        <label>Get Fornecedores</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Instaladores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Supplier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>N_Fornecedor__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Instaladores</name>
        <label>Get Instaladores</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Instaladores_AT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>Certification_No__c</queriedFields>
        <queriedFields>Is_LM_Installer__c</queriedFields>
        <queriedFields>Processos__c</queriedFields>
        <queriedFields>Record_Type_API_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_varMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PricebookEntry</name>
        <label>Get PricebookEntry</label>
        <locationX>380</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_OrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Produto_Assistencia_Tecnica.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produto_Assistencia_Tecnica</name>
        <label>Get Produto Assistencia Tecnica</label>
        <locationX>380</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_varOrderRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Store</name>
        <label>Get Selected Store</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_selectedVarStore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectStore</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assistencia_Tecnica_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stores</name>
        <label>Get Stores</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_AT_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LM_SEDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LM_VAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Order</name>
        <label>Get Updated Order</label>
        <locationX>380</locationX>
        <locationY>3218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Updated_varOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Store</name>
        <label>Get User Store</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>248</locationX>
        <locationY>3758</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assistencia_Tecnica_Screen</name>
        <label>Assistencia Tecnica Screen</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Numero_OS_Vazio</targetReference>
        </connector>
        <fields>
            <name>Dados_da_Fatura</name>
            <fieldText>Dados da Fatura</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_da_Fatura_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_Talao</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Numero_Talao</elementReference>
                    </defaultValue>
                    <fieldText>Número do Talão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Numero_da_Caixa</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Numero_da_Caixa</elementReference>
                    </defaultValue>
                    <fieldText>Número da Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Observacoes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Observacoes</elementReference>
                    </defaultValue>
                    <fieldText>Observações</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_da_Fatura_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Compra</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Data_Compra</elementReference>
                    </defaultValue>
                    <fieldText>Data da Compra</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Numero_da_OS</name>
                    <dataType>String</dataType>
                    <fieldText>Número da OS</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>erro_OS_InstaladorLM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;N&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 2, 2);&quot;&gt;º&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; OS obrigatório quando o tipo de instalador é interno&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Yes_OS_Vazia</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_da_Fatura_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origem_Pedido</name>
                    <choiceReferences>Origem_Pedido_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Origem_Pedido</elementReference>
                    </defaultValue>
                    <fieldText>Origem do Pedido</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Marketplace</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Marketplace</elementReference>
                    </defaultValue>
                    <fieldText>Marketplace</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Instalacao_dentro_da_garantia</name>
                    <choiceReferences>Garantia_Inst_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Instalação dentro da garantia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Produto_dentro_da_garantia</name>
                    <choiceReferences>Garantia_Prod_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Produto dentro da garantia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>dados_do_artigo</name>
            <fieldText>Dados do Artigo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>dados_do_artigo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referencia_LM</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Referencia_LM</elementReference>
                    </defaultValue>
                    <fieldText>Referência LM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Designacao_Artigo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Designacao_Artigo</elementReference>
                    </defaultValue>
                    <fieldText>Designação do Artigo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>dados_do_artigo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Produto</name>
                    <choiceReferences>Tipo_de_Produto_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Produto</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Produto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Seccao_Produto</name>
                    <choiceReferences>Product_Section_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Seccao_Produto</elementReference>
                    </defaultValue>
                    <fieldText>Secção à qual pertence o produto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Selecionar_Fornecedor</name>
            <fieldText>Selecionar Fornecedor</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Fornecedor_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fornecedor_DT</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fornecedor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Fornecedores</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f38c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NIF__c&quot;,&quot;guid&quot;:&quot;column-bf7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;NIF&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;E_mail_Empresa__c&quot;,&quot;guid&quot;:&quot;column-5991&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;E-mail Empresa&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;N_Fornecedor__c&quot;,&quot;guid&quot;:&quot;column-5eb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Nº Fornecedor&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Fornecedor_DT.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dados_da_Assist_ncia</name>
            <fieldText>Dados da Assistência</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_da_Assist_ncia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Avaria</name>
                    <choiceReferences>Tipo_Avaria_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Avaria</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Avaria</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Instalacao</name>
                    <choiceReferences>Installed_By_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Instalacao</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Instalação</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_da_Assist_ncia_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipificacao</name>
                    <choiceReferences>Tipificacao_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Tipificacao</elementReference>
                    </defaultValue>
                    <fieldText>Tipificação</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Descricao_da_Avaria</name>
                    <dataType>String</dataType>
                    <fieldText>Descrição da Avaria</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SectionInstaladorDaOS</name>
            <fieldText>Selecionar Instalador da OS</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SectionInstaladorDaOS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InstaladorDaOS_DT</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Instalador da OS</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Instaladores_AT</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ae9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NIF__c&quot;,&quot;guid&quot;:&quot;column-2528&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;NIF&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;E_mail_Empresa__c&quot;,&quot;guid&quot;:&quot;column-e339&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;E-mail&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;E-mail Empresa&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Instalacao</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Instalador LM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen_AT</name>
        <label>Confirm Screen AT</label>
        <locationX>380</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Produto_Assistencia_Tecnica</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Resumo&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Screen_AT_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_AT_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_AT_Cliente</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!varAccount.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!varAccount.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!varAccount.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Morada: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!varAccount.ShippingStreet}, {!varAccount.ShippingCity}, {!varAccount.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varAccount.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!varAccount.NIF__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Screen_AT_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Screen_AT_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_AT_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_AT_Pedido</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Informações da Assistência Técnica&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados da Fatura:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da caixa:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!varOrder.Cashier_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº do talão: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Receipt_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Data da fatura: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Data_da_Fatura_AT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da OS: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Numero_da_OS__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Origem do Pedido: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Origem_do_Pedido__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Marketplace: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Marketplace__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Inst. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Garantia_Inst__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Prod. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!varOrder.Garantia_Prod__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Descrição da Avaria: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Descricao_da_Avaria__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Observações:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; {!varOrder.Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Screen_AT_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_AT_Artigo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Dados do Artigo:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Referência LM do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Referencia_LM_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Designação do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Designacao_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Secção: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Product_Section__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Fornecedor: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Supplier_AT__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Produto: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Tipo_de_Produto__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Avaria: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!varOrder.Tipo_de_Avaria__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipificação: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Tipificacao__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Instalador: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Installed_By__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Instalador:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder.Nome_Instalador_AT__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>380</locationX>
        <locationY>3950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!endFlowTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>displayATLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LM_AT_Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>headerAT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 32px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(32, 33, 36); background-color: rgba(0, 0, 0, 0);&quot;&gt;Assistência Técnica {!varStore.Store_Code__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varMetadata.Process_Guidelines__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_StoreScreen</name>
        <label>Select Store Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Store</targetReference>
        </connector>
        <fields>
            <name>SelectStore</name>
            <choiceReferences>Stores_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecionar Loja</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Account_Flow</name>
        <label>Search Account Flow</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Fornecedores</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccount</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Token</name>
        <label>Validate Token</label>
        <locationX>248</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>Set_Order_Confirmado</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>endFlowTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pedido Criado!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Podes visualizar o pedido nº {!varOrder.OrderNumber} &lt;a href=&quot;https://leroymerlin--lmqa.sandbox.my.site.com/autocrat/s/order/{!varOrder.Id}/detail&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_AT_Stores</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Instaladores_AT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOrderRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
</Flow>
