force-app/main/default/flows/LM_Aluguer_Ferramentas_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Store</name>
        <label>Send Email to Store</label>
        <locationX>314</locationX>
        <locationY>3458</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Inventory_Reserved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>varMetadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>varOrder.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_OrderItem_to_varOrderItemsConfirm</name>
        <label>Add OrderItem to varOrderItemsConfirm</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsConfirm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Receivers</name>
        <label>Add Receivers</label>
        <locationX>314</locationX>
        <locationY>3350</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrder.Store__r.Service_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToTotalOrderPrice</name>
        <label>Add To Total Order Price</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Total_Order_Price</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalOrderItemPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Total_Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalOrderItemPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderItem_to_varOrderItemsConfirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetVarOrder</name>
        <label>resetVarOrder</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>varOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Same_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Metadata</name>
        <label>Set Current Metadata</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Reserved</name>
        <label>Set Inventory Reserved</label>
        <locationX>314</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>varInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Unavailable</name>
        <label>Set Inventory Unavailable</label>
        <locationX>50</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>varInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indisponível</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Paid</name>
        <label>Set Order Paid</label>
        <locationX>50</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inventory_Unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItemsCreate</name>
        <label>Set OrderItemsCreate</label>
        <locationX>182</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Order_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Em_Confirmacao</name>
        <label>Set Status Em Confirmacao</label>
        <locationX>50</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VarOrder_em_Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Rascunho</name>
        <label>Set Status Rascunho</label>
        <locationX>314</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VarOrder</name>
        <label>Set VarOrder</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStandardPricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Origin_Store_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Store.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOrderItem</name>
        <label>SetOrderItem</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToTotalOrderPrice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <constants>
        <name>Process_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Aluguer de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Same_Store</name>
        <label>Is Same Store?</label>
        <locationX>182</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Rascunho</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Store.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOrder.Store__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Em_Confirmacao</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fluxo de Aluguer de Ferramentas para o portal de comunidades.</description>
    <environments>Default</environments>
    <formulas>
        <name>TotalOrderItemPrice</name>
        <dataType>Currency</dataType>
        <expression>{!varOrderItem.UnitPrice} * {!varOrderItem.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LM Aluguer Ferramentas - Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Aluguer Ferramentas - Portal</label>
    <loops>
        <name>Loop_Product_Quantity</name>
        <label>Loop Product Quantity</label>
        <locationX>358</locationX>
        <locationY>1430</locationY>
        <collectionReference>varOrderItemsQuantityList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Order_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <collectionReference>varSelectedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Product_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Order_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>182</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>Transform_Order_Items</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Get_Updated_Order</targetReference>
        </connector>
        <inputReference>varOrderItemsCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Metadata</name>
        <label>Get Current Metadata</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Current_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Aluguer_Ferramentas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>3242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Opp_Aluguer_Outra_Loja</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PricebookEntry</name>
        <label>Get PricebookEntry</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStandardPricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_List</name>
        <label>Get Product List</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LM_Select_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMetadata.Order_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Order</name>
        <label>Get Updated Order</label>
        <locationX>182</locationX>
        <locationY>2810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>resetVarOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Store</name>
        <label>Get User Store</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStandardPricebook</name>
        <label>GetStandardPricebook</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_VarOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Final_Update_Inventory</name>
        <label>Final Update Inventory</label>
        <locationX>182</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>varInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Update_Order</name>
        <label>Final Update Order</label>
        <locationX>182</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>Final_Update_Inventory</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VarOrder_em_Confirmacao</name>
        <label>Update VarOrder em Confirmacao</label>
        <locationX>50</locationX>
        <locationY>3242</locationY>
        <connector>
            <targetReference>LM_Validate_Token</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Order_Screen</name>
        <label>Confirm Order Screen</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Resumo&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Cliente</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!Current_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Current_Account.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Current_Account.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Morada: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Current_Account.ShippingStreet}, {!Current_Account.ShippingCity}, {!Current_Account.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Current_Account.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!Current_Account.NIF__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Order_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Order_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderItems_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varOrderItemsConfirm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-4af2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-6752&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-43d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-85a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Item_Price__c&quot;,&quot;guid&quot;:&quot;column-d1f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Preço Total do Item&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Total</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TOTAL: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Total_Order_Price}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>182</locationX>
        <locationY>4082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Screen_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!endFlowTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_User_Store</targetReference>
        </connector>
        <fields>
            <name>DexterImg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>dexter_logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varMetadata.Process_Guidelines__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentInfoScreen</name>
        <label>PaymentInfoScreen</label>
        <locationX>50</locationX>
        <locationY>3458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Order_Paid</targetReference>
        </connector>
        <fields>
            <name>Title_Payment_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dados de Pagamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentInfoScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentInfoScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_Caixa</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Operador</name>
                    <dataType>String</dataType>
                    <fieldText>Operador</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentInfoScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LM_Reserve_Inventory_Flow</name>
        <label>LM Reserve Inventory Flow</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>LM_Search_Account_Flow</targetReference>
        </connector>
        <flowName>LM_Reserve_Inventory</flowName>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedProduct</name>
            <value>
                <elementReference>varSelectedProduct</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varInventory</assignToReference>
            <name>varInventory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LM_Search_Account_Flow</name>
        <label>LM Search Account Flow</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>LM_Select_Consumables</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_Aluguer_Ferramentas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Current_Account</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LM_Select_Consumables</name>
        <label>LM Select Consumables</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetStandardPricebook</targetReference>
        </connector>
        <flowName>LM_Select_Consumables</flowName>
        <inputAssignments>
            <name>currProducts</name>
            <value>
                <elementReference>varSelectedProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductQuantity</name>
            <value>
                <elementReference>varOrderItemsQuantityList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductsOfCurrentProcess</name>
            <value>
                <elementReference>Get_Product_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedProduct</name>
            <value>
                <elementReference>varSelectedProduct</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedProducts</assignToReference>
            <name>currProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrderItemsQuantityList</assignToReference>
            <name>ProductQuantity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LM_Select_Product</name>
        <label>LM Select Product</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>LM_Reserve_Inventory_Flow</targetReference>
        </connector>
        <flowName>LM_Select_Product</flowName>
        <inputAssignments>
            <name>varMetadata</name>
            <value>
                <elementReference>varMetadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductsOfCurrentProcess</name>
            <value>
                <elementReference>Get_Product_List</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrderItemsQuantityList</assignToReference>
            <name>OrderItemsQuantityList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedProduct</assignToReference>
            <name>Selected_Product</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedProducts</assignToReference>
            <name>varSelectedProducts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LM_Validate_Token</name>
        <label>LM Validate Token</label>
        <locationX>50</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>PaymentInfoScreen</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>Current_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderItems</name>
            <value>
                <elementReference>varOrderItemsCreate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>endFlowTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pedido Criado!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Podes visualizar o pedido nº {!varOrder.OrderNumber} &lt;a href=&quot;https://leroymerlin--lmqa.sandbox.my.site.com/autocrat/s/order/{!varOrder.Id}/detail&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Transform_Order_Items</name>
        <label>Transform Order Items</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Set_OrderItemsCreate</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OrderItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AvailableQuantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].AvailableQuantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Product_Code__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Product_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Item_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Total_Item_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TotalPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].TotalPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrderItemsConfirm[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varOrder.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Consumable_Order_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Current_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Current_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Consumables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Products_Caucao_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Single_Consumable_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Consumable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Product_From_Picklist_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Single_Product_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SelectedProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Order_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>varMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemsConfirm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemsQuantityList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSelectedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSelectedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
