force-app/main/default/flows/LM_Autocrat_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Store</name>
        <label>Send Email to Store</label>
        <locationX>1620</locationX>
        <locationY>4415</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recId_Exists</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>varOrder_Main_Flow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>Get_Custom_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>Receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>varOrder_Main_Flow.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_OrderItem_to_Collection</name>
        <label>Add OrderItem to Collection</label>
        <locationX>2170</locationX>
        <locationY>2377</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsConfirm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Receivers</name>
        <label>Add Receivers</label>
        <locationX>1620</locationX>
        <locationY>4044</locationY>
        <assignmentItems>
            <assignToReference>Receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Store__r.Service_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Available_Processes</name>
        <label>Add to Available Processes</label>
        <locationX>2300</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>AvailableProcesses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Record_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_varOrderItemsCreate</name>
        <label>Add To varOrderItemsCreate</label>
        <locationX>2278</locationX>
        <locationY>3579</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Items_Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Fields</name>
        <label>Assign Inventory Fields</label>
        <locationX>1946</locationX>
        <locationY>3753</locationY>
        <assignmentItems>
            <assignToReference>Main_Flow_Inventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Main_Flow_Inventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Fields</name>
        <label>Assign Order Fields</label>
        <locationX>2233</locationX>
        <locationY>3133</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.BT_Total_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Order_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_PriceBook</name>
        <label>Assign Order PriceBook</label>
        <locationX>1823</locationX>
        <locationY>2317</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Type</name>
        <label>Assign Process Type</label>
        <locationX>2016</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>Process_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Token_Expired</name>
        <label>Assign Token Expired</label>
        <locationX>1874</locationX>
        <locationY>4349</locationY>
        <assignmentItems>
            <assignToReference>Token_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Token_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Token_Incorrect</name>
        <label>Assign Token Incorrect</label>
        <locationX>2226</locationX>
        <locationY>4387</locationY>
        <assignmentItems>
            <assignToReference>Token_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incorrect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Token_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Order_Price</name>
        <label>Assign Total Order Price</label>
        <locationX>2166</locationX>
        <locationY>2505</locationY>
        <assignmentItems>
            <assignToReference>Total_Order_Price</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Order_Item_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Total_Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Order_Item_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderItem_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varOrder</name>
        <label>Assign varOrder</label>
        <locationX>1550</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Needs_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varOrderItem</name>
        <label>Assign varOrderItem</label>
        <locationX>2544</locationX>
        <locationY>3336</locationY>
        <assignmentItems>
            <assignToReference>varOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Items_Confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOrderId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderId</name>
        <label>AssignOrderId</label>
        <locationX>2544</locationX>
        <locationY>3579</locationY>
        <assignmentItems>
            <assignToReference>varOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_varOrderItemsCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Vars</name>
        <label>Set Inventory Vars</label>
        <locationX>2231</locationX>
        <locationY>4759</locationY>
        <assignmentItems>
            <assignToReference>Main_Flow_Inventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Main_Flow_Inventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indisponível</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Main_Flow_Inventory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Inventory_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Main_Flow_Inventory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Em_Confirmacao</name>
        <label>Set Order Em Confirmacao</label>
        <locationX>2319</locationX>
        <locationY>4192</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Order_Em_Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Em_Pagamento</name>
        <label>Set Order Em Pagamento</label>
        <locationX>2130</locationX>
        <locationY>4631</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Pagamento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Data_Validacao_Token__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Validacao_Manual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_To_Validate</name>
        <label>Set Order To Validate</label>
        <locationX>2792</locationX>
        <locationY>2721</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_DCI2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Origin_Store</name>
        <label>Set Origin Store</label>
        <locationX>2191</locationX>
        <locationY>4044</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Origin_Store_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserStore.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Fields</name>
        <label>Set Payment Fields</label>
        <locationX>2180</locationX>
        <locationY>5596</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Loja</name>
        <label>Set Selected Loja</label>
        <locationX>2563</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoja</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Loja</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Concluido</name>
        <label>Set Status Concluido</label>
        <locationX>1763</locationX>
        <locationY>5361</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Confirmado</name>
        <label>Set Status Confirmado</label>
        <locationX>1890</locationX>
        <locationY>5308</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Pendente</name>
        <label>Set Status Pendente</label>
        <locationX>1501</locationX>
        <locationY>5394</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendente Nº Série/Instalador</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Installer</name>
        <label>Set Temp Installer</label>
        <locationX>2490</locationX>
        <locationY>4163</locationY>
        <assignmentItems>
            <assignToReference>Temp_Installer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installer__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installer__r.NIF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.Certification_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installer__r.Certification_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installer__r.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Em_Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Installer_and_Equipment</name>
        <label>Set Temp Installer and Equipment</label>
        <locationX>2488</locationX>
        <locationY>4276</locationY>
        <assignmentItems>
            <assignToReference>Temp_Installer.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.NIF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Installer.Certification_No__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Equipment_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Equipment_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Equipment_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Installed_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Em_Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Loja</name>
        <label>Set User Loja</label>
        <locationX>2398</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoja</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserStore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Flag</name>
        <label>Set Validation Flag</label>
        <locationX>2393</locationX>
        <locationY>4570</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Cliente_Validou_Token__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Em_Pagamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Order_Item</name>
        <label>Store Order Item</label>
        <locationX>2414</locationX>
        <locationY>2505</locationY>
        <assignmentItems>
            <assignToReference>varOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Qtd_Produtos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Order_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Undo_Temp_Installer</name>
        <label>Undo Temp Installer</label>
        <locationX>2032</locationX>
        <locationY>4968</locationY>
        <assignmentItems>
            <assignToReference>varOrder_Main_Flow.Installer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_Info_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Instalador_Externo</name>
        <choiceText>Instalador Externo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador Externo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Instalador_LM</name>
        <choiceText>Instalador LM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador LM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X01_MATERIAIS</name>
        <choiceText>01 - MATERIAIS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 - MATERIAIS</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02_MADEIRAS</name>
        <choiceText>02 - MADEIRAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - MADEIRAS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Token_Status</name>
        <label>Check Token Status</label>
        <locationX>2002</locationX>
        <locationY>4515</locationY>
        <defaultConnector>
            <targetReference>Set_Validation_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Token Valid</defaultConnectorLabel>
        <rules>
            <name>Assinatura_Manual_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assinatura_Manual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Em_Pagamento</targetReference>
            </connector>
            <label>Assinatura Manual</label>
        </rules>
        <rules>
            <name>Token_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Expired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Token_Expired</targetReference>
            </connector>
            <label>Token Expired</label>
        </rules>
        <rules>
            <name>Token_Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation_Token_Input</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Token</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Token_Incorrect</targetReference>
            </connector>
            <label>Token Incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_Type</name>
        <label>Form Type</label>
        <locationX>2169</locationX>
        <locationY>5360</locationY>
        <defaultConnector>
            <targetReference>Receipt_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>N_Ticket</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>N_Caixa</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Operador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Fields</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
        <rules>
            <name>Extension_Not_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Original_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>N_Ticket</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>N_Caixa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Operador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Update_Order</targetReference>
            </connector>
            <label>Extension Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Needs_Change</name>
        <label>Inventory Needs Change?</label>
        <locationX>1714</locationX>
        <locationY>3831</locationY>
        <defaultConnector>
            <targetReference>Which_Rec_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inventory_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Main_Flow_Inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Needs_Change2</name>
        <label>Inventory Needs Change?</label>
        <locationX>1746</locationX>
        <locationY>4801</locationY>
        <defaultConnector>
            <targetReference>Which_Process_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Main_Flow_Inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AF_Or_BT_Draft_Order</name>
        <label>Is AF or BT Draft Order?</label>
        <locationX>2469</locationX>
        <locationY>3904</locationY>
        <defaultConnector>
            <targetReference>Is_DCI2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Draft_Order_Yes</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rascunho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Aluguer_Ferramentas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Barras_Tejadilho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Same_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DCI2</name>
        <label>Is DCI?</label>
        <locationX>2784</locationX>
        <locationY>4169</locationY>
        <defaultConnector>
            <targetReference>Set_Temp_Installer_and_Equipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DCI2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_Installer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DCI_or_AT</name>
        <label>Is DCI or AT?</label>
        <locationX>2297</locationX>
        <locationY>2896</locationY>
        <defaultConnector>
            <targetReference>Confirm_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Yes_DCI_ConfirmScreen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Fields</targetReference>
            </connector>
            <label>DCI</label>
        </rules>
        <rules>
            <name>Yes_AT_ConfirmScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Screen_AT</targetReference>
            </connector>
            <label>AT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Extension_or_Confirm</name>
        <label>Is Extension or Confirm?</label>
        <locationX>2786</locationX>
        <locationY>77</locationY>
        <defaultConnector>
            <targetReference>getUserStore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Extension_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_To_Validate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Process_Available_In_Store</name>
        <label>Is Process Available in Store?</label>
        <locationX>2653</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Loop_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AvailableInStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserStore.Available_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Record_Types.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Available_Services_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Process_Available_In_User</name>
        <label>Is Process Available In User?</label>
        <locationX>2474</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Loop_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AvailableInUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Available_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Record_Types.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Available_Processes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Same_Store</name>
        <label>Is Same Store?</label>
        <locationX>2468</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Set_Origin_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Different_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Main_Flow_Inventory.Store_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Store_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>recId_Exists</name>
        <label>recId Exists?</label>
        <locationX>1417</locationX>
        <locationY>5590</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SN_Blank</name>
        <label>SN Blank?</label>
        <locationX>1603</locationX>
        <locationY>5280</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Pendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Equipment_Serial_No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Concluido</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>SN_Inst_and_B2B_Status</name>
        <label>SN, Inst and B2B Status</label>
        <locationX>1592</locationX>
        <locationY>5046</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Pendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>B2B_With_SN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Equipment_Serial_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Concluido</targetReference>
            </connector>
            <label>B2B With SN</label>
        </rules>
        <rules>
            <name>Has_SN_and_Inst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Equipment_Serial_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Installer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Installer__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SN_Blank</targetReference>
            </connector>
            <label>Has SN and Inst</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_Choice</name>
        <label>Store Choice</label>
        <locationX>2195</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Set_User_Loja</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Sede</defaultConnectorLabel>
        <rules>
            <name>Loja_Sede_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserStore.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEDE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Loja</targetReference>
            </connector>
            <label>Loja Sede</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Available_Services_Empty</name>
        <label>User Available Services Empty?</label>
        <locationX>2669</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_Process_Available_In_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UserServicesEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Available_Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Available_Processes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Process</name>
        <label>Which Process?</label>
        <locationX>2058</locationX>
        <locationY>949</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assistencia_Tecnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assistencia_Tecnica_Subflow</targetReference>
            </connector>
            <label>Assistencia Tecnica</label>
        </rules>
        <rules>
            <name>Recolha_Entulho</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Recolha_Entulho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recolha_Entulho_Subflow</targetReference>
            </connector>
            <label>Recolha Entulho</label>
        </rules>
        <rules>
            <name>Aluguer_Ferramentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Aluguer_Ferramentas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aluguer_Ferramentas_Subflow</targetReference>
            </connector>
            <label>Aluguer Ferramentas</label>
        </rules>
        <rules>
            <name>Barras_Tejadilho</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Barras_Tejadilho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Barras_Tejadilho_Subflow</targetReference>
            </connector>
            <label>Barras Tejadilho</label>
        </rules>
        <rules>
            <name>DCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DCI_Subflow</targetReference>
            </connector>
            <label>DCI</label>
        </rules>
        <rules>
            <name>Certificado_Devolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Certificado_Devolucao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certificado_Devolucao_Subflow</targetReference>
            </connector>
            <label>Certificado Devolucao</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Process_Type</name>
        <label>Which Process Type?</label>
        <locationX>1884</locationX>
        <locationY>5139</locationY>
        <defaultConnector>
            <targetReference>Undo_Temp_Installer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Yes_DCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SN_Inst_and_B2B_Status</targetReference>
            </connector>
            <label>DCI</label>
        </rules>
        <rules>
            <name>Yes_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Confirmado</targetReference>
            </connector>
            <label>AT</label>
        </rules>
        <rules>
            <name>Yes_RE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Recolha_Entulho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Concluido</targetReference>
            </connector>
            <label>RE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Rec_Type</name>
        <label>Which Rec Type?</label>
        <locationX>1489</locationX>
        <locationY>3948</locationY>
        <defaultConnector>
            <targetReference>Is_AF_Or_BT_Draft_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>AT_with_Int_Installer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder_Main_Flow.Installed_By__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalador LM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recId_Exists</targetReference>
            </connector>
            <label>AT with Int Installer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lojas_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SEDE</stringValue>
            </value>
        </filters>
        <object>LM_Store__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypes</name>
        <collectionReference>AvailableProcesses</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentAccountName</name>
        <dataType>String</dataType>
        <expression>IF({!currentAccount.IsPersonAccount}, {!currentAccount.FirstName} &amp; &quot; &quot; &amp; {!currentAccount.LastName}, {!currentAccount.Name})</expression>
    </formulas>
    <formulas>
        <name>Total_Order_Item_Price</name>
        <dataType>Number</dataType>
        <expression>IF(
({!Get_Order_Rec_Type.DeveloperName} == &quot;LM_Barras_Tejadilho&quot; || {!Process_Type} == &quot;LM_Barras_Tejadilho&quot;) &amp;&amp; {!varOrderItem.Type__c} == &quot;Aluguer&quot;,
        IF(
            {!varOrderItem.Quantity}&lt;3, 0, 
                      IF(
                          {!varOrderItem.Quantity}&gt;30, {!Get_Custom_Metadata.Custo_Fixo_BT__c}, 
                          {!varOrderItem.UnitPrice} * ({!varOrderItem.Quantity} - 2)
                      )
         ), 
{!varOrderItem.UnitPrice} * {!varOrderItem.Quantity}
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Serviços {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Serviços</label>
    <loops>
        <name>Loop_Order_Items_Confirm</name>
        <label>Loop Order Items Confirm</label>
        <locationX>2278</locationX>
        <locationY>3346</locationY>
        <collectionReference>varOrderItemsConfirm</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_varOrderItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>2055</locationX>
        <locationY>2317</locationY>
        <collectionReference>currProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Qtd_Produtos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_DCI_or_AT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Qtd_Produtos</name>
        <label>Loop Qtd Produtos</label>
        <locationX>2571</locationX>
        <locationY>2317</locationY>
        <collectionReference>Quantidades_Produtos_Main_Flow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_DCI_or_AT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Types</name>
        <label>Loop Record Types</label>
        <locationX>2149</locationX>
        <locationY>424</locationY>
        <collectionReference>Get_Order_Rec_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Process_Available_In_Store</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Novo_Pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>2025</locationX>
        <locationY>3262</locationY>
        <connector>
            <targetReference>Loop_Order_Items_Confirm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varOrder_Main_Flow</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>1991</locationX>
        <locationY>3545</locationY>
        <connector>
            <targetReference>Get_Order_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varOrderItemsCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>2181</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Rec_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>2591</locationX>
        <locationY>907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Rec_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1802</locationX>
        <locationY>4044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Opp_Aluguer_Outra_Loja</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Token</name>
        <label>Get New Token</label>
        <locationX>2010</locationX>
        <locationY>4352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Token_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Is_Expired</assignToReference>
            <field>Expired_Token__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Token</assignToReference>
            <field>Validation_Token__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Number</name>
        <label>Get Order Number</label>
        <locationX>1789</locationX>
        <locationY>3552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_varOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder_Main_Flow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Rec_Type</name>
        <label>Get Order Rec Type</label>
        <locationX>1826</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_Metadata.Order_Record_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Rec_Types</name>
        <label>Get Order Rec Types</label>
        <locationX>1805</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>LM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>2396</locationX>
        <locationY>2368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Loja</name>
        <label>Get Selected Loja</label>
        <locationX>2401</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Selected_Loja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selecionar_Loja.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>1970</locationX>
        <locationY>2072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserStore</name>
        <label>get User Store</label>
        <locationX>2432</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>1753</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Inventory_Needs_Change2</targetReference>
        </connector>
        <inputReference>varOrder_Main_Flow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Update_Inventory</name>
        <label>Final Update Inventory</label>
        <locationX>2379</locationX>
        <locationY>4968</locationY>
        <connector>
            <targetReference>Receipt_Info_Screen</targetReference>
        </connector>
        <inputReference>Main_Flow_Inventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Update_Order</name>
        <label>Final Update Order</label>
        <locationX>1771</locationX>
        <locationY>5589</locationY>
        <connector>
            <targetReference>recId_Exists</targetReference>
        </connector>
        <inputReference>varOrder_Main_Flow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Store</name>
        <label>Update Current Store</label>
        <locationX>2011</locationX>
        <locationY>4044</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <inputReference>varOrder_Main_Flow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>2270</locationX>
        <locationY>3753</locationY>
        <connector>
            <targetReference>Is_AF_Or_BT_Draft_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Main_Flow_Inventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Order_Em_Confirmacao</name>
        <label>update Order Em Confirmacao</label>
        <locationX>2183</locationX>
        <locationY>4192</locationY>
        <connector>
            <targetReference>Validate_Token_Screen</targetReference>
        </connector>
        <inputReference>varOrder_Main_Flow</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>2047</locationX>
        <locationY>3033</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Order_Fields</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Resumo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Address</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!currentAccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!currentAccount.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!currentAccount.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Morada: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!currentAccount.ShippingStreet}, {!currentAccount.ShippingCity}, {!currentAccount.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!currentAccount.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!currentAccount.NIF__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderItems_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varOrderItemsConfirm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-1b1e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-8cb1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-49bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-3be3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantidade&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Item_Price__c&quot;,&quot;guid&quot;:&quot;column-ae9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Preço Total do Item&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OrderItems_DataTable_RE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varOrderItemsConfirm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-37a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Código do Produto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-37b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-6cc1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantidade&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Recolha_Entulho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Recolha_Entulho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Total</name>
            <fieldText>&lt;p class=&quot;ql-indent-2&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TOTAL: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Total_Order_Price}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Seguinte</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen_AT</name>
        <label>Confirm Screen AT</label>
        <locationX>2434</locationX>
        <locationY>3026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Order_Fields</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Resumo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Screen_AT_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_AT_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Cliente</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Morada: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.ShippingStreet}, {!currentAccount.ShippingCity}, {!currentAccount.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentAccount.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccount.NIF__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Screen_AT_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Screen_AT_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_AT_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_AT</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Informações da Assistência Técnica&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados da Fatura:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da caixa:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!varOrder_Main_Flow.Cashier_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº do talão: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Receipt_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Data da fatura: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Data_da_Fatura_AT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da OS: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Numero_da_OS__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Origem do Pedido: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Origem_do_Pedido__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Marketplace: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Marketplace__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Inst. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Garantia_Inst__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Prod. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varOrder_Main_Flow.Garantia_Prod__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Descrição da Avaria: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Descricao_da_Avaria__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Observações:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; {!varOrder_Main_Flow.Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Screen_AT_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Artigo</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados do Artigo:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Referência LM do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Referencia_LM_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Designação do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Designacao_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Secção: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Product_Section__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Fornecedor: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Supplier_AT__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Produto: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Tipo_de_Produto__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Avaria: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varOrder_Main_Flow.Tipo_de_Avaria__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipificação: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Tipificacao__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Instalador: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Installed_By__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Instalador:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Nome_Instalador_AT__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Seguinte</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>3492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display_Text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1286</locationX>
        <locationY>5589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_To_Order</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!flowTerminouTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Novo_Pedido</name>
        <label>Novo Pedido</label>
        <locationX>1901</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Process_Type</targetReference>
        </connector>
        <fields>
            <name>Servico_Picklist</name>
            <choiceReferences>RecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Selecionar_Loja</name>
            <choiceReferences>Lojas_Choice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Selecionar Loja</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getUserStore.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SEDE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Info_Screen</name>
        <label>Receipt Info Screen</label>
        <locationX>2175</locationX>
        <locationY>4968</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Form_Type</targetReference>
        </connector>
        <fields>
            <name>Title_Payment_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Dados de Pagamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Receipt_Info_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Receipt_Info_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>N_Caixa</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operador</name>
                    <dataType>String</dataType>
                    <fieldText>Operador</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Info_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validate_Token_Screen</name>
        <label>Validate Token Screen</label>
        <locationX>2010</locationX>
        <locationY>4200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_New_Token</targetReference>
        </connector>
        <fields>
            <name>Confirm_Token_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Resumo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Morada:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccount.ShippingStreet}, {!currentAccount.ShippingCity}, {!currentAccount.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentAccount.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccount.NIF__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Validate_Token_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Validate_Token_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dados_AT_Token</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Informações da Assistência Técnica&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados da Fatura:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da caixa:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!varOrder_Main_Flow.Cashier_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº do talão: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Receipt_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Data da fatura: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Data_da_Fatura_AT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Nº da OS: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Numero_da_OS__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Origem do Pedido: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Origem_do_Pedido__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Marketplace: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Marketplace__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Inst. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Garantia_Inst__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Prod. dentro da garantia: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Garantia_Prod__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Observações:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; {!varOrder_Main_Flow.Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Validate_Token_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dados_AT_Artigo_Token</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dados do Artigo:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Referência LM do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Referencia_LM_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Designação do Artigo: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Designacao_do_Artigo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Secção: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Product_Section__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Fornecedor: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Nome_fornecedor__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Produto: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Tipo_de_Produto__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Avaria: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!varOrder_Main_Flow.Tipo_de_Avaria__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipificação: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Tipificacao__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Tipo de Instalador: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Installed_By__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Instalador: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Nome_Instalador_AT__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Assistencia_Tecnica</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Assistencia_Tecnica</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DCI_Product_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Produto:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Marca:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!varOrder_Main_Flow.Equipment_Brand__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Modelo: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Equipment_Model__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Nº de Série: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varOrder_Main_Flow.Equipment_Serial_No__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_DCI</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DCI_Installer_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Instalador:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Tipo de Instalador: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!varOrder_Main_Flow.Installed_By__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Temp_Installer.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!Temp_Installer.NIF__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Email:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!Temp_Installer.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Telemóvel:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!Temp_Installer.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Número de Certificação: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Temp_Installer.Certification_No__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Temp_Installer.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Temp_Installer.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Validate_Token_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Validate_Token_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderItems_DataTable_Token</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varOrderItemsCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-9bb6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-ced1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-96d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-da35&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantidade&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Item_Price__c&quot;,&quot;guid&quot;:&quot;column-7956&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Preço Total do Item&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OrderItems_DataTable_Token_RE</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varOrderItemsCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-fa2e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Código do Produto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-f8cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-9c24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantidade&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Recolha_Entulho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Recolha_Entulho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TokenPage_Display_Total_Price</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;TOTAL: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Total_Order_Price}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Aluguer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varOrder_Main_Flow.Record_Type_API_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Alguuer_Ferramentas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Barras_Tejadilho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Token_Input</name>
            <dataType>String</dataType>
            <fieldText>Token de Confirmação (Expira em 1 min)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incorrect_Token_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Token Incorreto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Token_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incorrect</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expired_Token_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Token Expirado&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Token_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Expired</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Resend_Token_Btn</name>
            <extensionName>c:lM_ResendTokenButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varOrder_Main_Flow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assinatura_Manual</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Assinatura Manual</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1896</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Extension_or_Confirm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aluguer_Ferramentas_Subflow</name>
        <label>Aluguer Ferramentas Subflow</label>
        <locationX>2164</locationX>
        <locationY>1457</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <flowName>LM_Aluguer_Ferramentas</flowName>
        <inputAssignments>
            <name>Current_Account</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Metadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Record_Type</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder_Main_Flow</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>Current_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Main_Flow_Inventory</assignToReference>
            <name>Current_Inventory_Item</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currProducts</assignToReference>
            <name>currProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantidades_Produtos_Main_Flow</assignToReference>
            <name>ProductQuantity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assistencia_Tecnica_Subflow</name>
        <label>Assistencia Tecnica Subflow</label>
        <locationX>2356</locationX>
        <locationY>1453</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <flowName>LM_Assistencia_Tecnica</flowName>
        <inputAssignments>
            <name>Current_Account</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Metadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Record_Type</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_User_Store</name>
            <value>
                <elementReference>CurrentLoja</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>Current_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currProducts</assignToReference>
            <name>currentProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantidades_Produtos_Main_Flow</assignToReference>
            <name>Quantidades_Produtos</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Barras_Tejadilho_Subflow</name>
        <label>Barras Tejadilho Subflow</label>
        <locationX>1550</locationX>
        <locationY>1452</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <flowName>LM_Barras_Tejadilho</flowName>
        <inputAssignments>
            <name>Current_Account</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Metadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Record_Type</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder_Main_Flow</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>Current_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Main_Flow_Inventory</assignToReference>
            <name>Current_Inventory_Item</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currProducts</assignToReference>
            <name>currProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantidades_Produtos_Main_Flow</assignToReference>
            <name>ProductQuantity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Certificado_Devolucao_Subflow</name>
        <label>Certificado Devolucao Subflow</label>
        <locationX>2530</locationX>
        <locationY>1447</locationY>
        <flowName>LM_Certificado_Devolucao</flowName>
        <inputAssignments>
            <name>currentLoja</name>
            <value>
                <elementReference>CurrentLoja</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentMetadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderRecType</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DCI_Subflow</name>
        <label>DCI Subflow</label>
        <locationX>1690</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <flowName>LM_DCI</flowName>
        <inputAssignments>
            <name>currentMetadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderRecType</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>currentAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currProducts</assignToReference>
            <name>DCI_Product</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantidades_Produtos_Main_Flow</assignToReference>
            <name>Qtd_Produtos</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Recolha_Entulho_Subflow</name>
        <label>Recolha Entulho Subflow</label>
        <locationX>1803</locationX>
        <locationY>1445</locationY>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <flowName>LM_Recolha_Entulho</flowName>
        <inputAssignments>
            <name>Current_Account</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Metadata</name>
            <value>
                <elementReference>Get_Custom_Metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_Record_Type</name>
            <value>
                <elementReference>Get_Order_Rec_Type</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>Current_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currProducts</assignToReference>
            <name>currProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quantidades_Produtos_Main_Flow</assignToReference>
            <name>Quantidades_Produtos</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder_Main_Flow</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Email_Body_Store</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
	&lt;title&gt;&lt;/title&gt;
	&lt;meta content=&quot;text/html; charset=windows-1252&quot;&gt;&lt;meta name=&quot;Generator&quot; content=&quot;Microsoft Word 15 (filtered)&quot;&gt;
	&lt;style type=&quot;text/css&quot;&gt;&lt;!--
 /* Font Definitions */
 @font-face
	{font-family:&quot;Cambria Math&quot;;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:&quot;Calibri&quot;,sans-serif;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
.MsoChpDefault
	{font-family:&quot;Calibri&quot;,sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
--&gt;
	&lt;/style&gt;
&lt;/head&gt;
&lt;body lang=&quot;EN-US&quot; style=&quot;overflow-wrap: break-word; height: auto; min-height: auto;&quot;&gt;
&lt;div class=&quot;WordSection1&quot;&gt;
&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683L000002dCgM?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image001.png&quot;&gt;

&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span lang=&quot;PT&quot;&gt;&amp;nbsp;&lt;br /&gt;
Olá, {!varOrder_Main_Flow.Store__r.Name}&lt;/span&gt;&lt;/p&gt;
&amp;nbsp;

&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span lang=&quot;PT&quot;&gt;Encaminhamos o processo de aluguer Nº {!varOrder_Main_Flow.OrderNumber} do cliente {!varOrder_Main_Flow.Account.FirstName} {!varOrder_Main_Flow.Account.LastName} que iniciou na loja de {!UserStoreName}.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;

&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span lang=&quot;PT&quot;&gt;Já está registada a ficha de cliente, é só dar seguimento à separação da máquina.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&amp;nbsp;
&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span lang=&quot;PT&quot;&gt;Bom trabalho&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683L000002dCgW?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image002.png&quot;&gt;&lt;/p&gt;

&lt;p class=&quot;MsoNormal&quot;&gt;&lt;span lang=&quot;PT&quot; style=&quot;font-size:10.0pt;line-height:107%;
color:#AFABAB&quot;&gt;&amp;copy; LEROY MERLIN - Bricolage, Constru&amp;ccedil;ăo, Decora&amp;ccedil;ăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject_Store</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Encaminhamento da oportunidade de Aluguer</text>
    </textTemplates>
    <textTemplates>
        <name>flowTerminouTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pedido Finalizado!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Clique &lt;a href=&quot;/{!varOrder_Main_Flow.Id}&quot; target=&quot;_self&quot;&gt;aqui&lt;/a&gt; para ver o pedido.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AvailableProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>CurrentLoja</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>currProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Is_Expired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Main_Flow_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Process_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varOrder_Main_Flow.Record_Type_API_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Quantidades_Produtos_Main_Flow</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>StoreAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Installer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Token_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Total_Order_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UserStoreName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrder_Main_Flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemsConfirm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
