force-app/main/default/flows/LM_Barras_Tejadilho.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_of_Main_Product</name>
        <label>Add 1 of Main Product</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ProductQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_N_Days_Aluguer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_N_Days_Aluguer</name>
        <label>Add N Days Aluguer</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ProductQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Inventory</name>
        <label>Assign Current Inventory</label>
        <locationX>710</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory_DataTable_Available.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Good</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Products</name>
        <label>Assign Current Products</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>currProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_From_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_of_Main_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Count</name>
        <label>Assign Inventory Count</label>
        <locationX>446</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Inventory_Items_Found_In_Store</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Inventario_in_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_In_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Unavailable</name>
        <label>Assign Inventory Unavailable</label>
        <locationX>50</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory_DataTable_Unavailable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reserve_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order</name>
        <label>Assign Order</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Original_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Single_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store_to_Order</name>
        <label>Assign Store to Order</label>
        <locationX>446</locationX>
        <locationY>3752</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Store_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Account_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_to_Confirm</name>
        <label>Order to Confirm</label>
        <locationX>578</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reserve_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reserve_Inventory</name>
        <label>Reserve Inventory</label>
        <locationX>446</locationX>
        <locationY>3536</locationY>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Store_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Product</name>
        <label>Set Default Product</label>
        <locationX>426</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Default_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Default_Choice_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Default_Choice_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Diff_Products_Count</name>
        <label>Set Diff Products Count</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>N_Different_Products</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Products_Caucao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Single_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Damaged</name>
        <label>Set Inventory Damaged</label>
        <locationX>842</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item.Repair_Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avariado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Inventory_Item.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory_Damaged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Selected_Product</name>
        <label>Store Selected Product</label>
        <locationX>534</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Selected_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Inventario_in_Store</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Inventario in Store</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <assignNextValueToReference>currentItem_Filter_Inventario_in_Store</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Inventory</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventario_in_Store.Store_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventario_in_Store.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Disponível</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Inventory_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Products_Caucao</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Products Caução</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Products_Caucao</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_List</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Products_Caucao.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Caução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Diff_Products_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Product_From_Picklist</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Product From Picklist</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>currentItem_Get_Product_From_Picklist_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_List</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Product_From_Picklist_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Product</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Product_From_Picklist_0.Parent_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Product</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Product_From_Picklist_0.Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Consumível</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sort_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Single_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Single Product</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <assignNextValueToReference>currentItem_Get_Single_Product_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>currProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Single_Product_0.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Caução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Single_Product</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Products</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Products</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_From_Picklist</collectionReference>
        <connector>
            <targetReference>Assign_Current_Products</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Type__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>Process_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Aluguer de Barras de Tejadilho</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Inventory_Good</name>
        <label>Inventory Good?</label>
        <locationX>710</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>Set_Inventory_Damaged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checklist_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_to_Confirm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_In_Store</name>
        <label>Inventory In Store?</label>
        <locationX>446</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Inventory_Screen_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Full_Inventory_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_Items_Found_In_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Screen_Unavailable</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Available</name>
        <label>Is Available?</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Inventory_Screen_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Available_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_DataTable_Unavailable.firstSelectedRow.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disponível</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_Unavailable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Single_Product</name>
        <label>Is Single Product?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Aluguer_Ferramentas_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Single_Product_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>N_Different_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Default_Choice_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Products_Choice</name>
        <collectionReference>Filter_Products_Caucao</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Select_Product_In_Store</name>
        <collectionReference>Filter_Inventario_in_Store</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LM_Inventory__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Total_Days</name>
        <dataType>Number</dataType>
        <expression>{!End_Date}-{!Start_Date}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LM_Barras_Tejadilho {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_Barras_Tejadilho</label>
    <loops>
        <name>Loop_Default_Choice_Product</name>
        <label>Loop Default Choice Product</label>
        <locationX>338</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_Products_Caucao</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Default_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aluguer_Ferramentas_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Product</name>
        <label>Loop Single Product</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Single_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Selected_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Inventario_in_Store</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>534</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Single_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Single_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <sortField>Store_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_List</name>
        <label>Get Product List</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Metadata.Order_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Store_Id</name>
        <label>get Store Id</label>
        <locationX>446</locationX>
        <locationY>3644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Store_to_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Inventory_Item.Store_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Store</name>
        <label>Get User Store</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Products_Caucao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory_Damaged</name>
        <label>Update Inventory Damaged</label>
        <locationX>842</locationX>
        <locationY>3194</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Single_Product</targetReference>
        </connector>
        <inputReference>Current_Inventory_Item</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Aluguer_Ferramentas_Screen</name>
        <label>Aluguer Ferramentas Screen</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_From_Picklist</targetReference>
        </connector>
        <fields>
            <name>aluguer_ferramentas_txt2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product</name>
            <choiceReferences>Products_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Default_Product.Id</elementReference>
            </defaultValue>
            <fieldText>Barra de Tejadilho</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Aluguer_Ferramentas_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Aluguer_Ferramentas_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Data de Início</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A data de início deve ser para o dia de hoje.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date} = {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Aluguer_Ferramentas_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varOrder.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>Data de Fim</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A data prevista precisa ser depois de {!Start_Date}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!End_Date} &gt; {!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_List</targetReference>
        </connector>
        <fields>
            <name>BT_Image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HandiRack</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Current_Metadata.Process_Guidelines__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Screen_Available</name>
        <label>Inventory Screen Available</label>
        <locationX>710</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Current_Inventory</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_aluguer_ferramentas_txt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(63, 63, 63); font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_DataTable_Available</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_Inventory__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inventário</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Inventario_in_Store</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-afd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Produto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7744&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Série&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Hallway__c&quot;,&quot;guid&quot;:&quot;column-7845&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Corredor&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cupboard__c&quot;,&quot;guid&quot;:&quot;column-7cd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Armário&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Shelves__c&quot;,&quot;guid&quot;:&quot;column-01f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Prateleira&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Display_Product_Guidelines</name>
            <fieldText>&lt;p&gt;{!Selected_Product.Product_Checklist__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist_Confirm</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checklist Aprovada</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <fieldText>Motivo de Reprovação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checklist_Confirm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nao</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Screen_Unavailable</name>
        <label>Inventory Screen Unavailable</label>
        <locationX>182</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Available</targetReference>
        </connector>
        <fields>
            <name>aluguer_ferramentas_txt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(63, 63, 63); font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unavailable_Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ferramenta não disponível na loja.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_DataTable_Unavailable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_Inventory__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inventário</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Inventory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-c64d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Produto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Store_Name__c&quot;,&quot;guid&quot;:&quot;column-3a46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loja&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome da Loja&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7744&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Número de Série&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-a4df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Estado&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Available_From__c&quot;,&quot;guid&quot;:&quot;column-c1e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Disponível a partir de&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Warning_Unavailable</name>
            <fieldText>&lt;p&gt;Selecione um produto disponível.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inventory_DataTable_Unavailable.firstSelectedRow.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Disponível</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Account_Flow</name>
        <label>Search Account Flow</label>
        <locationX>446</locationX>
        <locationY>3860</locationY>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_Barras_Tejadilho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Current_Account</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Current_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Current_Inventory_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Current_Metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Current_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Inventario_in_Store</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Products_Caucao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Inventory_Item_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Product_From_Picklist_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Single_Product_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Default_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Inventory_Items_Found_In_Store</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>N_Different_Products</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductQuantity</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Selected_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SelectedProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
