force-app/main/default/flows/LM_Certificado_Devolucao_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_Targets</name>
        <label>Send Email to Targets</label>
        <locationX>502</locationX>
        <locationY>8312</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>varMetadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Split_Email_CD</name>
        <label>Split Email CD</label>
        <locationX>502</locationX>
        <locationY>7604</locationY>
        <actionName>LM_SplitText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Promessa_Cliente_Null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Separator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TextToSplit</name>
            <value>
                <elementReference>varStore.Emails_CD__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LM_SplitText</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>receivers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Artigo_Entregar</name>
        <label>Add Artigo Entregar</label>
        <locationX>617</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Artigos_Entregar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentArtigo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Current_Artigo_Troca_After</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Artigo_Recolher</name>
        <label>Add Artigo Recolher</label>
        <locationX>1321</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>Artigos_Recolher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentArtigo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Current_Artigo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ArtigoEntrega_Create</name>
        <label>Add ArtigoEntrega Create</label>
        <locationX>482</locationX>
        <locationY>6680</locationY>
        <assignmentItems>
            <assignToReference>Artigos_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentArtigo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Artigos_Entregar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ArtigoRecolha_Create</name>
        <label>Add ArtigoRecolha Create</label>
        <locationX>590</locationX>
        <locationY>6056</locationY>
        <assignmentItems>
            <assignToReference>Artigos_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentArtigo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Artigos_Recolher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Promessa_Cliente</name>
        <label>Add Email Promessa Cliente</label>
        <locationX>590</locationX>
        <locationY>7820</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStore.Promessa_a_Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supervisao_de_Caixa_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Supervisao_de_Caixa</name>
        <label>Add Email Supervisao de Caixa</label>
        <locationX>590</locationX>
        <locationY>8120</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStore.Supervisao_de_Caixa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Artigo</name>
        <label>Clear Current Artigo</label>
        <locationX>1321</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Temp_Artigo2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Artigo_Troca_After</name>
        <label>Clear Current Artigo Troca After</label>
        <locationX>617</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Temp_Artigo_Recolha</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Artigo_Troca_Before</name>
        <label>Clear Current Artigo Troca Before</label>
        <locationX>502</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Temp_Artigo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Artigo</name>
        <label>Clear Temp Artigo</label>
        <locationX>502</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.PVP__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Troca</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Artigo2</name>
        <label>Clear Temp Artigo</label>
        <locationX>1321</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.PVP__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Selecionar_Artigos_Recolha_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp_Artigo_Recolha</name>
        <label>Clear Temp Artigo Recolha</label>
        <locationX>617</locationX>
        <locationY>4574</locationY>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.PVP__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Selecionar_Artigos_Entrega_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Store</name>
        <label>Set Selected Store</label>
        <locationX>116</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Loja</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Artigo_Entregar</name>
        <label>Set Artigo Entregar</label>
        <locationX>617</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Entregar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designacao_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codigo_LM_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peso_Unitario_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.PVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PVP_Entrega</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Artigo_Entregar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Artigo_Recolher</name>
        <label>Set Artigo Recolher</label>
        <locationX>1321</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Recolher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designacao_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codigo_LM_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peso_Unitario_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentArtigo.PVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PVP_Recolha</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Artigo_Recolher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentArtigoEntrega_Create</name>
        <label>Set CurrentArtigoEntrega Create</label>
        <locationX>482</locationX>
        <locationY>6464</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Artigos_Entregar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OrderId_Entregar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentArtigoRecolha_Create</name>
        <label>Set CurrentArtigoRecolha Create</label>
        <locationX>590</locationX>
        <locationY>5840</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Artigos_Recolher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OrderId_Recolher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inst_Transp</name>
        <label>Set Inst/Transp</label>
        <locationX>248</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Inst_Transp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selec_Inst_Transp_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecionar_Artigos_Recolha_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instaladores</name>
        <label>Set Instaladores</label>
        <locationX>116</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Inst_Transp_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_CD_Installers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecionar_Transp_Inst_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Metadata</name>
        <label>Set Metadata</label>
        <locationX>248</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Address_Other</name>
        <label>Set Order Address Other</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endereco_Recolha.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endereco_Recolha.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endereco_Recolha.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endereco_Recolha.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endereco_Recolha.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CD_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Address_Same</name>
        <label>Set Order Address Same</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CD_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fields_Before_Create</name>
        <label>Set Order Fields Before Create</label>
        <locationX>502</locationX>
        <locationY>5300</locationY>
        <assignmentItems>
            <assignToReference>varOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Tratamento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStore.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item</name>
        <label>Set Order Item</label>
        <locationX>502</locationX>
        <locationY>7280</locationY>
        <assignmentItems>
            <assignToReference>orderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CD_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PbEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PbEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Vars</name>
        <label>Set Order Vars</label>
        <locationX>248</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Tipo_de_Transportador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Transportador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Nome_do_Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_do_Vendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Motivo_de_Devolucao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.N_mero_do_Pedido_a_Entregar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_do_Pedido_a_Entregar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.N_mero_do_Pedido_a_Recolher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_do_Pedido_a_Recolher</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Data_de_Devolucao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_da_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CD_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStore.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Tipo_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transporter_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderId_Entregar</name>
        <label>Set OrderId Entregar</label>
        <locationX>482</locationX>
        <locationY>6572</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ArtigoEntrega_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderId_Recolher</name>
        <label>Set OrderId Recolher</label>
        <locationX>590</locationX>
        <locationY>5948</locationY>
        <assignmentItems>
            <assignToReference>currentArtigo.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ArtigoRecolha_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Store</name>
        <label>Set Store</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Artigo_Entrega</name>
        <label>Set Temp Artigo Entrega</label>
        <locationX>122</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codigo_LM_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designacao_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peso_Unitario_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.PVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PVP_Entrega</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade_Entrega</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nenhum_Artigo_Inserido_Entrega</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Artigo_Recolha</name>
        <label>Set Temp Artigo Recolha</label>
        <locationX>248</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codigo_LM_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Designacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Designacao_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Peso_Unitario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peso_Unitario_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.PVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PVP_Recolha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Artigo.Quantidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade_Recolha</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nenhum_Artigo_Inserido_Recolha</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transportadoras</name>
        <label>Set Transportadoras</label>
        <locationX>380</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Inst_Transp_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_CD_Transportadoras</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecionar_Transp_Inst_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varOrder</name>
        <label>Set varOrder</label>
        <locationX>502</locationX>
        <locationY>5624</locationY>
        <assignmentItems>
            <assignToReference>varOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Artigos_Recolher</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mesmo</name>
        <choiceText>Mesmo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesmo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outro</name>
        <choiceText>Outro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outro</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_CD_Installers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter CD Installers</label>
        <locationX>116</locationX>
        <locationY>2438</locationY>
        <assignNextValueToReference>currentItem_Filter_CD_Installers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_LM_Installers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_CD_Installers.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Certificado de Devolução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Instaladores</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_CD_Stores</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter CD Stores</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_CD_Stores</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Stores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_CD_Stores.Available_Services__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>LM_Certificado_Devolucao</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Store_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_CD_Transportadoras</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter CD Transportadoras</label>
        <locationX>380</locationX>
        <locationY>2438</locationY>
        <assignNextValueToReference>currentItem_Filter_CD_Transportadoras</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Transportadoras</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_CD_Transportadoras.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Certificado de Devolução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Transportadoras</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Algum_Campo_Nulo_Entrega</name>
        <label>Algum Campo Nulo?</label>
        <locationX>485</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Set_Artigo_Entregar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Campo_Nulo_Entrega</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Quantidade_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Selecionar_Artigos_Entrega_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Algum_Campo_Nulo_Recolha</name>
        <label>Algum Campo Nulo?</label>
        <locationX>1189</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Set_Artigo_Recolher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Algum_Nulo_Recolha</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Quantidade_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Selecionar_Artigos_Recolha_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Address_Blank</name>
        <label>Any Address Blank?</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Address_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Address_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Endereco_Recolha.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Endereco_Recolha.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CD_Info_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concluir_Artigo_Recolha</name>
        <label>Concluir?</label>
        <locationX>846</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Algum_Campo_Nulo_Recolha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Concluir_Art_Recolha</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND (5 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Quantidade_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Current_Artigo_Troca_Before</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concluir_Artigo_Troca</name>
        <label>Concluir?</label>
        <locationX>331</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>Algum_Campo_Nulo_Entrega</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Concluir_Troca</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND (5 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Quantidade_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nenhum_Artigo_Inserido_Entrega</name>
        <label>Nenhum Artigo Inserido?</label>
        <locationX>122</locationX>
        <locationY>3926</locationY>
        <defaultConnector>
            <targetReference>Concluir_Artigo_Troca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Nenhum_Artigo_Entrega</name>
            <conditionLogic>1 AND (2 OR 7) AND (3 OR 8) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Artigos_Entregar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantidade_Entrega</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Selecionar_Artigos_Entrega_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nenhum_Artigo_Inserido_Recolha</name>
        <label>Nenhum Artigo Inserido?</label>
        <locationX>248</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Concluir_Artigo_Recolha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Nenhum_Artigo_Recolha</name>
            <conditionLogic>1 AND (2 OR 7) AND (3 OR 8) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Artigos_Recolher</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Peso_Unitario_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PVP_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantidade_Recolha</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Codigo_LM_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Designacao_Recolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Selecionar_Artigos_Recolha_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promessa_Cliente_Null</name>
        <label>Promessa Cliente Null?</label>
        <locationX>502</locationX>
        <locationY>7712</locationY>
        <defaultConnector>
            <targetReference>Add_Email_Promessa_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Promessa_Cliente_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStore.Promessa_a_Cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStore.Promessa_a_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supervisao_de_Caixa_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Address</name>
        <label>Same Address?</label>
        <locationX>248</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Any_Address_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Endereco_Recolha_Entrega</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mesmo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Address_Same</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supervisao_de_Caixa_Null</name>
        <label>Supervisao de Caixa Null?</label>
        <locationX>502</locationX>
        <locationY>8012</locationY>
        <defaultConnector>
            <targetReference>Add_Email_Supervisao_de_Caixa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Supervisao_de_Caixa_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStore.Supervisao_de_Caixa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStore.Supervisao_de_Caixa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Targets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transporter_Type</name>
        <label>Transporter Type</label>
        <locationX>248</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Transportadoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transporter</defaultConnectorLabel>
        <rules>
            <name>Installer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Tipo_de_Transportador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Installer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LM_Installers</targetReference>
            </connector>
            <label>Installer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Troca</name>
        <label>Troca?</label>
        <locationX>502</locationX>
        <locationY>3602</locationY>
        <defaultConnector>
            <targetReference>Confirm_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Troca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Tipo_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Troca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecionar_Artigos_Entrega_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Troca2</name>
        <label>Troca?</label>
        <locationX>502</locationX>
        <locationY>6248</locationY>
        <defaultConnector>
            <targetReference>create_Artigos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Troca2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Tipo_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Troca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Artigos_Entregar</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Store</name>
        <label>Which Store?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sede_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Store.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_SEDE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stores</targetReference>
            </connector>
            <label>Sede</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lojas_Choice</name>
        <collectionReference>Filter_CD_Stores</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LM_Store__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Motivo_Recolha</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motivo_de_Devolucao__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_CD__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_de_Transportador_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_Transportador__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentAccountName</name>
        <dataType>String</dataType>
        <expression>IF({!currentAccount.IsPersonAccount}, {!currentAccount.FirstName} &amp; &quot; &quot; &amp; {!currentAccount.LastName}, {!currentAccount.Name})</expression>
    </formulas>
    <interviewLabel>LM Certificado Devolucao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Certificado Devolucao Portal</label>
    <loops>
        <name>Loop_Artigos_Entregar</name>
        <label>Loop Artigos Entregar</label>
        <locationX>394</locationX>
        <locationY>6356</locationY>
        <collectionReference>Artigos_Entregar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CurrentArtigoEntrega_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Artigos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Artigos_Recolher</name>
        <label>Loop Artigos Recolher</label>
        <locationX>502</locationX>
        <locationY>5732</locationY>
        <collectionReference>Artigos_Recolher</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CurrentArtigoRecolha_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Troca2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Artigos</name>
        <label>create Artigos</label>
        <locationX>502</locationX>
        <locationY>6956</locationY>
        <connector>
            <targetReference>get_CD_Product</targetReference>
        </connector>
        <inputReference>Artigos_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Order</name>
        <label>create Order</label>
        <locationX>502</locationX>
        <locationY>5408</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_OrderItem</name>
        <label>create OrderItem</label>
        <locationX>502</locationX>
        <locationY>7388</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <inputReference>orderItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_CD_Product</name>
        <label>get CD Product</label>
        <locationX>502</locationX>
        <locationY>7064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PbEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Certificado_Devolucao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CD_Record_Type</name>
        <label>Get CD Record Type</label>
        <locationX>248</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Certificado_Devolucao</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Order</name>
        <label>Get Current Order</label>
        <locationX>502</locationX>
        <locationY>5516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_varOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>502</locationX>
        <locationY>7496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Split_Email_CD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMetadata.Email_Template_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LM_Installers</name>
        <label>Get LM Installers</label>
        <locationX>116</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_CD_Installers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Certificado_Devolucao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PbEntry</name>
        <label>get PbEntry</label>
        <locationX>502</locationX>
        <locationY>7172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CD_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Loja</name>
        <label>Get Selected Loja</label>
        <locationX>116</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Store</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>502</locationX>
        <locationY>5192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Fields_Before_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsStandard</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stores</name>
        <label>Get Stores</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_CD_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LM_SEDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LM_VAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transportadoras</name>
        <label>Get Transportadoras</label>
        <locationX>380</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_CD_Transportadoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Transportadora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User_Store</name>
        <label>get User Store</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CD_Info_Screen</name>
        <label>CD Info Screen</label>
        <locationX>248</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Same_Address</targetReference>
        </connector>
        <fields>
            <name>Dados_do_Pedido</name>
            <fieldText>Dados do Pedido</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_do_Pedido_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Transportador</name>
                    <choiceReferences>Tipo_de_Transportador_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de Transportador</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_do_Pedido_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_do_Vendedor</name>
                    <dataType>String</dataType>
                    <fieldText>Nome do Vendedor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_do_Pedido_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo</name>
                    <choiceReferences>Tipo_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CD_Info_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CD_Info_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Motivo</name>
                    <choiceReferences>Motivo_Recolha</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motivo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Select_Endereco_Recolha_Entrega</name>
                    <choiceReferences>Mesmo</choiceReferences>
                    <choiceReferences>Outro</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Endereço de Recolha/Entrega</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CD_Info_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_da_Recolha</name>
                    <dataType>Date</dataType>
                    <fieldText>Data da Recolha</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CD_Info_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_do_Pedido_a_Entregar</name>
                    <dataType>String</dataType>
                    <fieldText>Número do Pedido a Entregar</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Troca</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Numero_do_Pedido_a_Recolher</name>
                    <dataType>String</dataType>
                    <fieldText>Número do Pedido a Recolher</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Endereco_Recolha</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Endereco_Recolha_Entrega</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Observacoes</name>
            <fieldText>Observações</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>502</locationX>
        <locationY>5084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <fields>
            <name>Confirm_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Info_Pedido</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Certificado de Devolução:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo de Transportador: &lt;/strong&gt;{!Tipo_de_Transportador}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nome do Vendedor: &lt;/strong&gt;{!Nome_do_Vendedor}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo: &lt;/strong&gt;{!Tipo}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Motivo: &lt;/strong&gt;{!Motivo}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Data da Recolha:&lt;/strong&gt; {!Data_da_Recolha}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nº do Pedido a Recolher: &lt;/strong&gt;{!Numero_do_Pedido_a_Recolher}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nº do Pedido a Entregar: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Numero_do_Pedido_a_Entregar}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Info_Cliente</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Cliente:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Nome:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccountName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Telefone: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Morada: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!currentAccount.ShippingStreet}, {!currentAccount.ShippingCity}, {!currentAccount.ShippingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Código Postal: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentAccount.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;NIF:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; {!currentAccount.NIF__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Info_Instalador_Transportador</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Informações do Instalador/Transportador:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Nome: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!varOrder.Inst_Transp__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Email:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!varOrder.Inst_Transp__r.E_mail_Empresa__c} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Telefone:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varOrder.Inst_Transp__r.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;﻿NIF:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; {!varOrder.Inst_Transp__r.NIF__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Artigos_Recolher_Confirm</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_ArtigoCD__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Artigos a recolher</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Artigos_Recolher</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4cec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código LM&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Designacao__c&quot;,&quot;guid&quot;:&quot;column-946f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Peso_Unitario__c&quot;,&quot;guid&quot;:&quot;column-e412&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Peso Unitário&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;PVP__c&quot;,&quot;guid&quot;:&quot;column-de24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;PVP&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantidade__c&quot;,&quot;guid&quot;:&quot;column-9ac4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Artigos_Entregar_Confirm</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_ArtigoCD__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Artigos a entregar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Artigos_Entregar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-877e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código LM&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Designacao__c&quot;,&quot;guid&quot;:&quot;column-61d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Peso_Unitario__c&quot;,&quot;guid&quot;:&quot;column-a57e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Peso Unitário&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;PVP__c&quot;,&quot;guid&quot;:&quot;column-29c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;PVP&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantidade__c&quot;,&quot;guid&quot;:&quot;column-40da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Troca</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>502</locationX>
        <locationY>8420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!flowTerminouTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>248</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Account_Flow</targetReference>
        </connector>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-size: 28px; font-family: sans-serif;&quot;&gt;Certificados Devolução &quot;Cliente em Conta&quot; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;{!varStore.Store_Code__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecionar_Artigos_Entrega_Screen</name>
        <label>Selecionar Artigos Entrega Screen</label>
        <locationX>122</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Temp_Artigo_Entrega</targetReference>
        </connector>
        <fields>
            <name>Adicionar_Artigos_Entrega_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Adicionar artigos para Entrega&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecionar_Artigos_Entrega_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Artigos_Entrega_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Codigo_LM_Entrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Name</elementReference>
                    </defaultValue>
                    <fieldText>Código LM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Designacao_Entrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Designacao__c</elementReference>
                    </defaultValue>
                    <fieldText>Designação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quantidade_Entrega</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Quantidade__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selecionar_Artigos_Entrega_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Peso_Unitario_Entrega</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Peso_Unitario__c</elementReference>
                    </defaultValue>
                    <fieldText>Peso Unitário</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>PVP_Entrega</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.PVP__c</elementReference>
                    </defaultValue>
                    <fieldText>PVP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Warning_Artigo_Entrega</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Deve inserir pelo menos 1 artigo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Nenhum_Artigo_Entrega</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Warning_Campo_Nulo_Entrega</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Preencha todos os campos, ou nenhum para avançar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Campo_Nulo_Entrega</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selecionar_Artigos_Entrega_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Artigos_Entrega_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Artigos_Entregar_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_ArtigoCD__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Artigos a Entregar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Artigos_Entregar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1d75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código LM&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Peso_Unitario__c&quot;,&quot;guid&quot;:&quot;column-3319&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Peso Unitário&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Designacao__c&quot;,&quot;guid&quot;:&quot;column-6ac4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Designação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PVP__c&quot;,&quot;guid&quot;:&quot;column-3020&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;PVP&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantidade__c&quot;,&quot;guid&quot;:&quot;column-2c01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecionar_Artigos_Recolha_Screen</name>
        <label>Selecionar Artigos Recolha Screen</label>
        <locationX>248</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Temp_Artigo_Recolha</targetReference>
        </connector>
        <fields>
            <name>Adicionar_Artigos_Recolha_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Adicionar artigos para Recolha&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecionar_Artigos_Recolha_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Artigos_Recolha_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Codigo_LM_Recolha</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Name</elementReference>
                    </defaultValue>
                    <fieldText>Código LM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Designacao_Recolha</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Designacao__c</elementReference>
                    </defaultValue>
                    <fieldText>Designação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quantidade_Recolha</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Quantidade__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selecionar_Artigos_Recolha_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Peso_Unitario_Recolha</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.Peso_Unitario__c</elementReference>
                    </defaultValue>
                    <fieldText>Peso Unitário</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>PVP_Recolha</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Temp_Artigo.PVP__c</elementReference>
                    </defaultValue>
                    <fieldText>PVP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Warning_Artigo_Recolha</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Deve inserir pelo menos 1 artigo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Nenhum_Artigo_Recolha</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Warning_Campo_Nulo_Recolha</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Preencha todos os campos, ou nenhum para avançar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Algum_Nulo_Recolha</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selecionar_Artigos_Recolha_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Artigos_Recolha_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Artigos_Recolher_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_ArtigoCD__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Artigos a Recolher</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Artigos_Recolher</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-57ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código LM&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Peso_Unitario__c&quot;,&quot;guid&quot;:&quot;column-3319&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Peso Unitário&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Designacao__c&quot;,&quot;guid&quot;:&quot;column-6ac4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Designação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PVP__c&quot;,&quot;guid&quot;:&quot;column-15cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;PVP&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantidade__c&quot;,&quot;guid&quot;:&quot;column-2c01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecionar_Transp_Inst_Screen</name>
        <label>Selecionar Transp/Inst Screen</label>
        <locationX>248</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Inst_Transp</targetReference>
        </connector>
        <fields>
            <name>Title_Selec_Transp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Selecionar Transportadora&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Transportador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Transportadora</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title_Selec_Inst</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selecionar Instalador&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Transportador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Installer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selec_Inst_Transp_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selecionar Inst Transp DT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Inst_Transp_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e07f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Store_Screen</name>
        <label>Select Store Screen</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Loja</targetReference>
        </connector>
        <fields>
            <name>Select_Store</name>
            <choiceReferences>Lojas_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecionar Loja</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_User_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Account_Flow</name>
        <label>Search Account Flow</label>
        <locationX>248</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>CD_Info_Screen</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_Certificado_Devolucao</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>flowTerminouTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pedido Criado!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Podes visualizar o pedido nº {!varOrder.OrderNumber} &lt;a href=&quot;https://leroymerlin.my.site.com/autocrat/s/order/{!varOrder.Id}/detail&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Artigos_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ArtigoCD__c</objectType>
    </variables>
    <variables>
        <name>Artigos_Entrega_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Artigos_Entregar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ArtigoCD__c</objectType>
    </variables>
    <variables>
        <name>Artigos_Recolha_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Artigos_Recolher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ArtigoCD__c</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentArtigo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ArtigoCD__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_CD_Installers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_CD_Stores</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_CD_Transportadoras</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Inst_Transp_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>orderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_Artigo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ArtigoCD__c</objectType>
    </variables>
    <variables>
        <name>varMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
</Flow>
