force-app/main/default/flows/LM_Concluir_AT_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setFornecedorPontoSituacao</name>
        <label>setFornecedorPontoSituacao</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>PontoSituacaoAtualizado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aguarda relatório do Fornecedor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInstaladorPontoSituacao</name>
        <label>setInstaladorPontoSituacao</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>PontoSituacaoAtualizado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aguarda relatório técnico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPeritagemPontoSituacao</name>
        <label>setPeritagemPontoSituacao</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>PontoSituacaoAtualizado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aguarda relatório de peritagem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dataVisitaAtualizada</name>
        <label>dataVisitaAtualizada</label>
        <locationX>732</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Concluida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dataAtualizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_visita_instalador__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pontoDeSituacao</targetReference>
            </connector>
            <label>dataAtualizada</label>
        </rules>
    </decisions>
    <decisions>
        <name>pontoDeSituacao</name>
        <label>pontoDeSituacao</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>updateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>instalador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento do Parceiro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInstaladorPontoSituacao</targetReference>
            </connector>
            <label>instalador</label>
        </rules>
        <rules>
            <name>fornecedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento do Fornecedor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFornecedorPontoSituacao</targetReference>
            </connector>
            <label>fornecedor</label>
        </rules>
        <rules>
            <name>peritagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento de peritagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPeritagemPontoSituacao</targetReference>
            </connector>
            <label>peritagem</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LM_Concluir_AT_Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_Trigger_Order_AT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order_Concluida</name>
        <label>Update Order Concluida</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Ponto_de_Situacao__c</field>
            <value>
                <elementReference>PontoSituacaoAtualizado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dataVisitaAtualizada</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ponto_de_Situacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_visita_instalador__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PontoSituacaoAtualizado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
