force-app/main/default/flows/LM_Confirm_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Curr_Inv_to_Collection</name>
        <label>Add Curr Inv to Collection</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Inventory_Datatable_Display</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Curr_Inventory</name>
        <label>Assign Curr Inventory</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>currentInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Curr_Inv_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItems</name>
        <label>Assign OrderItems</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OrderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccount</name>
        <label>AssignAccount</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Unavailable</name>
        <label>Set Inventory Unavailable</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indisponível</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_varOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Vars</name>
        <label>Set Inventory Vars</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Repair_Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Reparação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInventory.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Inventory_Invalid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Em_Confirmacao</name>
        <label>Set Order Em Confirmacao</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Em_Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Vars</name>
        <label>Set Order Vars</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inventory_Unavailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VarOrder</name>
        <label>Set VarOrder</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nao</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Inventory_Bad</name>
        <label>Inventory Bad?</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Em_Confirmacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Bad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checklist_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nao</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Same_Store</name>
        <label>Is Same Store?</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Different_Store_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Store__r.Store_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Invalid_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rascunho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Confirmação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VarOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>IF({!varOrder.Record_Type_API_Name__c} = &quot;LM_Barras_Tejadilho&quot;, 
{!varOrder.BT_Total_Cost__c}, 
{!varOrder.TotalAmount}
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LM Confirm Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Confirm Order Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderInventory</name>
        <label>getOrderInventory</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Curr_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItems</name>
        <label>getOrderItems</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderInventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Inventory_Invalid</name>
        <label>update Inventory Invalid</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <inputReference>currentInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Inventory_Unavailable</name>
        <label>update Inventory Unavailable</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <inputReference>currentInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Em_Confirmacao</name>
        <label>Update Order Em Confirmacao</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>LM_Validate_Token</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_varOrder</name>
        <label>Update varOrder</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>update_Inventory_Unavailable</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Guidelines</targetReference>
        </connector>
        <fields>
            <name>Display_Aluguer_Ferramentas</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Aluguer de Ferramentas&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nome:&lt;/strong&gt; {!currentAccount.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!currentAccount.E_mail_Empresa__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Telefone: &lt;/strong&gt;{!currentAccount.Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Endereço:&lt;/strong&gt; {!currentAccount.ShippingStreet}, {!currentAccount.ShippingCity}, {!currentAccount.ShippingCountry}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Código Postal:&lt;/strong&gt; {!currentAccount.ShippingPostalCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;NIF:&lt;/strong&gt; {!currentAccount.NIF__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_OrderItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OrderItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-6726&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-5a76&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Tipo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-0f88&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Item_Price__c&quot;,&quot;guid&quot;:&quot;column-c2fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Preço Total do Item&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Total</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TOTAL: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!TotalPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Different_Store_Screen</name>
        <label>Different Store Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Different_Store_Warning</name>
            <fieldText>&lt;p&gt;Não é possível executar operação nesta loja.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Order_Screen</name>
        <label>Invalid Order Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Order</name>
            <fieldText>&lt;p&gt;Não é possível executar operação no estado atual do pedido de serviço.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Guidelines</name>
        <label>Product Guidelines</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inventory_Bad</targetReference>
        </connector>
        <fields>
            <name>Display_Guidelines_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Informações do Produto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_Inventory__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Item de Inventário</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Inventory_Datatable_Display</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-abd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nº de Série&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Número de Série&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Hallway__c&quot;,&quot;guid&quot;:&quot;column-3693&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Corredor&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cupboard__c&quot;,&quot;guid&quot;:&quot;column-bf20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Armário&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Shelves__c&quot;,&quot;guid&quot;:&quot;column-6782&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Prateleira&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Guidelines</name>
            <fieldText>&lt;p&gt;{!currentInventory.Product__r.Product_Checklist__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist_Confirm</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checklist aprovada</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <fieldText>Motivação de Reprovação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checklist_Confirm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nao</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Info_Screen</name>
        <label>Receipt Info Screen</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Order_Vars</targetReference>
        </connector>
        <fields>
            <name>Title_Payment_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dados de Pagamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Receipt_Info_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Receipt_Info_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_Caixa</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Operador</name>
                    <dataType>String</dataType>
                    <fieldText>Operador</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Info_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Same_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LM_Validate_Token</name>
        <label>LM Validate Token</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Receipt_Info_Screen</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderItems</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Inventory_Datatable_Display</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
