force-app/main/default/flows/LM_Criar_Selecionar_Instalador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Installer_Fields</name>
        <label>Assign Current Installer Fields</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>currentInstaller.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Inst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NIF_Externo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacto_Instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Certification_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certificacao_Instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Is_LM_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_code_externo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Processos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DCI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Installer_Rec_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installer_Rec_Type</name>
        <label>Assign Installer Rec Type</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>currentInstaller.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Installer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Last_Selected_Inst_Type</name>
        <label>Clear Last Selected Inst Type</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Last_Selected_Inst_Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Instalador_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Generic_Installer</name>
        <label>Set Generic Installer</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Last_Selected_Inst_Type</name>
        <label>Set Last Selected Inst Type</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Last_Selected_Inst_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Procura_Instalador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Ext_Installer_Fieldss</name>
        <label>Set Order Ext Installer Fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador Externo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instaladores_Externos_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Int_Installer_Fields</name>
        <label>Set Order Int Installer Fields</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instaladores_Internos_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_New_Installer_Fields</name>
        <label>Set Order New Installer Fields</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador Externo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstaller.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Instalador_Externo</name>
        <choiceText>Instalador Externo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador Externo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Instalador_LM</name>
        <choiceText>Instalador Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador LM</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_de_Certificacao_Choice</name>
        <choiceText>Nº de Certificação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nº de Certificação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nome_Choice</name>
        <choiceText>Nome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nota_de_Venda</name>
        <choiceText>Nota de Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nota de Venda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pedido</name>
        <choiceText>Pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pedido</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>External_Installers_Filtered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>External Installers Filtered</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_External_Installers_Filtered_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_External_Installers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_External_Installers_Filtered_0.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>DCI</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Internal_Installers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Internal Installers</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Internal_Installers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Internal_Installers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Internal_Installers.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>DCI</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_External_Installers</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Tipo_de_Instalador_Decision</name>
        <label>Tipo de Instalador</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Last_Selected_Inst_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_LM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Installer_Later</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instaladores_Internos_DT.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Int_Installer_Fields</targetReference>
            </connector>
            <label>Interno</label>
        </rules>
        <rules>
            <name>Externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_Externo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instaladores_Externos_DT.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Ext_Installer_Fieldss</targetReference>
            </connector>
            <label>Externo</label>
        </rules>
        <rules>
            <name>Instalador_a_Definir_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Define_Installer_Later</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_LM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Generic_Installer</targetReference>
            </connector>
            <label>Instalador a Definir</label>
        </rules>
        <rules>
            <name>Criar_novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_Externo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Instalador</targetReference>
            </connector>
            <label>Criar novo externo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipos_Instaladores_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installed_By__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LM Criar/Selecionar Instalador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Criar/Selecionar Instalador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Installer</name>
        <label>Create Installer</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Set_Order_New_Installer_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Instalador_Repetido_Screen</targetReference>
        </faultConnector>
        <inputReference>currentInstaller</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_External_Installers</name>
        <label>Get External Installers</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Installers_Filtered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>Is_LM_Installer__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Certification_No__c</queriedFields>
        <queriedFields>Technical_Certificates__c</queriedFields>
        <queriedFields>Processos__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installer_RecType</name>
        <label>Get Installer RecType</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Internal_Installers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Installers</name>
        <label>Get Internal Installers</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Internal_Installers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Instalador_Repetido_Screen</name>
        <label>Instalador Repetido Screen</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Instalador_Ext_Repetido_Text</name>
            <fieldText>&lt;p&gt;Erro ao criar o Instalador. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Instalador_Screen</name>
        <label>Instalador Screen</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Last_Selected_Inst_Type</targetReference>
        </connector>
        <fields>
            <name>Info_Instalador</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Informações do Instalador&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instalador_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Procura_Instalador</name>
                    <choiceReferences>Instalador_LM</choiceReferences>
                    <choiceReferences>Instalador_Externo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Last_Selected_Inst_Type</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Instalador</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Add_novo_Instalador_Externo</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Adicionar novo instalador externo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Procura_Instalador</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Instalador_Externo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Define_Installer_Later</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Definir instalador mais tarde</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Procura_Instalador</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Instalador_LM</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Instaladores_Internos_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Instaladores Internos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Internal_Installers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e4ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-c557&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Procura_Instalador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_LM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instalador_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Instaladores_Externos_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Instaladores Externos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>External_Installers_Filtered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fbc1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-3636&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Technical_Certificates__c&quot;,&quot;guid&quot;:&quot;column-441b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Certificados Técnicos&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Procura_Instalador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_Externo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instalador_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Internal_Inst_Not_Selected_Wrng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Tem de selecionar um instalador interno antes de prosseguir ou selecionar a opção &quot;Definir instalador mais tarde&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Define_Installer_Later</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instaladores_Internos_DT.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last_Selected_Inst_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_LM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>External_Inst_Not_Selected_Wrng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Tem de selecionar um instalador externo antes de prosseguir&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instaladores_Externos_DT.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last_Selected_Inst_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_Externo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Novo_Instalador</name>
        <label>Novo Instalador</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Current_Installer_Fields</targetReference>
        </connector>
        <fields>
            <name>label_criarExterno</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Preencha abaixo os dados do novo instalador externo:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_Inst</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NIF_Externo</name>
                    <dataType>String</dataType>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;NIF em formato inválido.&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!NIF_Externo}) == 9) &amp;&amp; ISNUMBER({!NIF_Externo})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_code_externo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contacto_Instalador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>999999999</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{9}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Instalador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Certificacao_Instalador</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Certificação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Installer_RecType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentInstaller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_External_Installers_Filtered_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Internal_Installers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Last_Selected_Inst_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
</Flow>
