force-app/main/default/flows/LM_Create_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_B2B_Revendedor_False</name>
        <label>Set B2B-Revendedor False</label>
        <locationX>611</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Current_Acc_Empresarial_Create</name>
        <label>Set Current Acc Empresarial Create</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conta_Empresa_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acc_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Acc_NIF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Card_Number_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Revendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2B_Nulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Acc_Empresarial_Edit</name>
        <label>Set Current Acc Empresarial Edit</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>currentAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conta_Empresa_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_First_Name_Edit_Emp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Email_Edit_Emp.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Phone_Edit_Emp.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Acc_NIF_Edit_Emp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Empresa_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Empresa_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Empresa_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Empresa_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Empresa_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Card_Number_Edit_Emp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Revendedor_Edit_Emp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code_Edit_Emp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2B_Nulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Acc_Person_Create</name>
        <label>Set Current Acc Person Create</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Acc_Rec_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Acc_NIF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Acc_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Card_Number_Emp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Revendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2B_Nulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Acc_Person_Edit</name>
        <label>Set Current Acc Person Edit</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>currentAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.IsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Acc_Rec_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_First_Name_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Last_Name_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Email_Edit_PA.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Curr_Phone_Edit_PA.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Acc_NIF_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_PA_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_PA_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_PA_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_PA_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_PA_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>House_Card_Number_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Revendedor_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccount.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code_Edit_PA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2B_Nulo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Empresarial</name>
        <choiceText>Empresarial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empresarial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Type_Create</name>
        <label>Account Type Create</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Acc_Empresarial_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empresarial Create</defaultConnectorLabel>
        <rules>
            <name>Person_Acc_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acc_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Individual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Acc_Person_Create</targetReference>
            </connector>
            <label>Person Acc Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Type_Edit</name>
        <label>Account Type Edit</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Empresa_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empresarial</defaultConnectorLabel>
        <rules>
            <name>Person_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Person_Account</targetReference>
            </connector>
            <label>Person Acc</label>
        </rules>
    </decisions>
    <decisions>
        <name>B2B_Nulo</name>
        <label>B2B Nulo?</label>
        <locationX>743</locationX>
        <locationY>1466</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B2B_Nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.B2B_Revendedor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_B2B_Revendedor_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Acc_Address_Blank</name>
        <label>Create Acc Address Blank?</label>
        <locationX>1172</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Account_Type_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Acc_Address_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Acc_Address.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Acc_Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Acc_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit_Empresa_Address_Blank</name>
        <label>Edit Empresa Address Blank?</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Acc_Empresarial_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Edit_Empresa_Address_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Empresa_Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Edit_Empresa_Acc_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit_PA_Address_Blank</name>
        <label>Edit PA Address Blank?</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Acc_Person_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Edit_PA_Address_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Edit_PA_Address.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_PA_Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Edit_Person_Acc_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Account</name>
        <label>Found Account?</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>New_Acc_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Edit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Country_Default</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currentAccount.PersonMailingCountry}), &apos;Portugal&apos;, {!currentAccount.PersonMailingCountry})</expression>
    </formulas>
    <formulas>
        <name>Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Curr_First_Name} + {!Curr_Last_Name}</expression>
    </formulas>
    <interviewLabel>LM Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Create Account Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NIF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NIF_Busca</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conta_Empresa_Record_Type</name>
        <label>Get Conta Empresa Record Type</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conta_Empresa</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Empresa_Account</name>
        <label>Get Empresa Account</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Empresa_Acc_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>currentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Acc_Rec_Type</name>
        <label>Get Person Acc Rec Type</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Conta_Empresa_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Account</name>
        <label>get Person Account</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Person_Acc_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>currentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buscar_Cliente</name>
        <label>Buscar Cliente</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
        <fields>
            <name>Display_Buscar_Cliente</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pesquisar Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buscar_Cliente_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buscar_Cliente_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NIF_Busca</name>
                    <dataType>String</dataType>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;O NIF deve ter exatamente 9 dígitos e ser numérico.&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!NIF_Busca}) == 9) &amp;&amp; ISNUMBER({!NIF_Busca})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buscar_Cliente_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Empresa_Acc_Screen</name>
        <label>Edit Empresa Acc Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Empresa_Address_Blank</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Display_Criar_Conta</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Dados de Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Empresa_Acc_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_First_Name_Edit_Emp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Primeiro Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>House_Card_Number_Edit_Emp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varOrder.House_Card_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Nº Cartão da Casa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Empresa_Acc_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code_Edit_Emp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Phone_Edit_Emp</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telemóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentAccount.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;O telemóvel deve conter exatamente 9 dígitos e ser numérico.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!Curr_Phone_Edit_Emp.value}) == 9) &amp;&amp; ISNUMBER({!Curr_Phone_Edit_Emp.value})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Email_Edit_Emp</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentAccount.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Empresa_Acc_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Acc_NIF_Edit_Emp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentAccount.NIF__c</elementReference>
                    </defaultValue>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>B2B_Revendedor_Edit_Emp</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>B2B-Revendedor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_DCI</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Edit_Empresa_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Morada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>currentAccount.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>currentAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>currentAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>currentAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>currentAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Missing_Address_Edit_Empresa</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;* Insira os dados da Morada&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Edit_Empresa_Address_Blank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Person_Acc_Screen</name>
        <label>Edit Person Acc Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_PA_Address_Blank</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Display_Criar_Conta</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Dados de Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Person_Acc_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Person_Acc_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_First_Name_Edit_PA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentAccount.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>Primeiro Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Person_Acc_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Last_Name_Edit_PA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentAccount.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Último Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Person_Acc_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>House_Card_Number_Edit_PA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varOrder.House_Card_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Nº Cartão da Casa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Person_Acc_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Person_Acc_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code_Edit_PA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Person_Acc_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Phone_Edit_PA</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telemóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentAccount.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;O telemóvel deve conter exatamente 9 dígitos e ser numérico.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!Curr_Phone_Edit_PA.value}) == 9) &amp;&amp; ISNUMBER({!Curr_Phone_Edit_PA.value})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Person_Acc_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Email_Edit_PA</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentAccount.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Person_Acc_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Acc_NIF_Edit_PA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentAccount.NIF__c</elementReference>
                    </defaultValue>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>B2B_Revendedor_Edit_PA</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>B2B-Revendedor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_DCI</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Edit_PA_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Morada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>currentAccount.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>currentAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>currentAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>currentAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>currentAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Missing_Address_Edit_PA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;* Insira os dados da Morada&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Edit_PA_Address_Blank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Acc_Screen</name>
        <label>New Acc Screen</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Acc_Address_Blank</targetReference>
        </connector>
        <fields>
            <name>Display_Criar_Conta</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Dados de Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acc_Type</name>
            <choiceReferences>Individual</choiceReferences>
            <choiceReferences>Empresarial</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Conta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Acc_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Acc_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Primeiro Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Último Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>House_Card_Number_PA</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Cartão da Casa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Acc_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Individual</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Acc_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Acc_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Acc_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>House_Card_Number_Emp</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Cartão da Casa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Acc_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Empresarial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Acc_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Acc_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telemóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;O telemóvel deve conter exatamente 9 dígitos e ser numérico.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!Curr_Phone.value}) == 9) &amp;&amp; ISNUMBER({!Curr_Phone.value})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Curr_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Acc_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Acc_NIF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NIF_Busca</elementReference>
                    </defaultValue>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>B2B_Revendedor</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>B2B-Revendedor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_DCI</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Acc_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Morada</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Missing_Address_Create</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;* Insira os dados da Morada&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Create_Acc_Address_Blank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Acc_Rec_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Process_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
