force-app/main/default/flows/LM_CreateTasksAfterConfirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddTask1ToCollection</name>
        <label>AddTask1ToCollection</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTask2ToCollection</name>
        <label>AddTask2ToCollection</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTask3ToCollection</name>
        <label>AddTask3ToCollection</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_1</name>
        <label>Assign Task 1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date4DaysFromCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1º PDS AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTask1ToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_2</name>
        <label>Assign Task 2</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date7DaysFromCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2º PDS AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTask2ToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_3</name>
        <label>Assign Task 3</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date11DaysFromCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3º PDS AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTask3ToCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Date11DaysFromCreated</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) + 11</expression>
    </formulas>
    <formulas>
        <name>Date4DaysFromCreated</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) + 4</expression>
    </formulas>
    <formulas>
        <name>Date7DaysFromCreated</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) + 7</expression>
    </formulas>
    <formulas>
        <name>QueueId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Queue_Assist_ncia.Id} != null, {!Get_Queue_Assist_ncia.Id}, {!GetQueue.Id})</expression>
    </formulas>
    <formulas>
        <name>QueueName</name>
        <dataType>String</dataType>
        <expression>&apos;- &apos; + {!$Record.Store_Name__c}</expression>
    </formulas>
    <interviewLabel>LM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM CreateTasksAfterConfirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <inputReference>varTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Assist_ncia</name>
        <label>Get Queue Assistência</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueue</name>
        <label>Get Queue</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pull_ATs_Centralizacao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Assist_ncia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
