force-app/main/default/flows/LM_DCI_Select_Installer_SN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Instalador_And_SN</name>
        <label>Set Instalador And SN</label>
        <locationX>204</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recordId.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecionar_Instalador_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setSN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSN</name>
        <label>setSN</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>recordId.Equipment_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimmedSN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_B2B_End</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>InstaladorExterno</name>
        <choiceText>Instalador Externo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador Externo</stringValue>
        </value>
    </choices>
    <choices>
        <name>InstaladorInterno</name>
        <choiceText>Instalador Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador Interno</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HasInstaller</name>
        <label>HasInstaller?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Instaladores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasInstaller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Installer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDefaultInstaller</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>instalador_interno</name>
        <label>instalador interno?</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>setSN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Installed_By__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instalador LM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instalador_And_SN</targetReference>
            </connector>
            <label>interno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_B2B</name>
        <label>É B2B?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>instalador_interno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_B2B_End</name>
        <label>É B2B?</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>pedidoCompleto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B2B_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Confirm_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>pedidoCompleto</name>
        <label>pedidoCompleto?</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>updateOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Installer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Equipment_Serial_No__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Installer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Screen</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>pedidoFechado</name>
        <label>pedidoFechado</label>
        <locationX>435</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>erro_pedido_ja_terminado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente Nº Série/Instalador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasInstaller</targetReference>
            </connector>
            <label>Nao</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TrimmedSN</name>
        <dataType>String</dataType>
        <expression>TRIM({!Serial_Number})</expression>
    </formulas>
    <interviewLabel>LM DCI Select Installer &amp; SN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM DCI Select Installer or SN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Instaladores</name>
        <label>Get Instaladores</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selecionar_Instalador_e_SN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultInstaller</name>
        <label>GetDefaultInstaller</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Instaladores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Installer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DefaultInstallers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Certification_No__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>248</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
        <fields>
            <name>confirmText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Depois de concluir, o pedido não poderá ser alterado. Concluir?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Serial Number: {!recordId.Equipment_Serial_No__c}&lt;/p&gt;&lt;p&gt;Nome Instalador: {!recordId.Installer__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.B2B_Revendedor__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Text_B2B</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Depois de concluir, o pedido não poderá ser alterado. Concluir?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Serial Number: {!recordId.Equipment_Serial_No__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.B2B_Revendedor__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>confirmCheckBox</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmo</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Confirme para terminar o pedido.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!confirmCheckBox}==True</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>erro_pedido_ja_terminado</name>
        <label>erro pedido ja terminado</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>erroTerminado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 13, 13);&quot;&gt;&quot;Não é possível atualizar/concluir. O pedido encontra-se num estado final ou ainda não foi confirmado.&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecionar_Instalador_e_SN</name>
        <label>Selecionar Instalador e SN</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_B2B</targetReference>
        </connector>
        <fields>
            <name>Selecionar_Instalador_e_SN_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Instalador_e_SN_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Serial_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Equipment_Serial_No__c</elementReference>
                    </defaultValue>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Selecionar_Instalador_e_SN_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selecionar_Instalador_e_SN_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selecionar_Instalador_DT</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Instaladores Internos</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Instaladores</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a602&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-318f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>DefaultInstallers</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Installed_By__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Instalador LM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>309</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pedidoFechado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentInstaller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DefaultInstallers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>SelectedInstallerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
