force-app/main/default/flows/LM_DCI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Qtd</name>
        <label>Add Qtd</label>
        <locationX>820</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Qtd_Produtos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DCI_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Installer_Fields</name>
        <label>Assign Current Installer Fields</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>currentInstaller.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Inst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NIF_Externo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacto_Instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Certification_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certificacao_Instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Is_LM_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_code_externo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Processos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DCI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Installer_Rec_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installer_Rec_Type</name>
        <label>Assign Installer Rec Type</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>currentInstaller.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Installer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewInstaller</name>
        <label>assignNewInstaller</label>
        <locationX>2162</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>currentInstaller.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.NIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NIF_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_novo_instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.E_mail_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_novo_instalador.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Processos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DCI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Certification_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Certifica_o_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Cert_Emission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_de_Emiss_o_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Cert_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validade_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entidade_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Technical_Certificates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Certificados_Tec_novo_instalador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Is_LM_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInstaller.Country_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Code_Instalador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InstallerWithSameNif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Last_Selected_Inst_Type</name>
        <label>Clear Last Selected Inst Type</label>
        <locationX>1766</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Last_Selected_Inst_Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Instalador_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Generic_Installer</name>
        <label>Set Generic Installer</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Selected_Inst_Type</name>
        <label>Set Last Selected Inst Type</label>
        <locationX>3482</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Last_Selected_Inst_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Procura_Instalador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Ext_Installer_Fieldss</name>
        <label>Set Order Ext Installer Fields</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador Externo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instaladores_Externos_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Int_Installer_Fields</name>
        <label>Set Order Int Installer Fields</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instaladores_Internos_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_New_Installer_Fields</name>
        <label>Set Order New Installer Fields</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador Externo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstaller.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Vars</name>
        <label>Set Order Vars</label>
        <locationX>820</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderRecType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_do_Vendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Sale_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_do_Pedido_Venda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Sale_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Venda</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Qtd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Var</name>
        <label>Set Product Var</label>
        <locationX>820</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>DCI_Product</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_DCI_Product</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setInstaller</name>
        <label>setInstaller</label>
        <locationX>2690</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstaller.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInstallerExistente</name>
        <label>setInstallerExistente</label>
        <locationX>1898</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallerWithSameNif.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Instalador_Externo</name>
        <choiceText>Instalador Externo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador Externo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Instalador_LM</name>
        <choiceText>Instalador Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instalador LM</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_de_Certificacao_Choice</name>
        <choiceText>Nº de Certificação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nº de Certificação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nome_Choice</name>
        <choiceText>Nome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nota_de_Venda</name>
        <choiceText>Nota de Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nota de Venda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pedido</name>
        <choiceText>Pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pedido</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>External_Installers_Filtered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>External Installers Filtered</label>
        <locationX>1766</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_External_Installers_Filtered</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_External_Installers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_External_Installers_Filtered.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>DCI</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Internal_Installers_Filtered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Internal Installers Filtered</label>
        <locationX>1766</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Internal_Installers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_2.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>DCI</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_External_Installers</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>addicionarAlojaCorrente</name>
        <label>addicionarAlojaCorrente</label>
        <locationX>2162</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>simAdicionar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adicionar_instalador_loja_corrente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>criar_instalador_loja_corrente</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>B2B_Revendedor</name>
        <label>B2B Revendedor?</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Installer_RecType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipamento_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InstaladorExiste</name>
        <label>InstaladorExiste</label>
        <locationX>2162</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>criar_novo_instalador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstallerWithSameNif.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nao_instalador</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>naMesmaLoja</name>
        <label>naMesmaLoja</label>
        <locationX>1898</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>falha_InstaladorExistenteNoutraLoja</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>simMesmaLoja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstaladorExisteNaLoja.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>falha_instaladorExistenteNaLoja</targetReference>
            </connector>
            <label>simMesmaLoja</label>
        </rules>
    </decisions>
    <decisions>
        <name>nao_instalador</name>
        <label>se nao é instalador</label>
        <locationX>1634</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>InstaladorExisteNaLoja</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstallerWithSameNif.Record_Type_API_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LM_Installer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>falha_AccountComNifIgual</targetReference>
            </connector>
            <label>nao é</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Instalador_Decision</name>
        <label>Tipo de Instalador</label>
        <locationX>1766</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Set_Last_Selected_Inst_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_LM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Installer_Later</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instaladores_Internos_DT.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Adicionar_novo_instalador_interno</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Int_Installer_Fields</targetReference>
            </connector>
            <label>Interno</label>
        </rules>
        <rules>
            <name>Externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_Externo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instaladores_Externos_DT.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Ext_Installer_Fieldss</targetReference>
            </connector>
            <label>Externo</label>
        </rules>
        <rules>
            <name>Instalador_a_Definir_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Define_Installer_Later</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_LM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Generic_Installer</targetReference>
            </connector>
            <label>Instalador a Definir</label>
        </rules>
        <rules>
            <name>Criar_novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_Externo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Instalador</targetReference>
            </connector>
            <label>Criar novo externo</label>
        </rules>
        <rules>
            <name>Criar_novo_interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adicionar_novo_instalador_interno</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Procura_Instalador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Instalador_LM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Novo_Instalador_Screen</targetReference>
            </connector>
            <label>Criar novo interno</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipos_Instaladores_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installed_By__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LM_DCI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_DCI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Installer</name>
        <label>Create Installer</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Set_Order_New_Installer_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Instalador_Repetido_Screen</targetReference>
        </faultConnector>
        <inputReference>currentInstaller</inputReference>
    </recordCreates>
    <recordCreates>
        <name>criar_instalador_loja</name>
        <label>criar instalador loja</label>
        <locationX>2690</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>setInstaller</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Repetido_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>currentInstaller.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LM_ContaLoja__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>criar_instalador_loja_corrente</name>
        <label>criar instalador loja corrente</label>
        <locationX>1898</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>setInstallerExistente</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Repetido_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>InstallerWithSameNif.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LM_ContaLoja__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>criar_novo_instalador</name>
        <label>criar novo instalador</label>
        <locationX>2690</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>criar_instalador_loja</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Repetido_Screen</targetReference>
        </faultConnector>
        <inputReference>currentInstaller</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_DCI_Product</name>
        <label>Get DCI Product</label>
        <locationX>820</locationX>
        <locationY>3554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Product_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_DCI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_Installers</name>
        <label>Get External Installers</label>
        <locationX>1766</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Installers_Filtered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <queriedFields>Is_LM_Installer__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Certification_No__c</queriedFields>
        <queriedFields>Technical_Certificates__c</queriedFields>
        <queriedFields>Processos__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installer_RecType</name>
        <label>Get Installer RecType</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Internal_Installers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Installers</name>
        <label>Get Internal Installers</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Internal_Installers_Filtered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installer_RecType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store</name>
        <label>Get Store</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InstaladorExisteNaLoja</name>
        <label>InstaladorExisteNaLoja</label>
        <locationX>1898</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>naMesmaLoja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInstaller.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_ContaLoja__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InstallerWithSameNif</name>
        <label>InstallerWithSameNif</label>
        <locationX>2162</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InstaladorExiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NIF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInstaller.NIF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Equipamento_Screen</name>
        <label>Equipamento Screen</label>
        <locationX>820</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Order_Vars</targetReference>
        </connector>
        <fields>
            <name>Info_Equipamento</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Informações do Equipamento&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equipamento_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Equipamento_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Marca</name>
                    <dataType>String</dataType>
                    <fieldText>Marca</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Equipamento_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Modelo</name>
                    <dataType>String</dataType>
                    <fieldText>Modelo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Equipamento_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SerialNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Nº de Série</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>falha_AccountComNifIgual</name>
        <label>falha_AccountComNifIgual</label>
        <locationX>1370</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
        <fields>
            <name>label_falha_AccountComNifIgual</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Já existe um registo com NIF: {!NIF_novo_instalador}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Nome em registo: {!InstallerWithSameNif.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>falha_instaladorExistenteNaLoja</name>
        <label>falha_instaladorExistenteNaLoja</label>
        <locationX>1634</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Instalador_Screen</targetReference>
        </connector>
        <fields>
            <name>ja_existe</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Instalador já existente com NIF igual nesta loja.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>falha_InstaladorExistenteNoutraLoja</name>
        <label>falha_InstaladorExistenteNoutraLoja</label>
        <locationX>2162</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addicionarAlojaCorrente</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ja_existe</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Instalador já existente com NIF igual noutra loja.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Adicionar_instalador_loja_corrente</name>
            <dataType>Boolean</dataType>
            <fieldText>Adicionar instalador á loja corrente?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Receipt_Screen</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068dv000000RqXD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LM_DCI_Logo.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(32, 33, 36); font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 24px;&quot;&gt;Declaração Conformidade Instalação&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Get_Store.Store_Code__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GuidelinesText</name>
            <fieldText>&lt;p&gt;{!currentMetadata.Process_Guidelines__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Instalador_Repetido_Screen</name>
        <label>Instalador Repetido Screen</label>
        <locationX>1106</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Instalador_Ext_Repetido_Text</name>
            <fieldText>&lt;p&gt;Erro ao criar o Instalador. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Instalador_Screen</name>
        <label>Instalador Screen</label>
        <locationX>1766</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Last_Selected_Inst_Type</targetReference>
        </connector>
        <fields>
            <name>Info_Instalador</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Informações do Instalador&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instalador_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Procura_Instalador</name>
                    <choiceReferences>Instalador_LM</choiceReferences>
                    <choiceReferences>Instalador_Externo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Last_Selected_Inst_Type</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Instalador</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Adicionar_novo_instalador_interno</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Adicionar novo instalador interno</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Definir instalador mais tarde está selecionado! &lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Adicionar_novo_instalador_interno}==True&amp;&amp;{!Define_Installer_Later}==False)||({!Adicionar_novo_instalador_interno}==False&amp;&amp;{!Define_Installer_Later}==True)||({!Adicionar_novo_instalador_interno}==False&amp;&amp;{!Define_Installer_Later}==False)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Procura_Instalador</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Instalador_LM</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>$Flow.CurrentDate</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Add_novo_Instalador_Externo</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Adicionar novo instalador externo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Procura_Instalador</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Instalador_Externo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Define_Installer_Later</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Definir instalador mais tarde</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Procura_Instalador</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Instalador_LM</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Instaladores_Internos_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Instaladores Internos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Internal_Installers_Filtered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-69b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-fabc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Procura_Instalador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_LM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instalador_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Instaladores_Externos_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Instaladores Externos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>External_Installers_Filtered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fbc1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-3636&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Technical_Certificates__c&quot;,&quot;guid&quot;:&quot;column-441b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Certificados Técnicos&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Procura_Instalador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_Externo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instalador_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Instalador_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Internal_Inst_Not_Selected_Wrng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Tem de selecionar um instalador interno antes de prosseguir ou selecionar a opção &quot;Definir instalador mais tarde&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Define_Installer_Later</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instaladores_Internos_DT.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last_Selected_Inst_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_LM</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Adicionar_novo_instalador_interno</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>External_Inst_Not_Selected_Wrng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Tem de selecionar um instalador externo antes de prosseguir&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_novo_Instalador_Externo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instaladores_Externos_DT.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last_Selected_Inst_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Instalador_Externo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Novo_Instalador</name>
        <label>Novo Instalador</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Current_Installer_Fields</targetReference>
        </connector>
        <fields>
            <name>label_criarExterno</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Preencha abaixo os dados do novo instalador externo:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_Inst</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NIF_Externo</name>
                    <dataType>String</dataType>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;NIF em formato inválido.&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!NIF_Externo}) == 9) &amp;&amp; ISNUMBER({!NIF_Externo})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_code_externo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contacto_Instalador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>999999999</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{9}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Instalador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Novo_Instalador_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Certificacao_Instalador</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Certificação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Novo_Instalador_Screen</name>
        <label>Novo Instalador Screen</label>
        <locationX>2162</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignNewInstaller</targetReference>
        </connector>
        <fields>
            <name>label_novoInstalador</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Preencha abaixo os dados do novo instalador interno:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Novo_Instalador_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_novo_instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NIF_novo_instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.NIF__c</elementReference>
                    </defaultValue>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 0, 0);&quot;&gt;O NIF inserido nao corresponde a 9 digitos.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(LEN({!NIF_novo_instalador}) == 9) &amp;&amp; ISNUMBER({!NIF_novo_instalador})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Novo_Instalador_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Novo_Instalador_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code_Instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+351</stringValue>
                    </defaultValue>
                    <fieldText>Cod. País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_novo_instalador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>999999999</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{9}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_novo_instalador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>currentInstaller.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Novo_Instalador_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Certificao</name>
            <fieldText>Certificação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certificao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Certifica_o_novo_instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Certification_No__c</elementReference>
                    </defaultValue>
                    <fieldText>Nº Certificação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Entidade_novo_instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Entity__c</elementReference>
                    </defaultValue>
                    <fieldText>Entidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Certificados_Tec_novo_instalador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Technical_Certificates__c</elementReference>
                    </defaultValue>
                    <fieldText>Certificados Técnicos</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Certificao_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_de_Emiss_o_novo_instalador</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Cert_Emission_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Data de Emissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Validade_novo_instalador</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>currentInstaller.Cert_Expiration_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Validade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Screen</name>
        <label>Receipt Screen</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Account_Flow</targetReference>
        </connector>
        <fields>
            <name>Receipt_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Receipt_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_do_Vendedor</name>
                    <dataType>String</dataType>
                    <fieldText>Nome do Vendedor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Venda</name>
                    <choiceReferences>Pedido</choiceReferences>
                    <choiceReferences>Nota_de_Venda</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_do_Pedido_Venda</name>
                    <dataType>String</dataType>
                    <fieldText>Nº do Pedido / Venda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Account_Flow</name>
        <label>Search Account Flow</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>B2B_Revendedor</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_DCI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentAccount</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentInstaller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_External_Installers_Filtered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>DCI_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Last_Selected_Inst_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderRecType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Processes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Qtd_Produtos</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
