force-app/main/default/flows/LM_Devolucao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Avariado</name>
        <label>Set Avariado</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avariado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curr_Account_Var</name>
        <label>Set Curr Account Var</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Item_Aluguer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curr_Inventory</name>
        <label>Set Curr Inventory</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>currentInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Checklist_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Concluida</name>
        <label>Set Order Concluida</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Refund_Fields</name>
        <label>Set Order Refund Fields</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recordId.Receipt_Number_Refund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Ticket_Devolucao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Cashier_Number_Refund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Caixa_Devolucao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Operador_Refund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operador_Devolucao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_Devolucao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Concluida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reparacao</name>
        <label>Set Reparacao</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Reparação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Invt_Avariado</name>
        <label>Update Invt Avariado</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Repair_Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInventory.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_de_Devolucao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_BT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Invt_Disponivel</name>
        <label>update Invt Disponivel</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disponível</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentInventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Info_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <constants>
        <name>Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolução de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_BT</name>
        <label>Is BT?</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Set_Reparacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Barras_Tejadilho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Avariado</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inventory_OK</name>
        <label>Is Inventory OK?</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_Invt_Avariado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checklist_OK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Invt_Disponivel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Same_Store</name>
        <label>Is Same Store?</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Different_Store_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Store__r.Store_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid?</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Invalid_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCurrAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Duration</name>
        <dataType>Number</dataType>
        <expression>{!Extended_Order.EndDate} - {!Extended_Order.EffectiveDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Order_Item_Aluguer.UnitPrice}*{!Duration}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LM_Devolucao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_Devolucao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Item_Aluguer</name>
        <label>Get Order Item Aluguer</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Aluguer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aluguer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Aluguer</name>
        <label>Get Product Aluguer</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrAccount</name>
        <label>getCurrAccount</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Curr_Account_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInventory</name>
        <label>getInventory</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Curr_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Inventory</name>
        <label>update Inventory</label>
        <locationX>248</locationX>
        <locationY>1838</locationY>
        <inputReference>currentInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Order</name>
        <label>update Order</label>
        <locationX>248</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>update_Inventory</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Different_Store_Screen</name>
        <label>Different Store Screen</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Different_Store_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Não é possível executar operação nesta loja.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Order_Screen</name>
        <label>Invalid Order Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Order</name>
            <fieldText>&lt;p&gt;Não é possível executar operação no estado atual do pedido de serviço&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Checklist_Screen</name>
        <label>Inventory Checklist Screen</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Inventory_OK</targetReference>
        </connector>
        <fields>
            <name>Title_Screen_Not_Late</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_Summary</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Numero de Série:&lt;/strong&gt; {!currentInventory.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Product_Guidelines</name>
            <fieldText>&lt;p&gt;{!getInventory.Product__r.Product_Checklist__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist_OK</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checklist Aprovada</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <fieldText>Motivo de Reprovação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checklist_OK</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nao</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Return_Info_Screen</name>
        <label>Return Info Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Order_Refund_Fields</targetReference>
        </connector>
        <fields>
            <name>Display_Title_Return_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Dados de Pagamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Info_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Info_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket_Devolucao</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_Caixa_Devolucao</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Operador_Devolucao</name>
                    <dataType>String</dataType>
                    <fieldText>Operador</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Info_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Same_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Extended_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
