force-app/main/default/flows/LM_DCI_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Order_Vars</name>
        <label>Set Order Vars</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDCIRecType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Equipment_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStore.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_do_Vendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Sale_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_do_Pedido_Venda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Sale_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Venda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStandardPricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Store</name>
        <label>Set Selected Store</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSelectedStoreFromSEDE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialVarOrder</name>
        <label>SetInitialVarOrder</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Installed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalador LM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2B_Revendedor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusConcluido</name>
        <label>SetStatusConcluido</label>
        <locationX>50</locationX>
        <locationY>3650</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalUpdateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusPendente</name>
        <label>SetStatusPendente</label>
        <locationX>314</locationX>
        <locationY>3650</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendente Nº Série/Instalador</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>FinalUpdateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVarMetadata</name>
        <label>SetVarMetadata</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDCIMetadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sede</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVarStore</name>
        <label>setVarStore</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProcessAvailableInStore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVarUser</name>
        <label>setVarUser</label>
        <locationX>765</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProcessAvailableInUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nota_de_Venda</name>
        <choiceText>Nota de Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nota de Venda</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pedido</name>
        <choiceText>Pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pedido</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Stores_With_DCI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Stores With DCI</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Stores_With_DCI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Stores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Stores_With_DCI.Available_Services__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>LM_DCI</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Store_Choice_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>B2B_Revendedor</name>
        <label>B2B Revendedor?</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>LM_Criar_Selecionar_Instalador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B2BRevendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipamento_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sede</name>
        <label>Is Sede?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Guidelines_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_SEDE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Stores</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SN_Blank</name>
        <label>SN Blank?</label>
        <locationX>182</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>SetStatusPendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>SN_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Equipment_Serial_No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusConcluido</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProcessAvailableInStore</name>
        <label>ProcessAvailableInStore?</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>unavailableProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProcessAvailableInStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStore.Available_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDCIMetadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProcessAvailableInUser</name>
        <label>ProcessAvailableInUser?</label>
        <locationX>765</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>unavailableProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProcessAvailableInUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUser.Available_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status</name>
        <label>Which Status?</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStatusPendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SN_filled_and_B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.Equipment_Serial_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetStatusConcluido</targetReference>
            </connector>
            <label>SN filled and B2B</label>
        </rules>
        <rules>
            <name>SN_and_Inst_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrder.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.Installer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.Equipment_Serial_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrder.Installer__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SN_Blank</targetReference>
            </connector>
            <label>SN and Inst Filled</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LojasChoice</name>
        <collectionReference>Filter_Stores_With_DCI</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>LM_Store__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LM_DCI_Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_DCI_Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOrder</name>
        <label>createOrder</label>
        <locationX>182</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>getDCIPricebookEntry</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOrderProduct</name>
        <label>CreateOrderProduct</label>
        <locationX>182</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>validateTokenSubflow</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>varOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getDCIPricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>getDCIProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>getDCIProduct.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>getDCIProduct.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>getDCIPricebookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Stores</name>
        <label>Get All Stores</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Stores_With_DCI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LM_SEDE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store</name>
        <label>Get Store</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setVarStore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDCIMetadata</name>
        <label>GetDCIMetadata</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetVarMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_DCI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDCIPricebookEntry</name>
        <label>getDCIPricebookEntry</label>
        <locationX>182</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDCIProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDCIProduct</name>
        <label>getDCIProduct</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStandardPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_DCI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDCIRecType</name>
        <label>getDCIRecType</label>
        <locationX>182</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDCIProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMetadata.Order_Record_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedStoreFromSEDE</name>
        <label>GetSelectedStoreFromSEDE</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Selected_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectStorePicklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStandardPricebook</name>
        <label>getStandardPricebook</label>
        <locationX>182</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>765</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setVarUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>FinalUpdateOrder</name>
        <label>FinalUpdateOrder</label>
        <locationX>50</locationX>
        <locationY>3758</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>varOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>50</locationX>
        <locationY>3866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenDisplay</name>
            <fieldText>&lt;p&gt;{!EndScreenTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Equipamento_Screen</name>
        <label>Equipamento Screen</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getDCIRecType</targetReference>
        </connector>
        <fields>
            <name>Info_Equipamento</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Informações do Equipamento&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equipamento_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Equipamento_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Marca</name>
                    <dataType>String</dataType>
                    <fieldText>Marca</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Equipamento_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Modelo</name>
                    <dataType>String</dataType>
                    <fieldText>Modelo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Equipamento_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SerialNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Nº de Série</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Receipt_Screen</targetReference>
        </connector>
        <fields>
            <name>DisplayImageDCI</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LM_DCI_Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px; font-family: WordVisi_MSFontService, Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(32, 33, 36); background-color: rgba(0, 0, 0, 0);&quot;&gt;Declaração Conformidade Instalação&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!varStore.Store_Code__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GuidelinesText</name>
            <fieldText>&lt;p&gt;{!varMetadata.Process_Guidelines__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Screen</name>
        <label>Receipt Screen</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Account</targetReference>
        </connector>
        <fields>
            <name>Receipt_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Receipt_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_do_Vendedor</name>
                    <dataType>String</dataType>
                    <fieldText>Nome do Vendedor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Venda</name>
                    <choiceReferences>Pedido</choiceReferences>
                    <choiceReferences>Nota_de_Venda</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Receipt_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_do_Pedido_Venda</name>
                    <dataType>String</dataType>
                    <fieldText>Nº do Pedido / Venda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Store_Choice_Screen</name>
        <label>Store Choice Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedStoreFromSEDE</targetReference>
        </connector>
        <fields>
            <name>ChooseStoreText</name>
            <fieldText>&lt;p&gt;Por favor, selecione a loja que pretende associar ao processo de DCI.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectStorePicklist</name>
            <choiceReferences>LojasChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecionar Loja</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>unavailableProcess</name>
        <label>unavailableProcess</label>
        <locationX>765</locationX>
        <locationY>4418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>unavailableProcessDisplayText</name>
            <fieldText>&lt;p&gt;O processo de DCI não está disponível para este utilizador ou nesta Loja.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LM_Criar_Selecionar_Instalador</name>
        <label>LM Criar/Selecionar Instalador</label>
        <locationX>270</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Equipamento_Screen</targetReference>
        </connector>
        <flowName>LM_Criar_Selecionar_Instalador</flowName>
        <inputAssignments>
            <name>varStore</name>
            <value>
                <elementReference>varStore</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentInstaller</assignToReference>
            <name>currentInstaller</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Account</name>
        <label>Search Account</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>SetInitialVarOrder</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_DCI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccount</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>validateTokenSubflow</name>
        <label>validateTokenSubflow</label>
        <locationX>182</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Which_Status</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>EndScreenTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pedido Criado!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentInstaller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_External_Installers_Filtered_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Stores_With_DCI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Store__c</objectType>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
