force-app/main/default/flows/LM_Extender.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_varOrderItems</name>
        <label>Add to varOrderItems</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Item_Aluguer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Extended_Order</name>
        <label>Reset Extended Order</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Extended_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Extension_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LM_Validate_Token</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curr_Account_Var</name>
        <label>Set Curr Account Var</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Item_Aluguer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curr_Inventory</name>
        <label>Set Curr Inventory</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>currentInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_New_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Vars</name>
        <label>Set Inventory Vars</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Extended_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Order_Vars</name>
        <label>Set New Order Vars</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Extended_Order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Store__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Expired_Token__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Record_Type_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Record_Type_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Data_da_Fatura_AT__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Numero_da_OS__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Origem_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Marketplace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Prod_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Inst_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Referencia_LM_do_Artigo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Designacao_do_Artigo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Product_Section__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Tipo_de_Produto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Tipo_de_Avaria__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Tipificacao__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Installed_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Nome_fornecedor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Nome_Instalador_AT__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Garantia_Inst__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Garantia_Prod__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Inventory_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInventory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInventory.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Concluida</name>
        <label>Set Order Concluida</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Order_1</name>
        <label>Set Original Order</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Extended_Order.Original_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Extended_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Order_2</name>
        <label>Set Original Order</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Extended_Order.Original_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Original_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Extended_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Fields</name>
        <label>Set Payment Fields</label>
        <locationX>182</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>Extended_Order.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Cashier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Extended_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inventory_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varOrderItem</name>
        <label>Set varOrderItem</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Aluguer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Aluguer.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Total_Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderItem.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_varOrderItems</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <constants>
        <name>Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolução de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_First_Extension</name>
        <label>Is First Extension?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Order_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Original_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Order_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Same_Store</name>
        <label>Is Same Store?</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Different_Store_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Store_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Store__r.Store_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Invalid_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCurrAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Duration</name>
        <dataType>Number</dataType>
        <expression>{!Extended_Order.EndDate} - {!Extended_Order.EffectiveDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isLate</name>
        <dataType>Boolean</dataType>
        <expression>{!recordId.EndDate}&lt;TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Order_Item_Aluguer.UnitPrice}*{!Duration}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LM_Extender {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Extender</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Extended_Order</name>
        <label>Create Extended Order</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Set_varOrderItem</targetReference>
        </connector>
        <inputReference>Extended_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Item_Aluguer</name>
        <label>Create Order Item Aluguer</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Set_Order_Concluida</targetReference>
        </connector>
        <inputReference>varOrderItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Aluguer</name>
        <label>Get Order Item Aluguer</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Aluguer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aluguer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Aluguer</name>
        <label>Get Product Aluguer</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Item_Aluguer.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Extension_Order</name>
        <label>Get Updated Extension Order</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Extended_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Extended_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrAccount</name>
        <label>getCurrAccount</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Curr_Account_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInventory</name>
        <label>getInventory</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Curr_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Inventory</name>
        <label>Update Current Inventory</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <inputReference>currentInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Extended_Order</name>
        <label>Update Extended Order</label>
        <locationX>182</locationX>
        <locationY>2810</locationY>
        <connector>
            <targetReference>Update_Current_Inventory</targetReference>
        </connector>
        <inputReference>Extended_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Order</name>
        <label>Update Old Order</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Get_Updated_Extension_Order</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Different_Store_Screen</name>
        <label>Different Store Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Different_Store_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Não é possível executar operação nesta loja.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Order_Screen</name>
        <label>Invalid Order Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Order</name>
            <fieldText>&lt;p&gt;Não é possível executar operação no estado atual do pedido de serviço&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentInfoScreen</name>
        <label>PaymentInfoScreen</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Payment_Fields</targetReference>
        </connector>
        <fields>
            <name>Title_Payment_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dados de Pagamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentInfoScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentInfoScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_Caixa</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Operador</name>
                    <dataType>String</dataType>
                    <fieldText>Operador</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PaymentInfoScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_New_End_Date</name>
        <label>Select New End Date</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Order_Vars</targetReference>
        </connector>
        <fields>
            <name>Title_Screen_Late</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_New_End_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_New_End_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Info</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Número do Pedido de Serviço: &lt;/strong&gt;{!recordId.OrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Data de Início: &lt;/strong&gt;{!recordId.EffectiveDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Data de Fim: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.EndDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Item de Inventário: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Serial_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Nome do Cliente: &lt;/strong&gt;{!recordId.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;NIF:&lt;/strong&gt; {!recordId.Account.NIF__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!recordId.Account.E_mail_Empresa__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Telemóvel:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Account.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_New_End_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Nova Data de Fim</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A data de fim não pode ser anterior ou igual à antiga data de fim.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!New_End_Date} &gt; {!currentInventory.Available_From__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Same_Store</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LM_Validate_Token</name>
        <label>LM Validate Token</label>
        <locationX>182</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>PaymentInfoScreen</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>Extended_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderItems</name>
            <value>
                <elementReference>varOrderItems</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Extended_Order</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Extended_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
