force-app/main/default/flows/LM_Enviar_Email_Assinado_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Cliente</name>
        <label>Send Email Cliente</label>
        <locationX>622</locationX>
        <locationY>1703</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Cliente_AT</name>
        <label>Send Email Cliente</label>
        <locationX>358</locationX>
        <locationY>1811</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BCC</name>
            <value>
                <elementReference>BCC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Cliente_Loja</name>
        <label>Send Email Cliente + Loja</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CC</name>
            <value>
                <elementReference>CC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Parceiro_RE</name>
        <label>Send Email Parceiro RE</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Loja_to_CC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_ParceiroRE_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers_parceiro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Store</name>
        <label>Send Email to Store</label>
        <locationX>666</locationX>
        <locationY>1187</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Before_SN_Inst</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers_loja</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Loja_to_CC</name>
        <label>Add Loja to CC</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Store__r.Service_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Cliente_Loja</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BCC</name>
        <label>Set BCC</label>
        <locationX>358</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>BCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Metadata.Email_de_Envio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Cliente_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receiver_Loja</name>
        <label>Set Receiver Loja</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>receivers_loja</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Store__r.Service_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receivers</name>
        <label>Set Receivers</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReceiversParceiro</name>
        <label>Set ReceiversParceiro</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>receivers_parceiro</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Store__r.RE_Partner__r.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Parceiro_RE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_AT</name>
        <label>Is_AT?</label>
        <locationX>490</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Metadata.Order_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BCC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>RE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Metadata.Order_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Recolha_Entulho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ParceiroRE_Email_Template</targetReference>
            </connector>
            <label>RE</label>
        </rules>
        <rules>
            <name>DCI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SN_Inst_B2B_Status</targetReference>
            </connector>
            <label>DCI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_After_Token</name>
        <label>Send Email After Token?</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Email_After</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Metadata.Send_Email_After_Token__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SN_Inst_B2B_Status</name>
        <label>SN/Inst/B2B Status</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Before_SN_Inst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing SN/Inst/B2B</defaultConnectorLabel>
        <rules>
            <name>SN_and_Inst_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Installer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AT</targetReference>
            </connector>
            <label>SN and Inst Filled</label>
        </rules>
        <rules>
            <name>SN_and_B2B_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipment_Serial_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.B2B_Revendedor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AT</targetReference>
            </connector>
            <label>SN and B2B Filled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LM_Enviar_Email_Assinado_Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_SendEmailAfterToken</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Before_SN_Inst</name>
        <label>Get Email Before SN/Inst</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Receiver_Loja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_DCI_No_Serial_Nr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Email_Template</name>
        <label>get Email Template</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Metadata.Email_Template_After_Token__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Metadata</name>
        <label>get Metadata</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_After_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParceiroRE_Email_Template</name>
        <label>Get ParceiroRE Email Template</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ReceiversParceiro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Email_Parceiro_Recolha_Entulho</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Metadata</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Cliente_Validou_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Validacao_Manual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BCC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivers_loja</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivers_parceiro</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
