force-app/main/default/flows/LM_Enviar_Email_de_Aviso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Cliente</name>
        <label>Send Email Cliente</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CC</name>
            <value>
                <elementReference>CCs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Cliente_Get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>Receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CCs</name>
        <label>Add CCs</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CCs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Store__r.Service_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Receivers</name>
        <label>Add Receivers</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CCs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Loja_Email_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderNumber}+ &quot; - Devolução esperada para amanhã.&quot;</expression>
    </formulas>
    <interviewLabel>LM Enviar Email de Aviso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Enviar Email de Aviso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cliente_Get_Email_Template</name>
        <label>Cliente Get Email Template</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Alerta_Devolucao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cliente_Get_Email_Template</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pago</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Pagamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_Rent_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Order</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-05</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Loja_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cliente: {!$Record.Account.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Account.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Telemóvel: {!$Record.Account.PersonMobilePhone}&lt;/p&gt;&lt;p&gt;Email: {!$Record.Account.PersonEmail}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pedido de serviço: {!$Record.OrderNumber}&lt;/p&gt;&lt;p&gt;Loja: {!$Record.Store__r.Name}&lt;/p&gt;&lt;p&gt;Ferramenta: {!$Record.Serial_Number__c}&lt;/p&gt;&lt;p&gt;Data de Início do aluguer: {!$Record.EffectiveDate}&lt;/p&gt;&lt;p&gt;Data de fim do aluguer: {!$Record.EndDate}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CCs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Body_Loja</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Subject_Loja</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
