force-app/main/default/flows/LM_Nao_Devolveu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Current_Inventory</name>
        <label>Set Current Inventory</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>currentInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Not_Returned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Not_Returned</name>
        <label>Set Not Returned</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não Devolvido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Vars</name>
        <label>Set Order Vars</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <constants>
        <name>Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolução de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Inventory</name>
        <label>Has Inventory?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Inventory_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inventory_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Inventory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Invalid_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Not_Returned_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Duration</name>
        <dataType>Number</dataType>
        <expression>{!Extended_Order.EndDate} - {!Extended_Order.EffectiveDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isLate</name>
        <dataType>Boolean</dataType>
        <expression>{!recordId.EndDate}&lt;TODAY()</expression>
    </formulas>
    <interviewLabel>Não Devolveu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Não Devolveu</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Inventory</name>
        <label>update Inventory</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>currentInventory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Order</name>
        <label>update Order</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>update_Inventory</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Not_Returned_Screen</name>
        <label>Confirm Not Returned Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
        <fields>
            <name>Info_Not_Returned</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Ao não prolongar o aluguer, a caução fica retida na LM e o cliente fica com o artigo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CB_Confirm_Not_Returned</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmar não devolução</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 0, 0);&quot;&gt;Para avançar, confirme que a ferramenta não será devolvida.&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 24, 24);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CB_Confirm_Not_Returned} = true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Order_Screen</name>
        <label>Invalid Order Screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Order</name>
            <fieldText>&lt;p&gt;Não é possível executar operação no estado atual do pedido de serviço&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Inventory_Screen</name>
        <label>No Inventory Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Inventory_Text</name>
            <fieldText>&lt;p&gt;Não há itens de inventário associados a este pedido de serviço.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Valid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Extended_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
