force-app/main/default/flows/LM_Reserve_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Inventory</name>
        <label>Assign Current Inventory</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory_DataTable_Available.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Good</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Items_Found_In_Store</name>
        <label>Assign Inventory Items Found In Store</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Inventory_Items_Found_In_Store</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Inventario_in_Store</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_In_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventory_Unavailable</name>
        <label>Assign Inventory Unavailable</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory_DataTable_Diff_Store.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reserve_Inventory</name>
        <label>Reserve Inventory</label>
        <locationX>490</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>varInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInventory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Inventory_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInventory.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Inventory_Avariado</name>
        <label>Set Inventory Avariado</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avariado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Repair_Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory_Bad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inventory_Em_Reparacao</name>
        <label>Set Inventory Em Reparacao</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varInventory.Repair_Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Reparação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventory.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory_Bad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Store</name>
        <label>Set Order Store</label>
        <locationX>490</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInventory.Loja__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reserve_Inventory</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Inventario_in_Store</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Inventario in Store</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Inventario_in_Store</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Inventory</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventario_in_Store.Store_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventario_in_Store.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Disponível</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Inventory_Items_Found_In_Store</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Process_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Aluguer de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Inventory_Good</name>
        <label>Inventory Good?</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checklist_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_In_Store</name>
        <label>Inventory In Store?</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Inventory_Screen_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Full_Inventory_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_Items_Found_In_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Screen_Diff_Store</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Available</name>
        <label>Is Available?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Inventory_Screen_Diff_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Available_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_DataTable_Diff_Store.firstSelectedRow.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disponível</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inventory_Unavailable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process</name>
        <label>Process</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>AF_Bad_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedProduct.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Aluguer_Ferramentas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_Em_Reparacao</targetReference>
            </connector>
            <label>AF</label>
        </rules>
        <rules>
            <name>BT_Bad_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedProduct.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Barras_Tejadilho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inventory_Avariado</targetReference>
            </connector>
            <label>BT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LM Reserve Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Reserve Inventory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Inventario_in_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LM_Inventory__c</object>
        <sortField>Store_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory_Bad</name>
        <label>Update Inventory Bad</label>
        <locationX>1018</locationX>
        <locationY>1190</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Inventory</targetReference>
        </connector>
        <inputReference>varInventory</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Inventory_Screen_Available</name>
        <label>Inventory Screen Available</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Current_Inventory</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_aluguer_ferramentas_txt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(63, 63, 63); font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_DataTable_Available</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_Inventory__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inventário</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Inventario_in_Store</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-afd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ferramenta&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7744&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Série&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Hallway__c&quot;,&quot;guid&quot;:&quot;column-7845&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Corredor&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cupboard__c&quot;,&quot;guid&quot;:&quot;column-7cd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Armário&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Shelves__c&quot;,&quot;guid&quot;:&quot;column-01f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Prateleira&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Display_Product_Guidelines</name>
            <fieldText>&lt;p&gt;{!varSelectedProduct.Product_Checklist__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist_Confirm</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checklist Aprovada</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <fieldText>Motivo de Reprovação</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checklist_Confirm</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nao</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Screen_Diff_Store</name>
        <label>Inventory Screen Diff Store</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Available</targetReference>
        </connector>
        <fields>
            <name>aluguer_ferramentas_txt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(63, 63, 63); font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unavailable_Warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ferramenta não disponível na loja.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventory_DataTable_Diff_Store</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>LM_Inventory__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inventário</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Inventory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-c64d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ferramenta&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Store_Name__c&quot;,&quot;guid&quot;:&quot;column-3a46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Loja&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome da Loja&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7744&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Número de Série&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-a4df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Estado&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Available_From__c&quot;,&quot;guid&quot;:&quot;column-c1e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Disponível a partir de&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Warning_Unavailable</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;Selecione um produto disponível.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inventory_DataTable_Diff_Store.firstSelectedRow.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Disponível</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Inventario_in_Store</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Inventory_Item_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>Inventory_Items_Found_In_Store</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varSelectedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
