force-app/main/default/flows/LM_Recolha_Entulho.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Container_to_Exports</name>
        <label>Add Container to Exports</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>currProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Single_Container_Final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantidades_Produtos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Containers.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Container_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Display_Container</name>
        <label>Add Display Container</label>
        <locationX>1656</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Display_Containers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DisplayContainer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order</name>
        <label>Assign Order</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Solicitacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Prevista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Loja.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Big_Bag_Numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BigBagNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Containers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Big_Bag_Error_Flag_False</name>
        <label>Set Big Bag Error Flag False</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Big_Bag_Error_Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Containers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Big_Bag_Error_Flag_True</name>
        <label>Set Big Bag Error Flag True</label>
        <locationX>1326</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Big_Bag_Error_Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contentores_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Big_Bag_Flag</name>
        <label>Set Big Bag Flag</label>
        <locationX>1590</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Big_Bag_Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Qtd_Big_Bags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qtd_Containers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Display_Container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Display_Container</name>
        <label>Set Display Container</label>
        <locationX>1656</locationX>
        <locationY>2372</locationY>
        <assignmentItems>
            <assignToReference>DisplayContainer.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Container.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayContainer.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qtd_Containers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayContainer.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Container.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Display_Container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Address_Same</name>
        <label>Set Order Address Same</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Address_to_Input</name>
        <label>Set Order Address to Input</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Address.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mesma</name>
        <choiceText>Mesma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outra</name>
        <choiceText>Outra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outra</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Single_Container</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Single Container</label>
        <locationX>1238</locationX>
        <locationY>1598</locationY>
        <assignNextValueToReference>currentItem_Filter_Single_Container</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contentores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Single_Container.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Container</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Single_Container</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Single_Container_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Single Container Product</label>
        <locationX>358</locationX>
        <locationY>2114</locationY>
        <assignNextValueToReference>currentItem_Find_Single_Container_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contentores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Single_Container_Product.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Containers.Product2.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Single_Container_Final</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Address_Blank</name>
        <label>Any Address Blank?</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Address_to_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Address_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Construction_Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Address.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Recolha_Entulho_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BB_Flag_On</name>
        <label>BB Flag On?</label>
        <locationX>1458</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Set_Big_Bag_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BB_Flag_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Big_Bag_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Big_Bag_Error_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Big_Bags</name>
        <label>Contains Big Bags?</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_User_Loja</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contains_Big_Bag_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Big_Bag_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Numero_Big_Bag_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_Containers</name>
        <label>Finish Containers?</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_PricebookEntry_for_Container</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Finish_Containers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Container</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Display_Containers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Big_Bags</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Big_Bag</name>
        <label>Is Big Bag?</label>
        <locationX>1656</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Set_Display_Container</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Big_Bag_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Single_Container.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bag</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BB_Flag_On</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Same_Address</name>
        <label>Is Same Address?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Any_Address_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mesma</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Address_Same</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Containers_Choice</name>
        <collectionReference>Get_Contentores</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BigBagNumbers</name>
        <dataType>String</dataType>
        <expression>{!Numero_da_Big_Bag_1}&amp;BR()&amp;
{!Numero_da_Big_Bag_2}&amp;BR()&amp;
{!Numero_da_Big_Bag_3}&amp;BR()&amp;
{!Numero_da_Big_Bag_4}&amp;BR()&amp;
{!Numero_da_Big_Bag_5}&amp;BR()</expression>
    </formulas>
    <formulas>
        <description>Verifica se pelo menos 1 item foi selecionado entre contentores e big bags</description>
        <name>N_Contentores_Valido</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <interviewLabel>LM_Recolha_Entulho {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_Recolha_Entulho</label>
    <loops>
        <name>Loop_Selected_Containers</name>
        <label>Loop Selected Containers</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <collectionReference>Display_Containers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Single_Container_Product</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Single_Container</name>
        <label>Loop Single Container</label>
        <locationX>1238</locationX>
        <locationY>1706</locationY>
        <collectionReference>Filter_Single_Container</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Big_Bag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contentores_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Container_Final</name>
        <label>Loop Single Container Final</label>
        <locationX>358</locationX>
        <locationY>2222</locationY>
        <collectionReference>Find_Single_Container_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Container_to_Exports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_Containers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contentores</name>
        <label>Get Contentores</label>
        <locationX>710</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contentores_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Recolha_Entulho</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PricebookEntry_for_Container</name>
        <label>Get PricebookEntry for Container</label>
        <locationX>1238</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Single_Container</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Container</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contentores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Loja</name>
        <label>Get User Loja</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Store_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Guidelines_Screen</name>
        <label>Guidelines Screen</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Account_Flow</targetReference>
        </connector>
        <fields>
            <name>Guidelines</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Current_Metadata.Process_Guidelines__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Numero_Big_Bag_Screen</name>
        <label>Numero Big Bag Screen</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_User_Loja</targetReference>
        </connector>
        <fields>
            <name>Numero_da_Big_Bag_1</name>
            <dataType>String</dataType>
            <fieldText>Numero da Big Bag 1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qtd_Big_Bags</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_da_Big_Bag_2</name>
            <dataType>String</dataType>
            <fieldText>Numero da Big Bag 2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qtd_Big_Bags</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_da_Big_Bag_3</name>
            <dataType>String</dataType>
            <fieldText>Numero da Big Bag 3</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qtd_Big_Bags</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_da_Big_Bag_4</name>
            <dataType>String</dataType>
            <fieldText>Numero da Big Bag 4</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qtd_Big_Bags</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_da_Big_Bag_5</name>
            <dataType>String</dataType>
            <fieldText>Numero da Big Bag 5</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qtd_Big_Bags</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>5.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recolha_Entulho_Screen</name>
        <label>Recolha Entulho Screen</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Same_Address</targetReference>
        </connector>
        <fields>
            <name>OrderDetailsScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Informações do Pedido&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Same_Address</name>
            <choiceReferences>Mesma</choiceReferences>
            <choiceReferences>Outra</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Same_Address</elementReference>
            </defaultValue>
            <fieldText>Morada da Obra</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Construction_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Morada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Construction_Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Construction_Address.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Construction_Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Construction_Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Construction_Address.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Same_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outra</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>error_dados_incompletos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;Dados de morada incompletos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Address_Blank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Spacing1</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recolha_Entulho_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recolha_Entulho_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Solicitacao</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Data da Solicitação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A data de solicitação não pode ser anterior ou superior à de hoje.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Data_Solicitacao}=={!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recolha_Entulho_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Prevista</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Data_Prevista</elementReference>
                    </defaultValue>
                    <fieldText>Data prevista para realização do serviço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A data prevista precisa ser igual ou posterior à data de hoje.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Data_Prevista} &gt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Observacoes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Observacoes</elementReference>
            </defaultValue>
            <fieldText>Observações</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Contentores_Screen</name>
        <label>Select Contentores Screen</label>
        <locationX>710</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Big_Bag_Error_Flag_False</targetReference>
        </connector>
        <fields>
            <name>Select_Container</name>
            <choiceReferences>Containers_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Produto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Qtd_Containers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantidade máxima: 5&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Qtd_Containers} &lt;=5 &amp;&amp; {!Qtd_Containers} &gt;=1</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Containers_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Display_Containers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-84ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-5bb8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Big_Bag_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Não é possível adicionar big bags novamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Big_Bag_Error_Flag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Guidelines_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Search_Account_Flow</name>
        <label>Search Account Flow</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Recolha_Entulho_Screen</targetReference>
        </connector>
        <flowName>LM_Search_Account</flowName>
        <inputAssignments>
            <name>Process_Name</name>
            <value>
                <stringValue>LM_Recolha_Entulho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>varOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Current_Account</assignToReference>
            <name>varAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrder</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Big_Bag_Error_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Big_Bag_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Current_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Current_Metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Current_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Single_Container</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Single_Container_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Display_Containers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>DisplayContainer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Qtd_Big_Bags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quantidades_Produtos</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
