force-app/main/default/flows/LM_RemoveDuplicateFiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Link</name>
        <label>Remove Link</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>LM_InvocableRemoveGDriveFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Previous_Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>Get_Links_with_Same_Name.fileId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableRemoveGDriveFile</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Links_with_Same_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LM_RemoveDuplicateFiles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_RemoveDuplicateFiles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Previous_Link</name>
        <label>Delete Previous Link</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Links_with_Same_Name</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Links_with_Same_Name</name>
        <label>Get Links with Same Name</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.File_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_GDrive_File_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Links_with_Same_Name</targetReference>
        </connector>
        <object>LM_GDrive_File_Link__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
