force-app/main/default/flows/LM_Search_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_Accounts</name>
        <label>Search Accounts</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <actionName>AccountSearchService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchStrings</name>
            <value>
                <elementReference>queryStringList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchType</name>
            <value>
                <elementReference>SearchType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountSearchService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AccountSearchResults</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sync_Account_from_MDM</name>
        <label>Sync Account from MDM</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <actionName>InvocableSyncAccountFromMdm</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Upsert_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clientNumber</name>
            <value>
                <elementReference>selectedAccount.clientNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>selectedAccount.email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isInMDM</name>
            <value>
                <elementReference>selectedAccount.isInMDM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isInSF</name>
            <value>
                <elementReference>selectedAccount.isInSF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>selectedAccount.name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nif</name>
            <value>
                <elementReference>selectedAccount.nif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>selectedAccount.phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sfId</name>
            <value>
                <elementReference>selectedAccount.sfId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableSyncAccountFromMdm</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_queryStringList</name>
        <label>Clear queryStringList</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>queryStringList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_queryStringList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_queryStringList</name>
        <label>Set queryStringList</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>queryStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstQueryString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varOrder</name>
        <label>Set varOrder</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_CartaoCasa</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_varOrder_DCI</name>
        <label>Set varOrder DCI</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varOrder.B2B_Revendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Revendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrder.House_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_CartaoCasa</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetVarAccount</name>
        <label>SetVarAccount</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Updated_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmSelectedAccDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Search_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_MdmId</name>
        <choiceText>Nº de Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nº de Cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_Name</name>
        <choiceText>Nome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primeiro Nome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_NIF</name>
        <choiceText>NIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_Phone</name>
        <choiceText>Telemóvel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telemóvel</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Process_Type</name>
        <label>Process Type</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Set_varOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_DCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varOrder_DCI</targetReference>
            </connector>
            <label>DCI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Results_Found</name>
        <label>Results Found?</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Buscar_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ResultsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSearchResults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upsert_Successful</name>
        <label>Upsert Successful?</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Upsert_Unsuccessful_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UpsertSucess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sync_Account_from_MDM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Updated_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstQueryString</name>
        <dataType>String</dataType>
        <expression>CASE({!SearchType},
{!Search_Email}, {!Email_QueryString},
{!Search_MdmId}, {!mdmId_QueryString},
{!Search_NIF}, {!NIF_QueryString},
{!Search_Phone}, {!Phone_QueryString},
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>LM_Search_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_Search_Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Updated_Account</name>
        <label>get Updated Account</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetVarAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccount.clientNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buscar_Cliente</name>
        <label>Buscar Cliente</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_queryStringList</targetReference>
        </connector>
        <fields>
            <name>Display_Buscar_Cliente</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pesquisar Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buscar_Cliente_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buscar_Cliente_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchType</name>
                    <choiceReferences>Search_MdmId</choiceReferences>
                    <choiceReferences>Search_NIF</choiceReferences>
                    <choiceReferences>Search_Email</choiceReferences>
                    <choiceReferences>Search_Phone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buscar_Cliente_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mdmId_QueryString</name>
                    <dataType>String</dataType>
                    <fieldText>Número de Conta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Search_MdmId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email_QueryString</name>
                    <dataType>String</dataType>
                    <fieldText>E-Mail</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Search_Email</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NIF_QueryString</name>
                    <dataType>String</dataType>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;NIF precisa conter 9 dígitos&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!SearchType} = {!Search_NIF} &amp;&amp;
LEN({!NIF_QueryString}) &lt;= 9</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Search_NIF</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone_QueryString</name>
                    <dataType>String</dataType>
                    <fieldText>Telemóvel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Telemóvel precisa estar no formato de 9 dígitos&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!SearchType} = {!Search_Phone} &amp;&amp;
LEN({!Phone_QueryString}) &lt;= 9</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SearchType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Search_Phone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Error_NotFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 10px;&quot;&gt;Cliente não encontrado&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_ResultsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmSelectedAccDetails</name>
        <label>ConfirmSelectedAccDetails</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Type</targetReference>
        </connector>
        <fields>
            <name>ConfirmSelectedAccDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConfirmSelectedAccDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConfirmSelectedAccDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MdmId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varAccount.Numero_de_Conta__c</elementReference>
                    </defaultValue>
                    <fieldText>Número do Cliente</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConfirmSelectedAccDetails_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_CartaoCasa</name>
                    <dataType>String</dataType>
                    <fieldText>Nº Cartão da Casa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConfirmSelectedAccDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConfirmSelectedAccDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telemóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varAccount.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConfirmSelectedAccDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varAccount.E_mail_Empresa__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ConfirmSelectedAccDetails_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NIF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varAccount.NIF__c</elementReference>
                    </defaultValue>
                    <fieldText>NIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>B2B_Revendedor</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>B2B Revendedor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Process_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_DCI</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Morada</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>varAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>varAccount.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>varAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>varAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>varAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LastSyncDateText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Cliente atualizado em {!varAccount.IsSyncedTime__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;Ocorreu um erro:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Account</name>
        <label>Select Account</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sync_Account_from_MDM</targetReference>
        </connector>
        <fields>
            <name>DT_AccountSearch</name>
            <extensionName>c:autocrat_pesquisaConta</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResults</name>
                <value>
                    <elementReference>AccountSearchResults</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccount</assignToReference>
                <name>selectedResult</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ConfirmUpdateText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Ao selecionar &quot;Seguinte&quot;, o Cliente selecionado será sincronizado com o ELO&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upsert_Unsuccessful_Screen</name>
        <label>Upsert Unsuccessful Screen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Upsert_Unsuccessful_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Não foi possível sincronizar a conta com o MDM. Tente novamente mais tarde ou contacte um Administrador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Cliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountResultCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountSearchResults</name>
        <apexClass>AccountSearchResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <apexClass>AccountSearchResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
