force-app/main/default/flows/LM_Send_Email_to_Supplier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Supplier</name>
        <label>Send Email to Supplier</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Changed_Supplier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CC</name>
            <value>
                <elementReference>CC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>Get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToPrevSupplier</name>
        <label>SendEmailToPrevSupplier</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setPontoDeSituacao</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CC</name>
            <value>
                <elementReference>CC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>GetPrevSupplierEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>prevReceivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CC</name>
        <label>Set CC</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Metadata.Email_de_Envio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receivers</name>
        <label>Set Receivers</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Supplier_AT__r.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPontoDeSituacao</name>
        <label>setPontoDeSituacao</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AT enviada ao fornecedor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPrevReceivers</name>
        <label>SetPrevReceivers</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>prevReceivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Supplier_AT__r.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailToPrevSupplier</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changed_Supplier</name>
        <label>Changed Supplier?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>setPontoDeSituacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SupplierChange_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_AT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrevSupplierEmailTemplate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LM Send Email to Supplier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Send Email to Supplier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Email_AT_Fornecedor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Type_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrevSupplierEmailTemplate</name>
        <label>GetPrevSupplierEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPrevReceivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Email_AT_Fornecedor_Desconsiderar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
        <filterLogic>(2 AND (1 AND 7 AND 4 AND 11)) OR (2 AND (1 AND (3 OR 12) AND 5 AND 9)) OR (2 AND (6 AND 8 AND 10)) OR (2 AND 1 AND 5 AND 13)</filterLogic>
        <filters>
            <field>Causa_do_Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Produto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cliente_Validou_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Peritagem_Requerida__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ponto_de_Situacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AT enviada ao fornecedor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Causa_do_Pedido__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ponto_de_Situacao__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Peritagem_Requerida__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ponto_de_Situacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relatório técnico recebido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validacao_Manual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_AT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prevReceivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
