force-app/main/default/flows/LM_Select_Consumables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Picklist_to_String</name>
        <label>Picklist to String</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <actionName>LM_PicklistToString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Consumables</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>picklistVals</name>
            <value>
                <elementReference>varSelectedProduct.Family__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LM_PicklistToString</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SelectedProductFamily</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Consumable_to_Export_Var</name>
        <label>Add Consumable to Export Var</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ProductQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumables.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Single_Consumable_Final</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Consumable_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Item_to_Collection</name>
        <label>Add Order Item to Collection</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Consumable_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consumable_Order_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Consumable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consumable_Order_Item</name>
        <label>Assign Consumable Order Item</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Consumable.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookEntry_for_Consumable.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Consumable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item.Total_Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Item_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Consumables</name>
        <label>Clear Consumables</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Consumable_Order_Item</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consumable_Order_Items</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Consumables_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Consumables</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Consumables</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Consumables</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varProductsOfCurrentProcess</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Consumables.Family__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>SelectedProductFamily</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Consumables.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Consumível</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Single_Consumable</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Single Consumable</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Single_Consumable</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Consumables</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Single_Consumable.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Consumable</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Single_Consumable</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Consumable</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Consumable</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Find_Consumable</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Consumables</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Consumable.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Consumables.Product2.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Single_Consumable_Final</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Process_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Aluguer de Ferramentas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Finish_Consumables</name>
        <label>Finish Consumables?</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_PricebookEntry_for_Consumable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Finish_Consumables_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Consumable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Consumables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Consumables_Choice</name>
        <collectionReference>Filter_Consumables</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Total_Item_Price</name>
        <dataType>Currency</dataType>
        <expression>{!Quantity}*{!Get_PricebookEntry_for_Consumable.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LM Select Consumables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Select Consumables</label>
    <loops>
        <name>Loop_Consumables</name>
        <label>Loop Consumables</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Consumable_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Consumable</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Single_Consumable</name>
        <label>Loop Single Consumable</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <collectionReference>Filter_Single_Consumable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Consumable_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Consumables_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Consumable_Final</name>
        <label>Loop Single Consumable Final</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <collectionReference>Find_Consumable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Consumable_to_Export_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Consumables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PricebookEntry_for_Consumable</name>
        <label>Get PricebookEntry for Consumable</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Single_Consumable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Consumable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Consumables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Consumables_Screen</name>
        <label>Consumables Screen</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Consumables</targetReference>
        </connector>
        <fields>
            <name>aluguer_ferramentas_txt4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Process_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Consumable</name>
            <choiceReferences>Consumables_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consumível</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Spacing_Consumables</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consumables_Display</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lista de Consumíveis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Consumable_Order_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-ed22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Produto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome do Produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-d889&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantidade&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Item_Price__c&quot;,&quot;guid&quot;:&quot;column-fd38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Preço Total do Item&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Picklist_to_String</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Consumable_Order_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Consumable_Order_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Consumables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Inventario_in_Store</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Single_Consumable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Consumable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Product_From_Picklist_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Inventory_Items_Found_In_Store</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductQuantity</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectedProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_Autocrat_Process_Setting__mdt</objectType>
    </variables>
    <variables>
        <description>Input variable with All active products of related Record Type (LM_Aluguer_Ferramentas, LM_Barras_Tejadilho)</description>
        <name>varProductsOfCurrentProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varSelectedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
