force-app/main/default/flows/LM_Send_SMS_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Client_and_Save_GDrive</name>
        <label>Send Email to Client and Save GDrive</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Email_Template_for_Client</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>Get_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_Receivers_Client</name>
        <label>set Receivers Client</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Client_and_Save_GDrive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_Email_Before_Token</name>
        <label>Send Email Before Token?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailBeforeToken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata.Send_Email_Before_Token__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_for_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email / SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_SendEmailBeforeToken</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template_for_Client</name>
        <label>Get Email Template for Client</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Receivers_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Metadata.Email_Template_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Before_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Type_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>LM</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
