force-app/main/default/flows/LM_UpdateSearchFieldsOnAccUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Order_Search_Fields</name>
        <label>Set Order Search Fields</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>LoopAccOrders.Searcheables_Concat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Searcheables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccOrders</targetReference>
        </connector>
    </assignments>
    <description>Updates field Searcheables_Concact__c in object Order whenever a related Account has a change in fields Name, E_mail_empresa__c, Phone, NIF__c or Numero_de_conta__c.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Searcheables</name>
        <dataType>String</dataType>
        <expression>LEFT(IF({!$Record.RecordType.DeveloperName} == &apos;PersonAccount&apos;, {!$Record.FirstName} + &quot; &quot; +  {!$Record.LastName}, {!$Record.Name}) + 
&quot; &quot; +  {!$Record.E_mail_Empresa__c} + &quot; &quot; + {!$Record.Phone} + &quot; &quot; + {!$Record.NIF__c} + &quot; &quot; + {!$Record.Numero_de_Conta__c} + &quot; &quot; + {!LoopAccOrders.Store__r.Name}, 255)</expression>
    </formulas>
    <interviewLabel>LM_Searcheables_On_Acc_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM_UpdateSearchFieldsOnAccUpdate</label>
    <loops>
        <name>LoopAccOrders</name>
        <label>LoopAccOrders</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetAccOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Search_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccOrders</name>
        <label>GetAccOrders</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAccOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccOrders</name>
        <label>UpdateAccOrders</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>GetAccOrders</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccOrders</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND (8 OR 9)</filterLogic>
        <filters>
            <field>E_mail_Empresa__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NIF__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Numero_de_Conta__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conta_Empresa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
