force-app/main/default/flows/LM_Update_CD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Save_PDF_to_SF</name>
        <label>Save PDF to SF</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <actionName>LM_InvocableSaveToSF</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mdt</name>
            <value>
                <elementReference>Get_CD_Metadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSaveToSF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Concluido</name>
        <label>Set Concluido</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Transportador_CHoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Datas</name>
        <label>Set Datas</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>recordId.Data_Validacao_Caixa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Validacao_Caixa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Data_Chegada_Loja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Chegada_Loja</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Tipo_de_Transportador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Transportador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instalador</name>
        <label>Set Instalador</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recordId.Inst_Transp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Select_Instalador.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Datas_e_Inst_Transp_preenchidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transportador</name>
        <label>Set Transportador</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recordId.Inst_Transp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Select_Transportadora.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Datas_e_Inst_Transp_preenchidos</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Instaladores</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Instaladores</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_Instaladores</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Instaladores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Instaladores.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Certificado de Devolução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_CD_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Transportadoras</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Transportadoras</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Transportadoras</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Transportadoras</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Transportadoras.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Certificado de Devolução</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Instaladores</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Invalid_State_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_Em_Tratamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Tratamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Instaladores</targetReference>
            </connector>
            <label>Status Em Tratamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concluir</name>
        <label>Concluir?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Transportador_CHoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Concluir</defaultConnectorLabel>
        <rules>
            <name>Concluir_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Concluir_CD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Concluido</targetReference>
            </connector>
            <label>Concluir</label>
        </rules>
    </decisions>
    <decisions>
        <name>Datas_e_Inst_Transp_preenchidos</name>
        <label>Datas e Inst/Transp preenchidos?</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Set_Datas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Conclusao_Preenchida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Chegada_Loja</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Data_Validacao_Caixa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Inst_Transp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resumo_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Transportador_CHoice</name>
        <label>Tipo de Transportador</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Datas_e_Inst_Transp_preenchidos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nenhum</defaultConnectorLabel>
        <rules>
            <name>LM_Installer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Transportador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Installer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Atualizar_Instalador_Transportadora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instalador</targetReference>
            </connector>
            <label>LM_Installer</label>
        </rules>
        <rules>
            <name>LM_Transportadora_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Transportador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LM_Transportadora_Outcome</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Atualizar_Instalador_Transportadora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transportador</targetReference>
            </connector>
            <label>LM_Transportadora</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipos_Transportador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_Transportador__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LM Update CD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Update CD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CD_Metadata</name>
        <label>Get CD Metadata</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_PDF_to_SF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Instaladores</name>
        <label>Get Instaladores</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transportadoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transportadoras</name>
        <label>Get Transportadoras</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Transportadoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Transportadora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_CD_Metadata</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Invalid_State_Screen</name>
        <label>Invalid State Screen</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Não é possível executar operação no estado atual do pedido de serviço&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resumo_Screen</name>
        <label>Resumo Screen</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Datas</targetReference>
        </connector>
        <fields>
            <name>Resumo_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Resumo:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Número do CD:&lt;/strong&gt; {!recordId.OrderNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Loja: &lt;/strong&gt;{!recordId.Store_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Motivo: &lt;/strong&gt;{!recordId.Motivo_de_Devolucao__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Data de Recolha: &lt;/strong&gt;{!recordId.Data_de_Devolucao__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Conclusao</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Data de Conclusão:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Flow.CurrentDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Concluir_CD</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Resumo_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resumo_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_CD_Screen</name>
        <label>Update CD Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Concluir</targetReference>
        </connector>
        <fields>
            <name>Update_CD_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_CD_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Validacao_Caixa</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Data_Validacao_Caixa__c</elementReference>
                    </defaultValue>
                    <fieldText>Data de Validação em Caixa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_CD_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Chegada_Loja</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Data_Chegada_Loja__c</elementReference>
                    </defaultValue>
                    <fieldText>Data de Chegada Plataforma</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_CD_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_CD_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Atualizar_Instalador_Transportadora</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Atualizar Instalador/Transportadora?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_CD_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_Transportador</name>
                    <choiceReferences>Tipos_Transportador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Tipo_de_Transportador__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Transportador</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Atualizar_Instalador_Transportadora</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Select_Transportadora</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selecionar Transportadora</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Transportadoras</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-20bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Transportador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Transportadora</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Atualizar_Instalador_Transportadora</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Select_Instalador</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selecionar Instalador</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Certification_No__c&quot;,&quot;guid&quot;:&quot;column-83e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Número de Certificação&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Instaladores</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Transportador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LM_Installer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Atualizar_Instalador_Transportadora</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Observacoes</name>
            <defaultValue>
                <stringValue>{!recordId.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Observações</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Concluir_CD</name>
            <dataType>Boolean</dataType>
            <fieldText>Concluir o Certificado de Devolução? (Após concluído não poderá mais ser editado)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Instaladores</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Transportadora</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LM_ContaLoja__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Transportadoras</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>TEST</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
