force-app/main/default/flows/LM_Update_AT_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_Partner</name>
        <label>Send Email to Partner</label>
        <locationX>2162</locationX>
        <locationY>2138</locationY>
        <actionName>LM_InvocableSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_PDS_e_Causa</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BCC</name>
            <value>
                <elementReference>BCC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Get_Parceiro_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfTemplateName</name>
            <value>
                <elementReference>Get_AT_Metadata.Email_Attachment_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receivers</name>
            <value>
                <elementReference>receivers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToSF</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LM_InvocableSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendSMSPedidoRejeitado</name>
        <label>sendSMSPedidoRejeitado</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <actionName>LM_Invocable_Send_Token</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setStatusRejeitado</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>getSMSCliente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>GetATMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LM_Invocable_Send_Token</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Guardar_Ponto_Situacao_Atual</name>
        <label>Guardar Ponto Situacao Atual</label>
        <locationX>1301</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>pontoSituacaoAtual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Ponto_de_Situacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>causaATatual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Causa_do_Pedido__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>justifiacacaoAtual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Justificao_da_Causa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataATual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Data_visita_instalador__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>podeReagendar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>relatorioRecebido</name>
        <label>relatorioRecebido</label>
        <locationX>6738</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relatório técnico recebido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BCC</name>
        <label>Set BCC</label>
        <locationX>2162</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>BCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AT_Metadata.Email_de_Envio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_de_Visita_null</name>
        <label>Set Data de Visita null</label>
        <locationX>6474</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Data_visita_instalador__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Folloup</name>
        <label>Set Folloup</label>
        <locationX>4262</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>recordId.Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Followup_Perit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ponto_Situacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FornecedorIdentificouCausaInstalacao</name>
        <label>Set FornecedorIdentificouCausaInstalacao</label>
        <locationX>4230</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Forn_Ident_Causa_Inst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Installer_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_InstallerVars</name>
        <label>setVariablesInstalacao</label>
        <locationX>1106</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>recordId.Installer_AT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecionar_Instalador_DT.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Causa_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Justificao_da_Causa__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Nome_Instalador_AT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selecionar_Instalador_DT.firstSelectedRow.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cliente_Recebeu_Token</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_com_Justificacao_Record</name>
        <label>Set Order com Justificacao Record</label>
        <locationX>4130</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recordId.Justificao_da_Causa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Justificacao_da_Causa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Folloup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Confirmado</name>
        <label>Set Order Confirmado</label>
        <locationX>1062</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Em_Confirmacao</name>
        <label>Set Order Em Confirmacao</label>
        <locationX>1062</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em Confirmação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_before_Token</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PDS_e_Causa</name>
        <label>Set PDS e Causa</label>
        <locationX>2162</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AT enviada a Parceiro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Causa_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instalação</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PDS_Relatorio_Recebido</name>
        <label>Set PDS Relatorio Recebido</label>
        <locationX>7002</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relatório técnico recebido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Peritagem</name>
        <label>Set Peritagem</label>
        <locationX>1634</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Peritagem_Requerida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receivers</name>
        <label>Set Receivers</label>
        <locationX>2162</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>receivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Installer_AT__r.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Responsabilidade_Civil_CB</name>
        <label>Set Responsabilidade Civil CB</label>
        <locationX>5946</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordId.Responsabilidade_civil_acionada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Cancelado</name>
        <label>Set Status Cancelado</label>
        <locationX>6210</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFlagRejeitado</name>
        <label>setFlagRejeitado</label>
        <locationX>2426</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Installers_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNovaDataVisita</name>
        <label>setNovaDataVisita</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId.Nova_Data_Visita_Inst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nova_Data_Visita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPontoDeSituacao</name>
        <label>setPontoDeSituacao</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>recordId.Causa_do_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Produto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AT enviada ao fornecedor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cliente_Recebeu_Token</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPontoSituacaoConcluido</name>
        <label>setPontoSituacaoConcluido</label>
        <locationX>5682</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluída</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusConcluido</name>
        <label>setStatusConcluido</label>
        <locationX>5682</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPontoSituacaoConcluido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusRejeitado</name>
        <label>setStatusRejeitado</label>
        <locationX>1370</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejeitado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValorDeslocacao</name>
        <label>setValorDeslocacao</label>
        <locationX>3834</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>recordId.Valor_Deslocacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMetadataDeslocacao.Valor_Deslocacao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValoresDeslocacao</name>
        <label>setValoresDeslocacao</label>
        <locationX>2822</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>recordId.Valor_Deslocacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valor_deslocacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Valor_Mao_De_Obra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valor_Mao_de_Obra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Valor_Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valor_do_Produto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fornecedor_Concluiu_Servico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Data_Fim_SLA_Interno</name>
        <label>Update Data Fim SLA Interno</label>
        <locationX>6034</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>SLAs_Internos.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLAInternosToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SLAs_Internos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLAs_Internos</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Installers_AT_Filtered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Installers AT Filtered</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <assignNextValueToReference>currentItem_Installers_AT_Filtered</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Installers_AT</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Installers_AT_Filtered.Processos__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Assistência Técnica</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Selecionar_Instalador_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Cliente_Recebeu_Token</name>
        <label>Cliente Recebeu Token?</label>
        <locationX>974</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>getAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Token</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Internos_to_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Concluir_ou_Preencher_Custos</name>
        <label>Concluir ou Preencher Custos?</label>
        <locationX>4670</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Concluir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Concluir</defaultConnectorLabel>
        <rules>
            <name>PreencherCustos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Installer_AT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Custos_InstaladorRejeitouAT</targetReference>
            </connector>
            <label>Preencher Custos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Each_SLA_Interno</name>
        <label>Each SLA Interno</label>
        <locationX>6034</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>SLAs_Internos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Fim_isnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SLAs_Internos.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro</targetReference>
            </connector>
            <label>Data Fim is Null</label>
        </rules>
        <rules>
            <name>Data_Fim_after_Activated_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SLAs_Internos.EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>activateDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Fim_SLA_Interno</targetReference>
            </connector>
            <label>Data Fim after Activated Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fornecedor_Concluiu_Servico</name>
        <label>Fornecedor Concluiu Serviço?</label>
        <locationX>2822</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_FornConcluiuServico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fornecedor concluiu serviço</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Confirm_Concluir</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AT</name>
        <label>Is AT?</label>
        <locationX>4503</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Record_Type_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LM_Assistencia_Tecnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guardar_Ponto_Situacao_Atual</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Closed?</label>
        <locationX>6236</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StatusCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AT</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Indefinido</name>
        <label>Is Indefinido?</label>
        <locationX>2420</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Justificacao_Preenchida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Indefinido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Causa_do_Pedido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indefinida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Decisão abrir AT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Decisão não abrir AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_State_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Installer_Set</name>
        <label>Is Installer Set?</label>
        <locationX>4230</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao_IsInstallerSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Installer_AT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecord</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParceiroNaoAceitouAT</name>
        <label>PDS = Parceiro não aceitou AT?</label>
        <locationX>2420</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_State_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ParceiroNaoAceitouAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pontoSituacaoAtual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parceiro não aceitou AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Indefinido</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Justificacao_Preenchida</name>
        <label>Justificação Preenchida?</label>
        <locationX>4262</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Set_Folloup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_JustificacaoPreenchida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Justificacao_da_Causa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_com_Justificacao_Record</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro_Reconsiderou_AT_Decision</name>
        <label>Parceiro Reconsiderou AT?</label>
        <locationX>2294</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>setFlagRejeitado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Reconsiderou_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parceiro_Reconsiderou_AT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parceiro_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro_Rejeitou_AT_ClienteRejeitouOrcamento</name>
        <label>Parceiro Rejeitou AT?</label>
        <locationX>3702</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>getMetadataDeslocacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_Parceiro_Rejeitou_AT_ClienteRejeitouOrcamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Confirm_Concluir</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parceiro_Rejeitou_AT_ServicoConcluido</name>
        <label>Parceiro Rejeitou AT?</label>
        <locationX>3262</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_Parceiro_Rejeitou_AT_ServicoConcluido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Confirm_Concluir</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Só pode reagendar se estiver esperando relatório técnico e não tem justificação da causa</description>
        <name>podeReagendar</name>
        <label>podeReagendar?</label>
        <locationX>1301</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IsParceiroNaoAceitouAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_PodeReagendar</name>
            <conditionLogic>(1 AND 4 ) OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda relatório técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda relatório de peritagem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda relatório do Fornecedor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Justificao_da_Causa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dataReagendadaScreen</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ponto_Situacao</name>
        <label>Ponto Situação</label>
        <locationX>4262</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>SLA_Internos_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Decisao_Abrir_AT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decisão abrir AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Produtos_a_fornecedor</targetReference>
            </connector>
            <label>Decisao Abrir AT</label>
        </rules>
        <rules>
            <name>Decisao_nao_abrir_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decisão não abrir AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Concluir_NaoAbrirAT</targetReference>
            </connector>
            <label>Decisao nao abrir AT</label>
        </rules>
        <rules>
            <name>Peritagem_Solicitada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peritagem solicitada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Peritagem</targetReference>
            </connector>
            <label>Peritagem Solicitada</label>
        </rules>
        <rules>
            <name>peritagemNaoSolicitada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peritagem não solicitada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getMetadataDeslocacao</targetReference>
            </connector>
            <label>peritagemNaoSolicitada</label>
        </rules>
        <rules>
            <name>parceiro_nao_aceitou_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pontoSituacaoAtual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parceiro não aceitou AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro_reconsiderou_AT_screen</targetReference>
            </connector>
            <label>parceiro nao aceitou AT</label>
        </rules>
        <rules>
            <name>aguarda_conclusao_parceiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda conclusão do Parceiro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custos_InstaladorRejeitouAT</targetReference>
            </connector>
            <label>aguarda conclusao parceiro</label>
        </rules>
        <rules>
            <name>parceiro_concluiu_servico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parceiro concluiu serviço</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro_Rejeitou_AT_ServicoConcluido</targetReference>
            </connector>
            <label>parceiro concluiu servico</label>
        </rules>
        <rules>
            <name>cliente_nao_aceitou_orcamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente não aceitou orçamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parceiro_Rejeitou_AT_ClienteRejeitouOrcamento</targetReference>
            </connector>
            <label>cliente nao aceitou orcamento</label>
        </rules>
        <rules>
            <name>fornecedor_identificou_causa_instalacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fornecedor identificou causa Instalação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FornecedorIdentificouCausaInstalacao</targetReference>
            </connector>
            <label>fornecedor identificou causa instalacao</label>
        </rules>
        <rules>
            <name>fornecedorConcluiuServico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fornecedor concluiu serviço</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concluir_ou_Preencher_Custos</targetReference>
            </connector>
            <label>fornecedorConcluiuServico</label>
        </rules>
        <rules>
            <name>Concluir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluída</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Concluir</targetReference>
            </connector>
            <label>Concluir</label>
        </rules>
        <rules>
            <name>Responsabilidade_Civil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsabilidade Civil acionada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Responsabilidade_Civil_CB</targetReference>
            </connector>
            <label>Responsabilidade Civil</label>
        </rules>
        <rules>
            <name>Cancelar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmar_Cancelamento_Screen</targetReference>
            </connector>
            <label>Cancelar</label>
        </rules>
        <rules>
            <name>agendamentoDaData</name>
            <conditionLogic>(1 OR 2 OR  3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento de peritagem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento do Fornecedor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda agendamento do Parceiro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dataATual</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Data_de_Visita_null</targetReference>
            </connector>
            <label>agendamentoDaData</label>
        </rules>
        <rules>
            <name>relatorioTecnicoRecebido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Justificao_da_Causa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pontoSituacaoAtual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda relatório técnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>relatorioRecebido</targetReference>
            </connector>
            <label>relatorioTecnicoRecebido</label>
        </rules>
        <rules>
            <name>aguardaRelatorioPeritagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguarda relatório de peritagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PDS_Relatorio_Recebido</targetReference>
            </connector>
            <label>aguardaRelatorioPeritagem</label>
        </rules>
        <rules>
            <name>Enviar_AT_a_outro_parceiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Ponto_de_Situacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enviar AT a outro Parceiro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Installers_AT</targetReference>
            </connector>
            <label>Enviar AT a outro parceiro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Produtos_a_fornecedor</name>
        <label>Produtos a fornecedor?</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Installers_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Produtos_Fornecedor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEQUENOS ELETRODOMESTICOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JANELAS PAREDE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESQUENTADORES DE GAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TERMOS ELECTRICOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOMBAS CALOR AR AGUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Tipo_de_Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAMPOS COMPOSTOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPontoDeSituacao</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reagendado</name>
        <label>Reagendado?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_State_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>sim_Reagendado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_reagendada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNovaDataVisita</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Internos_to_update</name>
        <label>SLA Internos to update</label>
        <locationX>1301</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Update_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SLAInternosToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLA_Internos</targetReference>
            </connector>
            <label>Have Records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CanceladoPDSOption</name>
        <dataType>String</dataType>
        <displayField>NextPDS__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NextPDS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <object>PDS_Options_AT__mdt</object>
        <outputAssignments>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <field>NextPDS__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Causa_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Causa_do_Pedido__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PDS_Choice</name>
        <dataType>String</dataType>
        <displayField>NextPDS__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrentPDS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pontoSituacaoAtual</elementReference>
            </value>
        </filters>
        <object>PDS_Options_AT__mdt</object>
        <outputAssignments>
            <assignToReference>recordId.Ponto_de_Situacao__c</assignToReference>
            <field>NextPDS__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>activateDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW())</expression>
    </formulas>
    <interviewLabel>Update AT State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LM Update AT State</label>
    <loops>
        <name>SLAs_Internos</name>
        <label>SLAs Internos</label>
        <locationX>5682</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_SLA_Internos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Each_SLA_Interno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setStatusConcluido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AT_Metadata</name>
        <label>Get AT Metadata</label>
        <locationX>2162</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Receivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installers_AT</name>
        <label>Get Installers AT</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installers_AT_Filtered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Installer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_LM_Installer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NIF__c</queriedFields>
        <queriedFields>Processos__c</queriedFields>
        <queriedFields>E_mail_Empresa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parceiro_Email_Template</name>
        <label>Get Parceiro Email Template</label>
        <locationX>2162</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AT_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Email_AT_Instalador</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Internos</name>
        <label>Get SLA Internos</label>
        <locationX>5682</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SLAs_Internos</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>activateDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Internal_SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1062</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_Em_Confirmacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetATMetadata</name>
        <label>GetATMetadata</label>
        <locationX>1370</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendSMSPedidoRejeitado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetadataDeslocacao</name>
        <label>getMetadataDeslocacao</label>
        <locationX>3834</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setValorDeslocacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LM_Assistencia_Tecnica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LM_Autocrat_Process_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSMSCliente</name>
        <label>getSMSCliente</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetATMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DecisaoNaoAbrirAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1301</locationX>
        <locationY>3506</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_before_Token</name>
        <label>Update Order before Token</label>
        <locationX>1062</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>LM_Validate_Token_Flow</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Internos</name>
        <label>Update SLA Internos</label>
        <locationX>1169</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>SLA_Interno_Updated</targetReference>
        </connector>
        <inputReference>SLAInternosToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>4098</locationX>
        <locationY>1706</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Installers_AT</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Concluir</name>
        <label>Confirm Concluir</label>
        <locationX>5682</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SLA_Internos</targetReference>
        </connector>
        <fields>
            <name>Warning_Display_Text</name>
            <fieldText>&lt;p&gt;Depois de concluir, o pedido não poderá ser alterado. Tem a certeza que deseja continuar?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmar</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirmar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Confirme para avançar.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirmar} =  true</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Concluir_NaoAbrirAT</name>
        <label>Confirm Concluir NaoAbrirAT</label>
        <locationX>1370</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSMSCliente</targetReference>
        </connector>
        <fields>
            <name>Warning_Display_Text_NaoAbrirAT</name>
            <fieldText>&lt;p&gt;Depois de rejeitar, o pedido não poderá ser alterado. Tem a certeza que deseja continuar?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmar_NaoAbrirAT</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirmar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Confirme para avançar.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirmar_NaoAbrirAT} =  true</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmar_Cancelamento_Screen</name>
        <label>Confirmar Cancelamento Screen</label>
        <locationX>6210</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status_Cancelado</targetReference>
        </connector>
        <fields>
            <name>Confirmar_Cancelamento_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Depois de cancelar, o pedido não poderá ser alterado. Tem a certeza que deseja continuar?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmar_Cancelamento</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirmar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Confirme para avançar.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirmar_Cancelamento} = True</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>dataReagendadaScreen</name>
        <label>dataReagendadaScreen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reagendado</targetReference>
        </connector>
        <fields>
            <name>Data_reagendada</name>
            <dataType>Boolean</dataType>
            <fieldText>Data de visita ao cliente reagendada?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nova_Data_Visita</name>
            <dataType>DateTime</dataType>
            <fieldText>Nova data de visita</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Data_reagendada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>5770</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Existem SLA Internos com data fim por preencher. Antes de concluir a AT é necessário preencher os SLA Internos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>7706</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Não é possível executar operação no estado atual do pedido de serviço&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parceiro_reconsiderou_AT_screen</name>
        <label>Parceiro reconsiderou AT screen</label>
        <locationX>2294</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parceiro_Reconsiderou_AT_Decision</targetReference>
        </connector>
        <fields>
            <name>Parceiro_Reconsiderou_AT</name>
            <dataType>Boolean</dataType>
            <fieldText>Parceiro Reconsiderou AT</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecionar_Instalador_Screen</name>
        <label>Selecionar Instalador Screen</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_InstallerVars</targetReference>
        </connector>
        <fields>
            <name>label_SelecionarInstador</name>
            <fieldText>&lt;p&gt;Selecione o Parceiro Instalador na tabela abaixo:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecionar_Instalador_DT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selecionar Instalador</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Installers_AT_Filtered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0b0a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NIF__c&quot;,&quot;guid&quot;:&quot;column-df1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;NIF&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Custos_InstaladorRejeitouAT</name>
        <label>Set Custos InstaladorRejeitouAT</label>
        <locationX>2822</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setValoresDeslocacao</targetReference>
        </connector>
        <fields>
            <name>label_ValoresDeDeslocacao</name>
            <fieldText>&lt;p&gt;O parceiro instalador recusou realizar o serviço, insira abaixo os custos a serem imputados ao mesmo:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>valoresATcliente</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Insira abaixo os custos a serem imputados:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Parceiro_Instalador_Rejeitou_AT__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>valor_deslocacao</name>
            <dataType>Currency</dataType>
            <fieldText>Valor Deslocação</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Valor_Mao_de_Obra</name>
            <dataType>Currency</dataType>
            <fieldText>Valor Mão de Obra</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Valor_do_Produto</name>
            <dataType>Currency</dataType>
            <fieldText>Valor do Produto</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SLA_Interno_Updated</name>
        <label>Atualização</label>
        <locationX>1169</locationX>
        <locationY>3314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Foi atualizado o SLA Interno existente com data superior a data de Ativação da AT.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_State_Screen</name>
        <label>Update State Screen</label>
        <locationX>2508</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Indefinido</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Update_State_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Atualizar ponto de situação do Pedido&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento do Parceiro</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento do Fornecedor</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento de peritagem</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Causa_do_Pedido__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>(1 AND 3 ) OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório técnico</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório de peritagem</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>justifiacacaoAtual</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Warning_Indefinido</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;Não é possível selecionar causa Indefinida.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Indefinido</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Causa_do_Pedido__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Indefinida</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Ponto_de_Situacao__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Data_visita_instalador__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento do Parceiro</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento do Fornecedor</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda agendamento de peritagem</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Justificacao_da_Causa</name>
            <defaultValue>
                <stringValue>{!justifiacacaoAtual}</stringValue>
            </defaultValue>
            <fieldText>Justificação da Causa</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(2 AND 3) OR 1</conditionLogic>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório de peritagem</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório técnico</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>justifiacacaoAtual</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Followup_Perit</name>
            <dataType>String</dataType>
            <fieldText>Follow-up</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório técnico</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pontoSituacaoAtual</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aguarda relatório de peritagem</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>6110</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Closed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LM_Validate_Token_Flow</name>
        <label>LM Validate Token Flow</label>
        <locationX>1062</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Set_Order_Confirmado</targetReference>
        </connector>
        <flowName>LM_Validate_Token</flowName>
        <inputAssignments>
            <name>varAccount</name>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrder</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>varOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BCC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>causaATatual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Installers_AT_Filtered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>dataATual</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Indef_or_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>justifiacacaoAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pontoSituacaoAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>SLAInternosToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Internal_SLA__c</objectType>
    </variables>
</Flow>
