force-app/main/default/flows/OpportunityTaskRuleDispatcher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Task_Rules_Action</name>
        <label>Evaluate Task Rules Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TaskRuleEngine</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__OldRecord</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__Record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OldRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TriggerEvent</name>
            <value>
                <elementReference>TriggerEvent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TriggerType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TaskRuleEngine</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsNewOrStageChanged</name>
        <label>IsNew Or Stage Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsNewOrStageChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Task_Rules_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TriggerEvent</name>
        <dataType>String</dataType>
        <expression>IF(ISNEW(), &apos;OnCreate&apos;, IF(TEXT({!$Record.StageName})  != TEXT({!$Record__Prior.StageName}), &apos;OnStageChange&apos;, &apos;OnUpdate&apos;))</expression>
    </formulas>
    <interviewLabel>OpportunityTaskRuleDispatcher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Rule - Opportunity Dispatcher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNewOrStageChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesProject</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
