force-app/main/default/flows/SCH_Service_Appointment_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SCH_Confirmation_Stage</name>
        <label>Confirmation Stage</label>
        <locationX>1448</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Set_SA</name>
        <label>Set SA</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Get_SA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClientNoShow</name>
        <choiceText>No Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientShow</name>
        <choiceText>Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Show</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SCH_SA_Canceled</name>
        <label>SA Canceled</label>
        <locationX>999</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>SCH_SA_Completed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCH_Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCH_Get_SA_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCH_Get_SA_Details.SCH_MotivosConclusao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Confirmation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>SCH_Date_Before_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_SA.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SCH_ActualDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_InformationScreen</targetReference>
            </connector>
            <label>Date Before Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_SA_Details_Exists</name>
        <label>SA Details Exists?</label>
        <locationX>1002</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>SCH_Create_SA_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_SA_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Update_SA_Details</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SCH_MotivoConclusao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SCH_MotivosConclusao__c</picklistField>
        <picklistObject>SCH_Service_Appointment_Details__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SCH_ActualDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Service Appointment Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SCH_Create_SA_Details</name>
        <label>Create SA Details</label>
        <locationX>1246</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>SCH_Update_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>SCH_MotivosConclusao__c</field>
            <value>
                <elementReference>SCH_RazaoConclusao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_Observacoes__c</field>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_ServiceAppointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SCH_Service_Appointment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>SCH_Get_SA</name>
        <label>Get SA</label>
        <locationX>776</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Get_SA_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_SA_Details</name>
        <label>Get SA Details</label>
        <locationX>887</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_SA_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCH_ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_SA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCH_Service_Appointment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SCH_Update_SA</name>
        <label>Update SA</label>
        <locationX>1322</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>SCH_Confirmation_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_SA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>SCH_Update_SA_Details</name>
        <label>Update SA Details</label>
        <locationX>1103</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>SCH_Update_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_SA_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCH_MotivosConclusao__c</field>
            <value>
                <elementReference>SCH_RazaoConclusao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_Observacoes__c</field>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </inputAssignments>
        <object>SCH_Service_Appointment_Details__c</object>
    </recordUpdates>
    <screens>
        <name>SCH_Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1448</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCH_flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>SCH_Get_SA.Status</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCH_InformationScreen</name>
        <label>Informação</label>
        <locationX>1244</locationX>
        <locationY>464</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCH_Informacao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível concluir esta marcação.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;A data da conclusão tem que ser posterior à data da marcação. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCH_SA_Completed_Screen</name>
        <label>SA Completed Screen</label>
        <locationX>1010</locationX>
        <locationY>491</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCH_SA_Details_Exists</targetReference>
        </connector>
        <fields>
            <name>SCH_RazaoConclusao</name>
            <choiceReferences>SCH_MotivoConclusao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razão Conclusão</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please choose why is this SA completed&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observacoes</name>
            <dataType>String</dataType>
            <fieldText>Observações</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>SCH_ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation Stage</label>
        <stageOrder>70</stageOrder>
    </stages>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SCH_Set_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
