force-app/main/default/flows/SCH_Appointment_SMS_Reminder_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SCH_InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>et</name>
            <value>
                <elementReference>SMSTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sa</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSTo</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCH_InvocableSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_SMS_Template_InPerson</name>
        <label>Set SMS Template InPerson</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SMSTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SMS_Template_InPerson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichClientType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SMS_Template_Online</name>
        <label>Set SMS Template Online</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SMSTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SMS_Template_Online</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichClientType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhoneAcc</name>
        <label>SetPhoneAcc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhoneLead</name>
        <label>SetPhoneLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileOrPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhoneOpp</name>
        <label>SetPhoneOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentOpportunity.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WhichClientType</name>
        <label>WhichClientType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentOpportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichEngagementChannel</name>
        <label>WhichEngagementChannel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementChannelType.ContactPointType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template_Online</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Presencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementChannelType.ContactPointType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InPerson</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template_InPerson</targetReference>
            </connector>
            <label>Presencial</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MobileOrPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetParentLead.MobilePhone}), 
{!GetParentLead.Phone}, 
{!GetParentLead.MobilePhone})</expression>
    </formulas>
    <interviewLabel>Daily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH Appointment SMS Reminder Daily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Account</name>
        <label>Get Parent Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPhoneAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template_InPerson</name>
        <label>Get SMS Template InPerson</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SMS_Template_InPerson</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS_Appointment_Reminder_InPerson</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template_Online</name>
        <label>Get SMS Template Online</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SMS_Template_Online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS_Appointment_Reminder_Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentLead</name>
        <label>GetParentLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPhoneLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentOpportunity</name>
        <label>GetParentOpportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPhoneOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhichEngagementChannel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DaysUntilAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-03</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
</Flow>
