force-app/main/default/flows/SCH_Verify_Owner_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>SCH_Compare_Owner_Lead_with_Resource_Service_Appointment</name>
        <label>Compare Owner Lead with Resource Service Appointment</label>
        <locationX>532</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>SCH_Get_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCH_Owner_NotEqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_Lead.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCH_Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owner</targetReference>
            </connector>
            <label>Owner Not Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_Owner_SA_with_SR</name>
        <label>Owner SA with SR</label>
        <locationX>665</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>SCH_Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Owner SA</defaultConnectorLabel>
        <rules>
            <name>SCH_Owner_SA_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_SA.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Update_SA_0</targetReference>
            </connector>
            <label>Owner SA Equal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Owner After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH_Verify Owner After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SCH_Get_Lead</name>
        <label>Get Lead</label>
        <locationX>532</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Compare_Owner_Lead_with_Resource_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_SA</name>
        <label>Get SA</label>
        <locationX>675</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Owner_SA_with_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SCH_Update_SA</name>
        <label>Update SA</label>
        <locationX>661</locationX>
        <locationY>876</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_SA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_Owner_TF__c</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>SCH_Update_SA_0</name>
        <label>Update SA</label>
        <locationX>806</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_SA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCH_Owner_TF__c</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>408</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>SCH_Get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>406</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SCH_Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRequiredResource</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
