force-app/main/default/flows/SCH_UpdateEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SCH_Assign_Account</name>
        <label>Assign Account</label>
        <locationX>638</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>SCH_NameClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>784</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>SCH_NameClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_Event_Name</name>
        <label>Assign_Event_Name</label>
        <locationX>674</locationX>
        <locationY>1357</locationY>
        <assignmentItems>
            <assignToReference>SCH_Loop.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_EventSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_Loop.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_DescriptionEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_Events_Collec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SCH_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_Event_Name_Op</name>
        <label>Assign_Event_Name_Op</label>
        <locationX>821</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>SCH_Loop.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(OP){!SCH_EventSubject}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_Loop.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_DescriptionEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_Events_Collec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SCH_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>1108</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>SCH_NameClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Lead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_or_Account</name>
        <label>Contact or Account</label>
        <locationX>776</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCH_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCH_AssignedContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>SCH_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>SCH_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_SR_Is_Required</name>
        <label>SR Is Required</label>
        <locationX>816</locationX>
        <locationY>1216</locationY>
        <defaultConnector>
            <targetReference>SCH_Assign_Event_Name_Op</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCH_Is_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Loop.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Assign_Event_Name</targetReference>
            </connector>
            <label>Is required</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SCH_DescriptionEvent</name>
        <dataType>String</dataType>
        <expression>&quot;Marcação Projeto:&quot;+ {!$Record.AppointmentNumber}</expression>
    </formulas>
    <formulas>
        <name>SCH_EventSubject</name>
        <dataType>String</dataType>
        <expression>{!SCH_NameClient} +&quot; - &quot;+ {!$Record.EngagementChannelType.Name} + &quot; - &quot; + {!$Record.ServiceTerritory.Name} +&quot; - &quot; + {!$Record.WorkType.Name}</expression>
    </formulas>
    <interviewLabel>SCH_UpdateEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH_UpdateEvent</label>
    <loops>
        <name>SCH_Loop</name>
        <label>Loop</label>
        <locationX>783</locationX>
        <locationY>955</locationY>
        <collectionReference>SCH_Get_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SCH_SR_Is_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SCH_Update_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SCH_Get_Account</name>
        <label>Get Account</label>
        <locationX>533</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Assign_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Contact</name>
        <label>Get Contact</label>
        <locationX>785</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Assign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCH_AssignedContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Event</name>
        <label>Get Event</label>
        <locationX>778</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_or_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Lead</name>
        <label>Get Lead</label>
        <locationX>989</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Assign_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SCH_Update_Event</name>
        <label>Update Event</label>
        <locationX>1118</locationX>
        <locationY>1171</locationY>
        <inputReference>SCH_Events_Collec</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>SCH_Schedule_Path</name>
            <connector>
                <targetReference>SCH_Get_Event</targetReference>
            </connector>
            <label>Schedule Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SCH_Events_Collec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>SCH_NameClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
