force-app/main/default/flows/SCH_Remove_Available_Appointment_Slot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Summary</name>
        <label>Has Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHas_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppoitmentSummary.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appointment_Slot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCH - Remove Available Appointment Slot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH - Remove Available Appointment Slot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AppoitmentSummary</name>
        <label>Get Appoitment Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EngagementChannelType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EngagementChannelTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AppointmentSlotSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment_Slot</name>
        <label>Update Appointment Slot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentSlotSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppoitmentSummary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCH_Service_Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AppointmentSlot__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AppoitmentSummary</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
