force-app/main/default/flows/SCH_ServiceAppointmentCancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Cancel_Appointment_Action</name>
        <label>Cancel Appointment Action</label>
        <locationX>1279</locationX>
        <locationY>357</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Appointment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>CancellationStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>859</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>CancellationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Details_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_Resource</name>
        <label>Assign Resource</label>
        <locationX>558</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>SCH_AssignedResource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SCH_Get_Assigned_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Assign_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCH_Assign_User</name>
        <label>Assign User</label>
        <locationX>685</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>SCH_User</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_Permission_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>806</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Cancel_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SA_Details.SCH_RazaoCancelamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Details_exists</name>
        <label>SA Details exists?</label>
        <locationX>1060</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Create_SA_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Details</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_Which_PS</name>
        <label>Which PS</label>
        <locationX>654</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>SCH_Informacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCH_PS_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SCH_PSG_SCH_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appointment_Status_Category</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
        <rules>
            <name>SCH_PS_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SCH_PSG_SCH_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appointment_Status_Category</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
        <rules>
            <name>SCH_PS_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCH_DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SCH_PSG_SCH_Colaborador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appointment_Status_Category</targetReference>
            </connector>
            <label>Resource</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SCH_RazaoCancelamento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SCH_RazaoCancelamento__c</picklistField>
        <picklistObject>SCH_Service_Appointment_Details__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Service Appointment - Cancel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Cancel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SA_Details</name>
        <label>Create SA Details</label>
        <locationX>1279</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Cancel_Appointment_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>SCH_Observacoes__c</field>
            <value>
                <elementReference>SCH_ObservacoesCancelamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_RazaoCancelamento__c</field>
            <value>
                <elementReference>SCH_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_ServiceAppointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SCH_Service_Appointment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SA_Details</name>
        <label>Get SA Details</label>
        <locationX>318</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCH_ServiceAppointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCH_Service_Appointment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>428</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Assign_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>176</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Details</name>
        <label>Update SA Details</label>
        <locationX>1154</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Cancel_Appointment_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCH_ObservacoesCancelamento__c</field>
            <value>
                <elementReference>SCH_ObservacoesCancelamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCH_RazaoCancelamento__c</field>
            <value>
                <elementReference>SCH_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>SCH_Service_Appointment_Details__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Appointment</name>
        <label>Cancel Appointment</label>
        <locationX>856</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <fields>
            <name>SCH_Reason</name>
            <choiceReferences>SCH_RazaoCancelamento</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razão de Cancelamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCH_ObservacoesCancelamento</name>
            <dataType>String</dataType>
            <fieldText>Observações Cancelamento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1278</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>ServiceAppointment.StatusCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Não tens permissões para modificar esta marcação.</description>
        <name>SCH_Informacao</name>
        <label>SCH_Informacao</label>
        <locationX>624</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCH_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Não tens permissões para cancelar esta marcação.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Esta marcação apenas pode ser cancelada pelo manager, admin ou colaborador assignado à mesma.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SCH_Permission_Set</name>
        <label>Permission Set</label>
        <locationX>475</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>SCH_Which_PS</targetReference>
        </connector>
        <flowName>SCH_PS_Assignments</flowName>
        <inputAssignments>
            <name>SCH_User</name>
            <value>
                <elementReference>SCH_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>SCH_Get_Assigned_Resource.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SCH_DeveloperName</assignToReference>
            <name>SCH_DeveloperName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CancellationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_AssignedResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_PS_DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
