force-app/main/default/flows/SCH_PS_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SCH_Assign_DeveloperName</name>
        <label>Assign_DeveloperName</label>
        <locationX>773</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>SCH_DeveloperName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SCH_DeveloperNameLoop.PermissionSetGroup.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCH_DeveloperNameLoop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SCH_PS_Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH_PS_Assignments</label>
    <loops>
        <name>SCH_DeveloperNameLoop</name>
        <label>DeveloperName Loop</label>
        <locationX>954</locationX>
        <locationY>197</locationY>
        <collectionReference>SCH_GET_Permission_Set_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SCH_Assign_DeveloperName</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SCH_GET_Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_DeveloperNameLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCH_User</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SCH_GET_Permission_Set_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCH_DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCH_PSGName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
