force-app/main/default/flows/SCH_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetMergedEmailBody</name>
        <label>GetMergedEmailBody</label>
        <locationX>1101</locationX>
        <locationY>3012</locationY>
        <actionName>SCH_EmailTemplateMerger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCH_Send_Email_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>GetEmailTemplatefromMapping</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCH_EmailTemplateMerger</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SCH_Send_Email_Account</name>
        <label>Send Email</label>
        <locationX>1254</locationX>
        <locationY>2728</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>IsSMSFilled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SCH_EmailsToSendAcc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lmcare@leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>GetMergedEmailBody.mergedSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetMergedEmailBody.mergedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SCH_Send_Email_Other</name>
        <label>Send Email</label>
        <locationX>1066</locationX>
        <locationY>2733</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>IsSMSFilled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lmcare@leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>GetEmailTemplatefromMapping.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>emailDestination</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SCH_Send_SMS_Account_ComEmail_0</name>
        <label>Send SMS</label>
        <locationX>1507</locationX>
        <locationY>2926</locationY>
        <actionName>SCH_InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>et</name>
            <value>
                <elementReference>GetSMSTemplatefromMapping</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sa</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSTo</name>
            <value>
                <elementReference>smsDestination</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCH_InvocableSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SCH_Assign_People_To_Send_0_0_0_0_0_0</name>
        <label>Assign People To Send</label>
        <locationX>748</locationX>
        <locationY>3012</locationY>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailDestination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMergedEmailBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Destination_Account</name>
        <label>Set Email Destination Account</label>
        <locationX>47</locationX>
        <locationY>2082</locationY>
        <assignmentItems>
            <assignToReference>emailDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Account.E_mail_Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>smsDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailDestination_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Destination_Contact</name>
        <label>Set Email Destination Contact</label>
        <locationX>685</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>emailDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCH_AssignedContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>smsDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCH_AssignedContact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailDestination_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Destination_Lead</name>
        <label>Set Email Destination Lead</label>
        <locationX>393</locationX>
        <locationY>1941</locationY>
        <assignmentItems>
            <assignToReference>emailDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_or_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Destination_PersonAccount</name>
        <label>Set Email Destination PersonAccount</label>
        <locationX>196</locationX>
        <locationY>2089</locationY>
        <assignmentItems>
            <assignToReference>emailDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>smsDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCH_Get_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailDestination_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mobile_Phone</name>
        <label>Set Mobile Phone</label>
        <locationX>390</locationX>
        <locationY>2285</locationY>
        <assignmentItems>
            <assignToReference>smsDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailDestination_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone</name>
        <label>Set Phone</label>
        <locationX>501</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>smsDestination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailDestination_Filled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_mapping_exists</name>
        <label>Check if mapping exists</label>
        <locationX>1119</locationX>
        <locationY>1443</locationY>
        <defaultConnectorLabel>Mapping Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Mapping_Exists</name>
            <conditionLogic>((1 AND ((2 AND 3) OR (4 AND 5))) OR 6 OR 8) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presencial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCH_Owner_TF__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementChannelType.ContactPointType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCH_Google_Meet_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled - Updated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMappingSchedulerEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmailTemplatefromMapping</targetReference>
            </connector>
            <label>Mapping Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>emailDestination_Filled</name>
        <label>emailDestination Filled?</label>
        <locationX>445</locationX>
        <locationY>2465</locationY>
        <defaultConnector>
            <targetReference>IsSMSFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is empty</defaultConnectorLabel>
        <rules>
            <name>Email_is_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMappingSchedulerEmailTemplate.EmailTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailFilled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Type_0</targetReference>
            </connector>
            <label>Email is Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSMSFilled</name>
        <label>Is SMS Filled?</label>
        <locationX>1383</locationX>
        <locationY>2614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMappingSchedulerEmailTemplate.SMSTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneFilled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSMSTemplatefromMapping</targetReference>
            </connector>
            <label>SMS Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_or_Phone</name>
        <label>Mobile or Phone</label>
        <locationX>385</locationX>
        <locationY>2097</locationY>
        <defaultConnector>
            <targetReference>Set_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.MobilePhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mobile_Phone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Type</name>
        <label>Parent Type</label>
        <locationX>320</locationX>
        <locationY>1733</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account_ParentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlRelatedToType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Destination_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>PersonAccount_ParentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlRelatedToType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Destination_PersonAccount</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
        <rules>
            <name>Lead_ParentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlRelatedToType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Destination_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact_ParentType_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlRelatedToType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Destination_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Type_0</name>
        <label>Parent Type</label>
        <locationX>580</locationX>
        <locationY>2737</locationY>
        <defaultConnector>
            <targetReference>Recipient_Email_Filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account_ParentType_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlRelatedToType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Assign_People_To_Send_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_Email_Filled</name>
        <label>Recipient Email Filled?</label>
        <locationX>825</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>IsSMSFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SCH_Get_Account.E_mail_Empresa__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCH_AssignedContact__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Send_Email_Other</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_Compare_Owner_Lead_with_Resource_Service_Appointment</name>
        <label>Compare Owner Lead with Resource Service Appointment</label>
        <locationX>1455</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>SCH_Update_Owner_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Owner</defaultConnectorLabel>
        <rules>
            <name>SCH_Owner_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SCH_Get_Assigned_Resource.ServiceResource.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Owner_SA_with_SR</targetReference>
            </connector>
            <label>Owner Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_Owner_SA_with_SR</name>
        <label>Owner SA with SR</label>
        <locationX>1456</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>SCH_Update_Owner_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Owner SA</defaultConnectorLabel>
        <rules>
            <name>SCH_Owner_SA_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SCH_Get_Assigned_Resource.ServiceResource.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Opp</targetReference>
            </connector>
            <label>Owner SA Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCH_Which_Action</name>
        <label>Which Action</label>
        <locationX>719</locationX>
        <locationY>578</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>SCH_ModifiedAppointment</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCH_Service_Resource_Changed_TF__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCH_Get_Assigned_Resource</targetReference>
            </connector>
            <label>Modified</label>
        </rules>
        <rules>
            <name>SCH_Update_Status_or_New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCH_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Opp</targetReference>
            </connector>
            <label>Update Status or New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Email is filled in Account, PA, Lead or Contact</description>
        <name>EmailFilled</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!emailDestination}))</expression>
    </formulas>
    <formulas>
        <name>fmlRelatedToType</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK($Record.SCH_AssignedContact__c)),
    &quot;Contact&quot;,
    IF(
        BEGINS($Record.ParentRecordId, &quot;00Q&quot;),
        &quot;Lead&quot;,
        IF(
            AND(
                BEGINS($Record.ParentRecordId, &quot;001&quot;),
                $Record.Account.RecordType.DeveloperName = &quot;PersonAccount&quot;
            ) 
           ||
            AND(
                BEGINS($Record.ParentRecordId, &quot;006&quot;),
                {!Get_Parent_Opp.Account.RecordType.DeveloperName} = &quot;PersonAccount&quot;
            ),
            &quot;Person Account&quot;,
            &quot;Account&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <description>Phone is filled in Account, PA, Lead or Contact</description>
        <name>PhoneFilled</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!smsDestination}))</expression>
    </formulas>
    <formulas>
        <name>SCH_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH_Confirmation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>727</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Which_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opp</name>
        <label>Get Parent Opp</label>
        <locationX>727</locationX>
        <locationY>1038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailTemplatefromMapping</name>
        <label>Get Email Template from Mapping</label>
        <locationX>999</locationX>
        <locationY>1724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMappingSchedulerEmailTemplate.EmailTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMappingSchedulerEmailTemplate</name>
        <label>GetMappingSchedulerEmailTemplate</label>
        <locationX>726</locationX>
        <locationY>1441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_mapping_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlRelatedToType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>EngagementType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EngagementChannelType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MappingSchedulerEmailTemplate__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSMSTemplatefromMapping</name>
        <label>Get SMS Template from Mapping</label>
        <locationX>1507</locationX>
        <locationY>2718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Send_SMS_Account_ComEmail_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMappingSchedulerEmailTemplate.SMSTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Account</name>
        <label>Get Account</label>
        <locationX>727</locationX>
        <locationY>1230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMappingSchedulerEmailTemplate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCH_Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>1101</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCH_Compare_Owner_Lead_with_Resource_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRequiredResource</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SCH_Update_Owner_Lead</name>
        <label>Update Owner Lead</label>
        <locationX>976</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>SCH_Owner_SA_with_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SCH_Get_Assigned_Resource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>SCH_Update_Owner_SA</name>
        <label>Update Owner SA</label>
        <locationX>1464</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>Get_Parent_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SCH_Get_Assigned_Resource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>619</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SCH_EmailBodyAccountKitchenInPerson_Scheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Olá, {!$Record.Account.FirstName} {!$Record.Account.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Obrigado por confiar na LEROY MERLIN para tornar o seu projeto realidade!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Confirmamos o seu agendamento para o dia {!&lt;/span&gt;Record&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;.SCH_StartSchedule__c} com o {!&lt;/span&gt;Record&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;.SCH_Service_Resource__c} na loja {!&lt;/span&gt;Record&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;.ServiceTerritory}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Caso pretenda adicionar este agendamento ao seu calendário google clique aqui:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot; {!$Record.SCH_Google_ICS__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 114, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;adicionar&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Para assegurar um planeamento ajustado ao seu espaço e aos seus sonhos, tenha consigo:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;✅ &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Planta ou esquisso do espaço com as medidas da cozinha (comprimento, largura e&amp;nbsp;altura);&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;✅ &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Localização e medidas dos pontos de luz, água, gás, portas e janelas.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;✅&lt;/span&gt; &lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Se possível, imagens atuais do seu espaço e inspirações de estilo para a sua&amp;nbsp;renovação.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Sabemos que imprevistos acontecem! Por isso existe uma tolerância de 15 minutos.&amp;nbsp;Se não conseguir comparecer a tempo, ficaremos felizes em reagendar o seu&amp;nbsp;agendamento.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Se precisar de alterar ou cancelar o seu agendamento, entre em contacto connosco&amp;nbsp;através da nossa linha de apoio: 211944944.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Estamos à disposição para ajudá-lo a transformar o seu projeto em realidade.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Aguardamos a sua visita!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot; title=&quot;adicionar&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(175, 171, 171);&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountKitchenOnline_Scheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Olá, {!$Record.Account.FirstName} {!$Record.Account.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Obrigado por escolher a Leroy Merlin para transformar o seu projeto em realidade!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Confirmamos o seu agendamento para o dia 12/02/2025, às 18:00, com (Nome do&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Vendedor).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;No horário marcado, aceda ao link a partir de um computador, tablet ou smartphone:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!$Record.SCH_Google_Meet_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Para assegurar um planeamento ajustado ao seu espaço e aos seus sonhos, tenha&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;consigo:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14.6667px; color: rgb(0, 0, 0);&quot;&gt;✅ &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Planta ou esquisso do espaço com as medidas da cozinha (comprimento, largura e&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;altura);&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14.6667px; color: rgb(0, 0, 0);&quot;&gt;✅ &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Localização e medidas dos pontos de luz, água, gás, portas e janelas.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px;&quot;&gt;✅&lt;/span&gt; &lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Se possível, imagens atuais do seu espaço e inspirações de estilo para a sua&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;renovação.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Sabemos que imprevistos acontecem! Por isso existe uma tolerância de 15 minutos.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Se não conseguir comparecer a tempo, ficaremos felizes em reagendar o seu&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;agendamento.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Se precisar de alterar ou cancelar o seu agendamento, entre em contacto connosco&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;através da nossa linha de apoio: 211944944.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Estamos à disposição para ajudá-lo a transformar o seu projeto em realidade.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Até breve!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(175, 171, 171); font-size: 10pt;&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountOnline_Canceled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;Informamos que o seu agendamento do projeto&amp;nbsp;&amp;nbsp;{!$Record.AppointmentNumber} foi cancelado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Se necessitar de algum esclarecimento adicional, consulte a nossa página de &lt;/span&gt;&lt;a href=&quot;https://www.leroymerlin.pt/apoio-ao-cliente/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;apoio ao cliente&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(175, 171, 171); font-size: 10pt;&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountOnline_Scheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Obrigada por confiar na LEROY MERLIN para tornar o seu projeto realidade.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Confirmamos o seu agendamento de projeto para o dia &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SCH_StartSchedule__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; com {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;No horário agendado, aceda ao link&amp;nbsp;a partir de um computador, tablet ou smartphone.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Record.SCH_Google_Meet_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Link da marcação&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Agradecemos o seu contato.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot; title=&quot;Link da marcação&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(175, 171, 171);&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountOnline_Update</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;O seu agendamento para o projeto&amp;nbsp;{!$Record.AppointmentNumber} foi alterado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;O novo agendamento foi marcado para o dia&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SCH_StartSchedule__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; com {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;No novo horário agendado, aceda ao link&amp;nbsp;a partir de um computador, tablet ou smartphone.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Record.SCH_Google_Meet_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link da marcação.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Se necessitar de algum esclarecimento adicional, consulte a nossa página de &lt;/span&gt;&lt;a href=&quot;https://www.leroymerlin.pt/apoio-ao-cliente/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;apoio ao cliente&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Agradecemos o seu contato.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot; title=&quot;Link da marcação.&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(175, 171, 171); font-size: 10pt;&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountPresencial_Canceled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Informamos que o seu agendamento do projeto&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;{!$Record.AppointmentNumber} &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;foi cancelado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Se necessitar de algum esclarecimento adicional, consulte a nossa página de &lt;/span&gt;&lt;a href=&quot;https://www.leroymerlin.pt/apoio-ao-cliente/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;apoio ao cliente&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(175, 171, 171); font-size: 10pt;&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountPresencial_Scheduled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Obrigada por confiar na LEROY MERLIN para tornar o seu projeto realidade.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Confirmamos o seu agendamento de projeto para o dia &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SCH_StartSchedule__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; com {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; na loja {!$Record.ServiceTerritory.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Caso pretenda adicionar este agendamento ao seu calendário google clique aqui:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!$Record.SCH_Google_ICS__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;adicionar&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Aguardamos a sua visita.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot; title=&quot;adicionar&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(175, 171, 171); font-size: 10pt;&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SCH_EmailBodyAccountPresencial_Update</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image001?oid=00D3L0000000l6f&quot; alt=&quot;image001&quot;&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Olá,&amp;nbsp;{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;O seu agendamento para o projeto&amp;nbsp;{!$Record.AppointmentNumber} foi alterado.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;O novo agendamento foi marcado para o dia &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SCH_StartSchedule__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; com {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; na loja {!$Record.ServiceTerritory.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Se necessitar de algum esclarecimento adicional, consulte a nossa página de &lt;/span&gt;&lt;a href=&quot;https://www.leroymerlin.pt/apoio-ao-cliente/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;apoio ao cliente&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Caso pretenda adicionar este agendamento ao seu calendário google clique aqui:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!$Record.SCH_Google_ICS__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;adicionar&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Aguardamos a sua visita.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://leroymerlin--lmdevtrh.sandbox.file.force.com/file-asset-public/image002?oid=00D3L0000000l6f&quot; alt=&quot;image002&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A equipa LEROY MERLIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(175, 171, 171);&quot;&gt;© LEROY MERLIN - Bricolage, Construçăo, Decoraçăo e Jardim - 2023&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mappingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MergedEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_EmailsToSendAcc</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_NumberToSend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SCH_ToSend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
