force-app/main/default/flows/SCH_Shift_Recurrence_Ending_Soon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Send_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ManagerUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressCollection</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lmcare@leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!bodyEmailWithManager}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_Without_Manager</name>
        <label>Send Email Action Without Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Send_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailsScheduleManager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressCollection</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>hersilio.b.oliveira@ext.leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lmcare@leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!bodyEmailWithoutManager}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddAssigmentId</name>
        <label>AddAssigmentId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UsersGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupMemberList.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupMemberList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentEmailSchManager</name>
        <label>AssignmentEmailSchManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailsScheduleManager</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailSchManagerList.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailSchManagerList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Emails</name>
        <label>Get Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailsScheduleManager</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Emails_Users_Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Emails_Users_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasManager</name>
        <label>HasManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagerUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Is_Active</name>
        <label>Service Resource Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesService_Resource_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.RelatedRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Uers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <expression>&quot;Turno prestes a expirar - &quot; + {!$Record.ServiceResource.Name} + &quot; | &quot; + {!$Record.ShiftNumber}</expression>
    </formulas>
    <interviewLabel>SCH - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCH - Shift Recurrence Ending Soon</label>
    <loops>
        <name>EmailSchManagerList</name>
        <label>Get Email Sch Manager List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Uers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentEmailSchManager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ManagerUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Emails_Users_Group</name>
        <label>Get Emails Users Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_Action_Without_Manager</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GroupMemberList</name>
        <label>GroupMemberList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GroupMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAssigmentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Uers</name>
        <label>Get Uers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailSchManagerList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UsersSCHManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emails_Users_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UsersGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Group</name>
        <label>GetGroup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gest_o_de_Turnos_a_Expirar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupMember</name>
        <label>GetGroupMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMemberList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ManagerUser</name>
        <label>GetManager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Send_Date</name>
        <label>Update Send Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EndRecurrenceNotificationSentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Resource_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRecurrenceEndingSoon__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </filters>
        <object>Shift</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-24</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEmailWithManager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá&amp;nbsp;{!ManagerUser.Name},&lt;/p&gt;&lt;p&gt;O seguinte turno está prestes a expirar no&amp;nbsp;&lt;strong&gt;Scheduler&lt;/strong&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Colaborador:&lt;/strong&gt;&amp;nbsp;{!$Record.ServiceResource.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Loja de serviço:&lt;/strong&gt;&amp;nbsp;{!$Record.ServiceTerritory.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Tipo de Projeto:&lt;/strong&gt;&amp;nbsp;{!$Record.WorkTypeGroup.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Aceder diretamente ao turno:&lt;/strong&gt;&amp;nbsp;&lt;a href=&quot;{!$Setup.OrgSettings__c.BaseUrl__c}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ShiftNumber}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Solicitamos que atualize este turno com a maior brevidade, de forma a evitar falhas no agendamento.&lt;/p&gt;&lt;p&gt;Obrigado.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyEmailWithoutManager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá,&lt;/p&gt;&lt;p&gt;O seguinte turno está prestes a expirar no&amp;nbsp;&lt;strong&gt;Scheduler&lt;/strong&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Colaborador:&lt;/strong&gt;&amp;nbsp;{!$Record.ServiceResource.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Loja de serviço:&lt;/strong&gt;&amp;nbsp;{!$Record.ServiceTerritory.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Tipo de Projeto:&lt;/strong&gt;&amp;nbsp;{!$Record.WorkTypeGroup.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Aceder diretamente ao turno:&lt;/strong&gt;&amp;nbsp;&lt;a href=&quot;{!$Setup.OrgSettings__c.BaseUrl__c}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ShiftNumber}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Solicitamos que atualize este turno com a maior brevidade, de forma a evitar falhas no agendamento.&lt;/p&gt;&lt;p&gt;Obrigado.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Obs.:&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; Gerente não configurado para o usuário &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.ServiceResource.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailsScheduleManager</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersGroup</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersSCHManagerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
