force-app/main/default/flows/SLA_Interno_ainda_em_aberto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>SLA_Sobreposto</name>
        <label>SLA Sobreposto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_all_SLA_Internos</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Os períodos não podem se sobrepor a SLAs existentes.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Slas_Not_Closed</name>
        <label>Slas Not Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_all_SLA_Internos</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Antes de criar um novo SLA Interno é necessário preencher a Data Fim dos anteriores.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Validation_Rules</name>
        <label>Validation Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_all_SLA_Internos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Data_Fim_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_all_SLA_Internos.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slas_Not_Closed</targetReference>
            </connector>
            <label>SLA Data Fim Empty</label>
        </rules>
        <rules>
            <name>Sobreposicao_sem_data_fim</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Sobreposto</targetReference>
            </connector>
            <label>Sobreposição sem data fim</label>
        </rules>
        <rules>
            <name>Sobreposicao_com_data_fim</name>
            <conditionLogic>((1 AND 2 ) OR (3 AND 4) OR (1 AND 4) OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Validate_all_SLA_Internos.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SLA_Sobreposto</targetReference>
            </connector>
            <label>Sobreposição com data fim</label>
        </rules>
    </decisions>
    <description>Validação que impede a criação de um novo SLA se existirem SLAs em aberto para aquela AT</description>
    <environments>Default</environments>
    <interviewLabel>SLA Interno ainda em aberto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Interno ainda em aberto</label>
    <loops>
        <name>Validate_all_SLA_Internos</name>
        <label>Validate all SLA Internos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_SLAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validation_Rules</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get SLAs from the same Order</description>
        <name>Get_Related_SLAs</name>
        <label>Get Related SLAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_all_SLA_Internos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Internal_SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_SLAs</targetReference>
        </connector>
        <object>Order_Internal_SLA__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
