force-app/main/default/flows/TesteSCH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Teste_emails</name>
        <label>Teste emails</label>
        <locationX>778</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SCH_EmailsToSendAcc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lmcare@leroymerlin.pt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>alhos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>alhos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>TesteAssign</name>
        <label>TesteAssign</label>
        <locationX>777</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>joanatest@chapsmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>joana.sena@techremotehub.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jimprodrigues@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hugocerpa81@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCH_EmailsToSendAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>leonel.rita@techremotehub.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Teste_emails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Teste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TesteAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCH_Owner_TF__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SCH_EmailsToSendAcc</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
